Repository Allmantool/h-budget.UI: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint-css, eslint --fix, npm run lint

chore: 5-Converted only CrossAccountsTransferDialogComponent to standalone
  src/app/modules/shared/components/dialog/cross-accounts-transfer/cross-accounts-transfer-dialog.component.ts
  src/app/modules/shared/dialogs.shared.module.ts
Due: prettier --write, eslint --fix, npm run lint

chore: 6-Converted only PaymentAccountDialogComponent to standalone
  src/app/modules/shared/components/dialog/payment-account/payment-account-dialog.component.ts
  src/app/modules/shared/dialogs.shared.module.ts
  src/tests/share/components/dialog/accounting/cross-accounts-transfer-dialog.component.spec.ts
  src/tests/share/components/dialog/accounting/payment-account-dialog.component.spec.ts
Due: prettier --write, eslint --fix, npm run lint

chore: 7-Converted only MainDashboardComponent to standalone
  src/presentation/main-dashboard/components/dashboard/main-dashboard.component.ts
  src/presentation/main-dashboard/main-dashboard.component.spec.ts
  src/presentation/main-dashboard/main-dashboard.module.ts
Due: prettier --write, eslint --fix, npm run lint

chore: 7-Converted only DashboardLayoutComponent to standalone
  src/app/modules/app-bootstrap/components/dashboard-layout/dashboard-layout.component.spec.ts
  src/app/modules/app-bootstrap/components/dashboard-layout/dashboard-layout.component.ts
  src/presentation/main-dashboard/main-dashboard.module.ts
Due: prettier --write, eslint --fix, npm run lint

chore: 8-Migrated only the root /dashboard
  src/app/modules/app-bootstrap/app-bootstrap-routing.module.ts
  src/tests/accounting/components/payments-history.component.spec.ts
  src/tests/routing/spa-routing.spec.ts
Due: prettier --write, eslint --fix, npm run lint

chore: 9-Removed the dead Main Dashboard NgModule wrappers and moved mainDashboardRoutes into a neutral route file.
  src/app/modules/app-bootstrap/app-bootstrap-routing.module.ts
  src/presentation/main-dashboard/index.ts
  src/presentation/main-dashboard/main-dashboard.module.ts
  src/presentation/main-dashboard/main-dashboard.routes.ts
  src/tests/routing/spa-routing.spec.ts
Due: prettier --write, eslint --fix, npm run lint

chore: 10-Converted only CurrencyRatesLineChartComponent to standalone
  src/presentation/currency-rates/components/currency-rates-line-chart/currency-rates-line-chart.component.ts
  src/presentation/currency-rates/currency-rates.module.ts
  src/tests/currency-rates/components/currency-rates-line-chart.component.spec.ts
Due: prettier --write, eslint --fix, npm run lint

chore: 11-Converted only CurrencyRatesGridComponent to standalone
  src/presentation/currency-rates/components/currency-rates-grid/currency-rates-grid.component.ts
  src/presentation/currency-rates/currency-rates.module.ts
  src/tests/currency-rates/components/currency-rates-grid.component.spec.ts
Due: prettier --write, eslint --fix, npm run lint

chore: 11-Converted CurrencyRatesDashboardComponent to standalone
  docs/angular-coding-standards.md
  src/presentation/currency-rates/components/currency-rates-dashboard/currency-rates-dashboard.component.ts
  src/presentation/currency-rates/currency-rates.module.ts
  src/tests/currency-rates/components/currency-rates-dashboard.component.spec.ts
Due: prettier --write, eslint --fix, npm run lint

chore: 12-Migrated Currency Rates from the lazy NgModule boundary to a standalone
  src/presentation/currency-rates/currency-rates-routing.module.ts
  src/presentation/currency-rates/currency-rates.module.ts
  src/presentation/currency-rates/currency-rates.routes.ts
  src/presentation/currency-rates/index.ts
  src/presentation/main-dashboard/main-dashboard.routes.ts
  src/tests/currency-rates/currency-rates-route-providers.spec.ts
  src/tests/routing/spa-routing.spec.ts
Due: prettier --write, eslint --fix, npm run lint

chore: 12-Converted only PaymentsHistoryComponent to standalone
  src/presentation/accounting/accounting.module.ts
  src/presentation/accounting/components/payments-history/payments-history.component.ts
  src/tests/accounting/components/payments-history.component.spec.ts
Due: prettier --write, eslint --fix, npm run lint

chore: 13-Converted only PaymentsDashboardComponent to standalone
  src/presentation/accounting/accounting.module.ts
  src/presentation/accounting/components/payments-dashboard/payments-dashboard.component.ts
  src/tests/accounting/components/payments-dashboard.component.spec.ts
Due: prettier --write, eslint --fix, npm run lint

chore: 14-Converted PaymentAccountComponent to standalone
  src/presentation/accounting/accounting.module.ts
  src/presentation/accounting/components/payment-account/payment-account.component.ts
  src/tests/accounting/components/payment-account.component.spec.ts
Due: prettier --write, eslint --fix, npm run lint

chore: 15-Converted only PaymentAccountCrudComponent to standalone
  src/presentation/accounting/accounting.module.ts
  src/presentation/accounting/components/payment-account-crud/payment-account-crud.component.ts
  src/tests/accounting/components/payment-account-crud.component.spec.ts
Due: prettier --write, eslint --fix, npm run lint

chore: 16-Converted AccountingOperationsCrudComponent to standalone
  src/presentation/accounting/accounting.module.ts
  src/presentation/accounting/components/accounting-operations-crud/accounting-operations-crud.component.ts
  src/tests/accounting/components/accounting-operations-crud.component.spec.ts
Due: prettier --write, eslint --fix, npm run lint

chore: 17-Converted only AccountingLayoutComponent to standalone
  src/app/modules/app-bootstrap/components/accounting-layout/accounting-layout.component.spec.ts
  src/app/modules/app-bootstrap/components/accounting-layout/accounting-layout.component.ts
  src/presentation/accounting/accounting.module.ts
Due: prettier --write, eslint --fix, npm run lint

chore: 18-Completed the Accounting route/provider boundary migration.
  src/presentation/accounting/accounting-routing.module.ts
  src/presentation/accounting/accounting.routes.ts
  src/presentation/accounting/index.ts
  src/presentation/main-dashboard/main-dashboard.routes.ts
  src/tests/accounting/accounting-route-providers.spec.ts
  src/tests/accounting/mappers/payment-representations.mapping.profile.spec.ts
  src/tests/routing/spa-routing.spec.ts
Due: prettier --write, eslint --fix, npm run lint

Converted BaseLayoutComponent to standalone
  src/app/modules/app-bootstrap/app-bootstrap.module.ts
  src/app/modules/app-bootstrap/components/base-layout/base-layout.component.spec.ts
  src/app/modules/app-bootstrap/components/base-layout/base-layout.component.ts
Due: prettier --write, eslint --fix, npm run lint

test: add test coverage
  src/tests/app-bootstrap/root-provider-http-parity.spec.ts
  src/tests/app-bootstrap/root-provider-material-animation-parity.spec.ts
  src/tests/app-bootstrap/root-provider-ngxs-router-parity.spec.ts
  src/tests/app-bootstrap/root-provider-sentry-parity.spec.ts
  src/tests/app-bootstrap/root-provider-settings-parity.spec.ts
  src/tests/app-bootstrap/support/standalone-root-provider-test-config.ts
Due: prettier --write, eslint --fix, npm run lint

chore: tune
  src/application-bootstrap.ts
  src/main.ts
  src/tests/app-bootstrap/application-bootstrap.spec.ts
Due: prettier --write, eslint --fix, npm run lint

chore: self review
  nx.json
  src/app/modules/app-bootstrap/components/accounting-layout/accounting-layout.component.html
  src/app/modules/app-bootstrap/components/accounting-layout/accounting-layout.component.spec.ts
  src/presentation/accounting/components/payments-dashboard/payments-dashboard.component.html
  src/presentation/accounting/components/payments-dashboard/payments-dashboard.component.ts
  src/tests/accounting/components/payment-account-crud.component.spec.ts
  src/tests/accounting/components/payments-dashboard.component.spec.ts
Due: prettier --write, eslint --fix, npm run lint

chore(release): v1.1.51 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  f0fb6cb993836bb103d7ee5778a9ebb1c009caf9
Due: none

tech: update up to angular v21
  package-lock.json
  package.json
  src/app/modules/app-bootstrap/components/accounting-layout/accounting-layout.component.html
  src/app/modules/app-bootstrap/components/accounting-layout/accounting-layout.component.ts
  src/app/modules/app-bootstrap/components/base-layout/base-layout.component.html
  src/app/modules/app-bootstrap/components/base-layout/base-layout.component.ts
  src/app/modules/app-bootstrap/components/dashboard-layout/dashboard-layout.component.html
  src/app/modules/app-bootstrap/components/dashboard-layout/dashboard-layout.component.ts
  src/app/modules/shared/components/button/app-button.component.html
  src/app/modules/shared/components/dialog/categories/categories-dialog.component.html
  src/app/modules/shared/components/dialog/categories/categories-dialog.component.ts
  src/app/modules/shared/components/dialog/contractors/contractors-dialog.component.html
  src/app/modules/shared/components/dialog/contractors/contractors-dialog.component.ts
  src/app/modules/shared/components/dialog/cross-accounts-transfer/cross-accounts-transfer-dialog.component.html
  src/app/modules/shared/components/dialog/cross-accounts-transfer/cross-accounts-transfer-dialog.component.ts
  src/app/modules/shared/components/divider/app-divider.component.html
  src/app/modules/shared/components/divider/app-divider.component.ts
  src/app/modules/shared/components/form-field/app-form-field.component.html
  src/app/modules/shared/components/form-field/app-form-field.component.ts
  src/app/modules/shared/components/progress-bar/progress-bar.component.html
  src/app/modules/shared/components/progress-bar/progress-bar.component.ts
  src/app/modules/shared/components/progress-spinner/progress-spinner.component.html
  src/app/modules/shared/components/progress-spinner/progress-spinner.component.ts
  src/application-bootstrap.ts
  src/presentation/accounting/components/accounting-operations-crud/accounting-operations-crud.component.html
  src/presentation/accounting/components/accounting-operations-crud/accounting-operations-crud.component.ts
  src/presentation/accounting/components/payment-account/payment-account.component.html
  src/presentation/accounting/components/payment-account/payment-account.component.ts
  src/presentation/accounting/components/payments-dashboard/payments-dashboard.component.html
  src/presentation/accounting/components/payments-dashboard/payments-dashboard.component.ts
  src/presentation/currency-rates/components/currency-rates-dashboard/currency-rates-dashboard.component.html
  src/presentation/currency-rates/components/currency-rates-dashboard/currency-rates-dashboard.component.ts
  src/presentation/currency-rates/components/currency-rates-grid/currency-rates-grid.component.html
  src/presentation/currency-rates/components/currency-rates-grid/currency-rates-grid.component.ts
  src/presentation/currency-rates/components/currency-rates-line-chart/currency-rates-line-chart.component.html
  src/presentation/currency-rates/components/currency-rates-line-chart/currency-rates-line-chart.component.ts
  src/tests/currency-rates/components/currency-rates-dashboard.component.spec.ts
  tools/deps/guard.mjs
  tsconfig.json
Due: prettier --write, eslint --fix, npm run lint

chore: vite migration
  dockerfile
  package-lock.json
  package.json
  project.json
  src/app-settings.ts
  tsconfig.json
Due: prettier --write, eslint --fix, npm run lint

chore: self review
  project.json
Due: prettier --write

chore: upate icons
  package.json
  project.json
  src/index.html
  tools/build/verify-flag-icons-assets.mjs
Due: prettier --write

Tech: fix the issue with update to vesion 22
  .github/workflows/sem-release.yml
  .gitignore
  package.json
  tools/deps/guard.mjs
Due: prettier --write

chore(release): v1.1.52 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  b0cf9019c3ce011f8296daa194c6114c39077452
Due: none

fix: minor-rates-ui-ux-fixes
  src/presentation/currency-rates/components/currency-rates-grid/currency-rates-grid.component.html
  src/presentation/currency-rates/components/currency-rates-line-chart/currency-rates-line-chart.component.ts
  src/presentation/currency-rates/services/line-chart.service.ts
  src/presentation/currency-rates/types/apex-zoom-range.type.ts
Due: prettier --write, eslint --fix, npm run lint

chore(release): v1.1.53 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  053337c36b841ebe0e466c31fc76f2defdcb9c87
Due: none

chore: impeove rates ui ux
  .vscode/extensions.json
  package-lock.json
  package.json
  src/data/providers/rates/national-bank-currencies.provider.ts
  src/domain/usecases/rates/get-today-rates.usecase.ts
  src/presentation/currency-rates/components/currency-rates-grid/currency-rates-grid.component.css
  src/presentation/currency-rates/components/currency-rates-grid/currency-rates-grid.component.html
  src/presentation/currency-rates/components/currency-rates-grid/currency-rates-grid.component.ts
  src/presentation/currency-rates/components/currency-rates-line-chart/currency-rates-line-chart.component.css
  src/presentation/currency-rates/components/currency-rates-line-chart/currency-rates-line-chart.component.html
  src/presentation/currency-rates/types/apex-zoom-range.type.ts
  src/tests/currency-rates/components/currency-rates-dashboard.component.spec.ts
  src/tests/currency-rates/components/currency-rates-grid.component.spec.ts
  src/tests/currency-rates/components/currency-rates-line-chart.component.spec.ts
  src/tests/currency-rates/currency-rates-route-providers.spec.ts
Due: prettier --write, npm run lint-css, eslint --fix, npm run lint

chore(release): v1.1.54 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  a1c9e73caa2d1cb1fb365d493cf67a4cc997f0df
Due: none

build(deps): safe patch dependency upgrade
  package-lock.json
  package.json
Due: prettier --write

chore(release): v1.1.55 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  6081494e0fb9ed69920a5c80d7cb79c0fbda2102
Due: none

Path conditions:
  prettier --write: ((any of: *.css) or (any of: *.{ts, html})) or (any of: *.{js,json,css,scss,less,md,ts,html})
  npm run lint-css: any of: *.css
  eslint --fix: any of: *.{ts, html}
  npm run lint: any of: *.{ts, html}
