Repository Allmantool/h-budget.UI: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint-css, eslint --fix, npm run lint

tech:update packages (#349)
  package-lock.json
  package.json
Due: prettier --write

"Updated version 0.22.68 -> 0.23.68."
  package-lock.json
  package.json
Due: prettier --write

tech: upd. packages
  .github/workflows/update_npm_packages.yml
  package-lock.json
  package.json
Due: prettier --write

tech: upd. packages (#350)
  .github/workflows/update_npm_packages.yml
  package-lock.json
  package.json
Due: prettier --write

"Updated version 0.23.68 -> 0.24.68."
  package-lock.json
  package.json
Due: prettier --write

tech: install npm check update as dev dependency
  package-lock.json
  package.json
Due: prettier --write

tech: install npm check update as dev dependency (#351)
  package-lock.json
  package.json
Due: prettier --write

"Updated version 0.24.68 -> 0.25.68."
  package-lock.json
  package.json
Due: prettier --write

tech: use npm-check-updates
  package.json
Due: prettier --write

chore: self review
  package.json
Due: prettier --write

tech: use npm-check-updates (#353)
  package.json
Due: prettier --write

"Updated version 0.25.68 -> 0.26.68."
  package-lock.json
  package.json
Due: prettier --write

build(deps): upgrade NPM packages (automated)
  package-lock.json
  package.json
Due: prettier --write

"Updated version 0.26.68 -> 0.27.68."
  package-lock.json
  package.json
Due: prettier --write

build(deps): upgrade NPM packages (automated)
  package-lock.json
Due: prettier --write

"Updated version 0.27.68 -> 0.28.68."
  package-lock.json
  package.json
Due: prettier --write

"Updated version 0.28.68 -> 0.29.68."
  package-lock.json
  package.json
Due: prettier --write

"Updated version 0.29.68 -> 0.30.68."
  package-lock.json
  package.json
Due: prettier --write

feat: update packages
  nx.json
  package-lock.json
  package.json
Due: prettier --write

chore: self review
  nx.json
  package-lock.json
  package.json
Due: prettier --write

chore: self review
  .github/workflows/update_npm_packages.yml
  package-lock.json
  src/webpack.config.ts
  webpack/webpack.common.ts
  webpack/webpack.dev.ts
  webpack/webpack.prod.ts
Due: prettier --write, eslint --fix, npm run lint

feat: update packages (#358)
  .github/workflows/update_npm_packages.yml
  package-lock.json
  package.json
  src/webpack.config.ts
  webpack/webpack.common.ts
  webpack/webpack.dev.ts
  webpack/webpack.prod.ts
Due: prettier --write, eslint --fix, npm run lint

"Updated version 0.30.68 -> 0.31.68."
  package-lock.json
  package.json
Due: prettier --write

"Updated version 0.31.68 -> 0.32.68."
  package-lock.json
  package.json
Due: prettier --write

Revert "build(deps): upgrade NPM packages (automated) (#360)"
  package-lock.json
  package.json
Due: prettier --write

chore: add imstallation proccess
  .github/workflows/update_npm_packages.yml
Due: none

Fix/revert migration to v19 (#361)
  .github/workflows/update_npm_packages.yml
  package-lock.json
  package.json
Due: prettier --write

"Updated version 0.32.68 -> 0.33.68."
  package-lock.json
  package.json
Due: prettier --write

tech: update to v19
  package-lock.json
  package.json
Due: prettier --write

chore: self review
  src/app/modules/app-bootstrap/components/accounting-layout/accounting-layout.component.ts
  src/app/modules/shared/components/button/app-button.component.ts
  src/app/modules/shared/components/datepicker/app-datepicker.component.ts
  src/app/modules/shared/components/dialog/categories/categories-dialog.component.ts
  src/app/modules/shared/components/dialog/contractors/contractors-dialog.component.ts
  src/app/modules/shared/components/dialog/cross-accounts-transfer/cross-accounts-transfer-dialog.component.ts
  src/app/modules/shared/components/dialog/dates-rage/dates-range-dialog.component.ts
  src/app/modules/shared/components/dialog/payment-account/payment-account-dialog.component.ts
  src/app/modules/shared/components/divider/app-divider.component.ts
  src/app/modules/shared/components/form-field/app-form-field.component.ts
  src/app/modules/shared/components/page-not-found/page-not-found.component.ts
  src/app/modules/shared/components/progress-bar/progress-bar.component.ts
  src/app/modules/shared/components/progress-spinner/progress-spinner.component.ts
  src/app/modules/shared/pipes/accounting-currency.pipe.ts
  src/app/modules/shared/pipes/currency-abbreviation-to-flag.pipe.ts
  src/presentation/accounting/accounting.module.ts
  src/presentation/accounting/components/accounting-operations-crud/accounting-operations-crud.component.ts
  src/presentation/accounting/components/payment-account-crud/payment-account-crud.component.ts
  src/presentation/accounting/components/payment-account/payment-account.component.ts
  src/presentation/accounting/components/payments-dashboard/payments-dashboard.component.ts
  src/presentation/accounting/components/payments-history/payments-history.component.ts
Due: prettier --write, eslint --fix, npm run lint

chore: self review
  src/app/modules/app-bootstrap/components/base-layout/base-layout.component.ts
  src/app/modules/app-bootstrap/components/dashboard-layout/dashboard-layout.component.ts
  src/presentation/currency-rates/components/currency-rates-dashboard/currency-rates-dashboard.component.ts
  src/presentation/currency-rates/components/currency-rates-grid/currency-rates-grid.component.ts
  src/presentation/currency-rates/components/currency-rates-line-chart/currency-rates-line-chart.component.ts
  src/presentation/main-dashboard/components/dashboard-item/main-dashboard-cart.component.ts
  src/presentation/main-dashboard/components/dashboard/main-dashboard.component.ts
Due: prettier --write, eslint --fix, npm run lint

tech: update to v19 (#362)
  package-lock.json
  package.json
  src/app/modules/app-bootstrap/components/accounting-layout/accounting-layout.component.ts
  src/app/modules/app-bootstrap/components/base-layout/base-layout.component.ts
  src/app/modules/app-bootstrap/components/dashboard-layout/dashboard-layout.component.ts
  src/app/modules/shared/components/button/app-button.component.ts
  src/app/modules/shared/components/datepicker/app-datepicker.component.ts
  src/app/modules/shared/components/dialog/categories/categories-dialog.component.ts
  src/app/modules/shared/components/dialog/contractors/contractors-dialog.component.ts
  src/app/modules/shared/components/dialog/cross-accounts-transfer/cross-accounts-transfer-dialog.component.ts
  src/app/modules/shared/components/dialog/dates-rage/dates-range-dialog.component.ts
  src/app/modules/shared/components/dialog/payment-account/payment-account-dialog.component.ts
  src/app/modules/shared/components/divider/app-divider.component.ts
  src/app/modules/shared/components/form-field/app-form-field.component.ts
  src/app/modules/shared/components/page-not-found/page-not-found.component.ts
  src/app/modules/shared/components/progress-bar/progress-bar.component.ts
  src/app/modules/shared/components/progress-spinner/progress-spinner.component.ts
  src/app/modules/shared/pipes/accounting-currency.pipe.ts
  src/app/modules/shared/pipes/currency-abbreviation-to-flag.pipe.ts
  src/presentation/accounting/accounting.module.ts
  src/presentation/accounting/components/accounting-operations-crud/accounting-operations-crud.component.ts
  src/presentation/accounting/components/payment-account-crud/payment-account-crud.component.ts
  src/presentation/accounting/components/payment-account/payment-account.component.ts
  src/presentation/accounting/components/payments-dashboard/payments-dashboard.component.ts
  src/presentation/accounting/components/payments-history/payments-history.component.ts
  src/presentation/currency-rates/components/currency-rates-dashboard/currency-rates-dashboard.component.ts
  src/presentation/currency-rates/components/currency-rates-grid/currency-rates-grid.component.ts
  src/presentation/currency-rates/components/currency-rates-line-chart/currency-rates-line-chart.component.ts
  src/presentation/main-dashboard/components/dashboard-item/main-dashboard-cart.component.ts
  src/presentation/main-dashboard/components/dashboard/main-dashboard.component.ts
Due: prettier --write, eslint --fix, npm run lint

"Updated version 0.33.68 -> 0.34.68."
  package-lock.json
  package.json
Due: prettier --write

"Updated version 0.34.68 -> 0.35.68."
  package-lock.json
  package.json
Due: prettier --write

tech:update npm update package
  .github/workflows/update_npm_packages.yml
Due: none

Path conditions:
  prettier --write: ((any of: *.css) or (any of: *.{ts, html})) or (any of: *.{js,json,css,scss,less,md,ts,html})
  npm run lint-css: any of: *.css
  eslint --fix: any of: *.{ts, html}
  npm run lint: any of: *.{ts, html}
