Repository Allmantool/h-budget.UI: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint-css, eslint --fix, npm run lint

feat: add spinner during http request
  src/app/modules/app-boostrap/components/app-root/app-root.component.ts
  src/app/modules/core/interceptors/http-request-loader.interceptor.ts
  src/app/modules/shared/store/states/core-app-root/core-app.state.ts
Due: prettier --write, eslint --fix, npm run lint

"Updated version 0.119 -> 0.120."
  package-lock.json
  package.json
Due: prettier --write

build(deps): upgrade NPM packages (automated)
  package-lock.json
  package.json
Due: prettier --write

"Updated version 0.120 -> 0.121."
  package-lock.json
  package.json
Due: prettier --write

feat(M5): add end to end get payment accounts flow
  src/app/modules/app-boostrap/components/app-root/app-root.component.ts
  src/app/modules/shared/components/dialog/payment-account/payment-account.-dialog.component.ts
  src/app/modules/shared/constants/routes-segments.ts
  src/data/providers/accounting/entities/payment-account-entity.ts
  src/data/providers/accounting/mappers/data-accounting.mapping.profile.ts
  src/data/providers/accounting/payment-accounts.provider.ts
  src/data/providers/rates/mappers/data-rates-mapping.profiler.ts
  src/data/providers/rates/national-bank-currency.provider.ts
  src/domain/models/accounting/account-types.ts
  src/domain/models/accounting/payment-account.ts
  src/domain/providers/accounting/payment-accounts.provider.ts
  src/presentation/accounting/accounting.module.ts
  src/presentation/accounting/components/payment-account/payment-account.component.html
  src/presentation/accounting/components/payment-account/payment-account.component.ts
  src/presentation/accounting/services/payment-account-dialog.service.ts
  src/presentation/currency-rates/mappers/presentation-rates-mapping.profiler.ts
Due: prettier --write, eslint --fix, npm run lint

chore: adjust sonnar settings to gathering test coverage
  sonar-project.properties
Due: none

chore(M5): self review
  src/presentation/accounting/components/payment-account/payment-account.component.ts
Due: prettier --write, eslint --fix, npm run lint

feat(M5): add flags to currency grid
  .gitignore
  package-lock.json
  package.json
  project.json
  src/app/modules/shared/pipes/accouting-currency.pipe.ts
  src/app/modules/shared/pipes/currency-abbreviation-to-flag.pipe.ts
  src/app/modules/shared/shared.module.ts
  src/presentation/currency-rates/components/currency-rates-grid/currency-rates-grid.component.css
  src/presentation/currency-rates/components/currency-rates-grid/currency-rates-grid.component.html
  src/presentation/currency-rates/constants/rates-grid-options.ts
Due: prettier --write, npm run lint-css, eslint --fix, npm run lint

build(deps): upgrade NPM packages (automated)
  package.json
Due: prettier --write

feat(M5): payment account appereance adjustment
  src/app/modules/shared/components/datepicker/app-datepicker.component.html
  src/app/modules/shared/components/dialog/payment-account/payment-account.-dialog.component.ts
  src/domain/models/accounting/payment-account.ts
  src/presentation/accounting/components/payment-account/payment-account.component.css
  src/presentation/accounting/components/payment-account/payment-account.component.html
  src/presentation/currency-rates/services/line-chart-title.service.ts
Due: prettier --write, npm run lint-css, eslint --fix, npm run lint

feat(M5): base payment acccount save functionality
  src/app/modules/shared/components/dialog/payment-account/payment-account-dialog.component.css
  src/app/modules/shared/components/dialog/payment-account/payment-account-dialog.component.html
  src/app/modules/shared/components/dialog/payment-account/payment-account.-dialog.component.ts
  src/app/modules/shared/components/form-field/app-form-field.component.html
  src/app/modules/shared/components/form-field/app-form-field.component.ts
  src/app/modules/shared/pipes/accouting-currency.pipe.ts
  src/data/providers/accounting/mappers/data-accounting.mapping.profile.ts
  src/data/providers/accounting/payment-accounts.provider.ts
  src/domain/models/accounting/payment-account.ts
  src/domain/models/accounting/requests/payment-account.-create.request.ts
  src/domain/providers/accounting/payment-accounts.provider.ts
  src/presentation/accounting/services/payment-account-dialog.service.ts
Due: prettier --write, npm run lint-css, eslint --fix, npm run lint

feat(M5): adjust create a pyament account functionality
  src/data/providers/accounting/mappers/data-accounting.mapping.profile.ts
  src/data/providers/accounting/payment-accounts.provider.ts
  src/data/providers/rates/mappers/data-rates-mapping.profiler.ts
Due: prettier --write, eslint --fix, npm run lint

chore(M5): self review
  src/presentation/accounting/components/payment-account-crud/payment-account-crud.component.html
  src/presentation/accounting/components/payment-account-crud/payment-account-crud.component.ts
  src/presentation/accounting/services/payment-account-dialog.service.ts
Due: prettier --write, eslint --fix, npm run lint

feat(M5): add payment account delete functionality
  src/data/providers/accounting/payment-accounts.provider.ts
  src/domain/providers/accounting/payment-accounts.provider.ts
  src/presentation/accounting/components/payment-account-crud/payment-account-crud.component.ts
Due: prettier --write, eslint --fix, npm run lint

feat(M5): add spinner overflow
  src/app/modules/app-boostrap/components/app-root/app-root.component.css
  src/app/modules/app-boostrap/components/app-root/app-root.component.html
  src/app/modules/app-boostrap/components/app-root/app-root.component.ts
  src/app/modules/shared/components/dialog/categories/categories-dialog.component.css
  src/app/modules/shared/components/dialog/counterparties/counterparties-dialog.component.css
  src/app/modules/shared/components/dialog/dates-rage/dates-range-dialog.component.css
  src/app/modules/shared/components/dialog/payment-account/payment-account-dialog.component.css
  src/app/modules/shared/components/progress-spinner/progress-spinner.component.html
  src/app/modules/shared/components/progress-spinner/progress-spinner.component.ts
  src/presentation/currency-rates/components/currency-rates-line-chart/currency-rates-line-chart.component.html
Due: prettier --write, npm run lint-css, eslint --fix, npm run lint

chore(M5): code self review
  package-lock.json
  package.json
  src/app/modules/shared/components/dialog/payment-account/payment-account-dialog.component.css
  src/app/modules/shared/components/dialog/payment-account/payment-account.-dialog.component.ts
Due: prettier --write, npm run lint-css, eslint --fix, npm run lint

chore(M5): self review
  src/app/modules/shared/components/dialog/payment-account/payment-account.-dialog.component.ts
  src/app/modules/shared/store/states/accounting/actions/payment-acount.actions.ts
  src/app/modules/shared/store/states/accounting/models/payment-account-state.model.ts
  src/app/modules/shared/store/states/accounting/payment-account.state.ts
  src/app/modules/shared/store/states/accounting/selectors/payment-account.selector.ts
  src/data/providers/accounting/payment-accounts.provider.ts
  src/domain/providers/accounting/payment-accounts.provider.ts
  src/presentation/accounting/components/payment-account-crud/payment-account-crud.component.css
  src/presentation/accounting/components/payment-account-crud/payment-account-crud.component.html
  src/presentation/accounting/components/payment-account-crud/payment-account-crud.component.ts
  src/presentation/accounting/components/payment-account/payment-account.component.html
  src/presentation/accounting/components/payment-account/payment-account.component.ts
  src/presentation/accounting/services/payment-account-dialog.service.ts
  src/presentation/main-dashboard/components/dashboard-item/main-dashboard-cart.component.ts
Due: prettier --write, npm run lint-css, eslint --fix, npm run lint

"Updated version 0.121 -> 0.122."
  package-lock.json
  package.json
Due: prettier --write

build(deps): upgrade NPM packages (automated)
  package-lock.json
Due: prettier --write

"Updated version 0.122 -> 0.123."
  package-lock.json
  package.json
Due: prettier --write

feat(M5): add base payment account update fuctionality
  src/app/modules/shared/components/dialog/categories/categories-dialog.component.ts
  src/app/modules/shared/components/dialog/payment-account/payment-account-dialog.component.html
  src/app/modules/shared/components/dialog/payment-account/payment-account.-dialog.component.ts
  src/app/modules/shared/models/dialog-container.ts
  src/app/modules/shared/models/dialog-operation-types.ts
  src/app/modules/shared/store/states/accounting/models/payment-account-state.model.ts
  src/app/modules/shared/store/states/accounting/payment-account.state.ts
  src/app/modules/shared/store/states/accounting/selectors/payment-account.selector.ts
  src/data/providers/accounting/payment-accounts.provider.ts
  src/domain/models/accounting/accounting-operation-types.ts
  src/domain/models/accounting/operation-category.ts
  src/domain/models/accounting/operation-types.ts
  src/presentation/accounting/components/payment-account-crud/payment-account-crud.component.css
  src/presentation/accounting/components/payment-account-crud/payment-account-crud.component.html
  src/presentation/accounting/components/payment-account-crud/payment-account-crud.component.ts
  src/presentation/accounting/components/payment-account/payment-account.component.ts
  src/presentation/accounting/services/payment-account-dialog.service.ts
Due: prettier --write, npm run lint-css, eslint --fix, npm run lint

chore(M5): self review
  src/app/modules/shared/components/dialog/payment-account/payment-account.-dialog.component.ts
Due: prettier --write, eslint --fix, npm run lint

feat(M5): add payment account update functionality
  .editorconfig
  .prettierrc
  src/app/modules/shared/components/dialog/payment-account/payment-account-dialog.component.html
  src/app/modules/shared/components/dialog/payment-account/payment-account-dialog.component.ts
  src/app/modules/shared/components/form-field/app-form-field.component.html
  src/app/modules/shared/shared.module.ts
  src/app/modules/shared/store/states/accounting/actions/payment-acount.actions.ts
  src/app/modules/shared/store/states/accounting/payment-account.state.ts
  src/data/providers/accounting/mappers/data-accounting.mapping.profile.ts
  src/domain/models/accounting/requests/payment-account.-create.request.ts
  src/presentation/accounting/components/payment-account-crud/payment-account-crud.component.ts
  src/presentation/accounting/services/payment-account-dialog.service.ts
Due: prettier --write, eslint --fix, npm run lint

chore(M5): self review
  src/data/providers/accounting/mappers/data-accounting.mapping.profile.ts
  src/domain/models/accounting/requests/payment-account-create-or-update.request.ts
Due: prettier --write, eslint --fix, npm run lint

"Updated version 0.123 -> 0.124."
  package-lock.json
  package.json
Due: prettier --write

feat(M5): fix prettifier configuration
  .prettierrc
  package-lock.json
Due: prettier --write

feat(M5): add base category api backend communication
  src/app/modules/app-boostrap/components/app-root/app-root.component.html
  src/app/modules/shared/components/dialog/categories/categories-dialog.component.html
  src/app/modules/shared/components/dialog/categories/categories-dialog.component.ts
  src/app/modules/shared/components/dialog/counterparties/counterparties-dialog.component.html
  src/app/modules/shared/components/dialog/payment-account/payment-account-dialog.component.ts
  src/app/modules/shared/store/states/accounting/actions/payment-acount.actions.ts
  src/app/modules/shared/store/states/accounting/models/payment-account-state.model.ts
  src/app/modules/shared/store/states/accounting/selectors/payment-account.selector.ts
  src/app/modules/shared/store/states/handbooks/actions/category.actions.ts
  src/app/modules/shared/store/states/handbooks/categories.state.ts
  src/app/modules/shared/store/states/handbooks/models/ICategoriesStateModel.ts
  src/data/providers/accounting/contractors.provider.ts
  src/data/providers/accounting/entities/contractor-entity.ts
  src/data/providers/accounting/mappers/contractor.mapping.profile.ts
  src/data/providers/accounting/mappers/data-accounting.mapping.profile.ts
  src/data/providers/accounting/payment-accounts.provider.ts
  src/domain/models/accounting/contractor.model..ts
  src/domain/models/accounting/operation-category.model.ts
  src/domain/models/accounting/payment-account.model.ts
  src/domain/providers/accounting/contractors.provider.ts
  src/domain/providers/accounting/payment-accounts.provider.ts
  src/presentation/accounting/accounting.module.ts
  src/presentation/accounting/components/accounting-operations-crud/accounting-operations-crud.component.html
  src/presentation/accounting/components/accounting-operations-crud/accounting-operations-crud.component.ts
  src/presentation/accounting/components/accounting-operations-grid/accounting-operations-grid.component.css
  src/presentation/accounting/components/accounting-operations-grid/accounting-operations-grid.component.html
  src/presentation/accounting/components/accounting-operations-grid/accounting-operations-grid.component.ts
  src/presentation/accounting/components/payment-account-crud/payment-account-crud.component.html
  src/presentation/accounting/components/payment-account-crud/payment-account-crud.component.ts
  src/presentation/accounting/components/payment-account/payment-account.component.html
  src/presentation/accounting/components/payment-account/payment-account.component.ts
  src/presentation/accounting/services/categories-dialog.service.ts
  src/presentation/accounting/services/payment-account-dialog.service.ts
Due: prettier --write, npm run lint-css, eslint --fix, npm run lint

feat(M5): add base api communication for contractors
  src/app/modules/app-boostrap/app-bootsrap-routing.module.ts
  src/app/modules/shared/components/dialog/dates-rage/dates-range-dialog.component.ts
  src/app/modules/shared/components/dialog/payment-account/payment-account-dialog.component.html
  src/app/modules/shared/components/form-field/app-form-field.component.html
  src/app/modules/shared/components/form-field/app-form-field.component.ts
  src/app/modules/shared/providers/dialog-provider.ts
  src/app/modules/shared/store/states/handbooks/actions/counterparty.actions.ts
  src/app/modules/shared/store/states/handbooks/counterparties.state.ts
  src/app/modules/shared/store/states/handbooks/models/ICounterpartiesStateModel.ts
  src/app/modules/shared/store/states/handbooks/selectors/counterparties.selectors.ts
  src/data/providers/accounting/contractors.provider.ts
  src/domain/models/accounting/requests/contractor-create.request.ts
  src/domain/providers/accounting/contractors.provider.ts
  src/main.ts
  src/presentation/accounting/components/accounting-operations-crud/accounting-operations-crud.component.html
  src/presentation/accounting/components/accounting-operations-crud/accounting-operations-crud.component.ts
  src/presentation/accounting/components/accounting-operations-grid/accounting-operations-grid.component.html
  src/presentation/accounting/components/accounting-operations-grid/accounting-operations-grid.component.ts
  src/presentation/accounting/components/payment-account/payment-account.component.ts
  src/presentation/accounting/services/accounting-operations.service.ts
  src/presentation/accounting/services/counterparties-dialog.service.ts
  src/presentation/main-dashboard/main-dashboard-routing.module.ts
  src/presentation/main-dashboard/main-dashboard.module.ts
Due: prettier --write, eslint --fix, npm run lint

"Updated version 0.124 -> 0.125."
  package-lock.json
  package.json
Due: prettier --write

feat(M5): self review
  src/app/modules/app-boostrap/app-bootsrap.module.ts
  src/app/modules/app-boostrap/components/app-root/app-root.component.ts
  src/app/modules/app-boostrap/index.ts
  src/app/modules/core/core.module.ts
  src/app/modules/shared/angular-material.shared.module.ts
  src/app/modules/shared/components/datepicker/app-datepicker.component.ts
  src/app/modules/shared/components/dialog/counterparties/counterparties-dialog.component.html
  src/app/modules/shared/components/dialog/counterparties/counterparties-dialog.component.ts
  src/app/modules/shared/components/dialog/payment-account/payment-account-dialog.component.ts
  src/app/modules/shared/custom-ui-components.shared.module.ts
  src/app/modules/shared/dialogs.shared.module.ts
  src/app/modules/shared/index.ts
  src/app/modules/shared/providers/dialog-provider.ts
  src/app/modules/shared/shared.module.ts
  src/app/modules/shared/store/states/handbooks/counterparties.state.ts
  src/data/providers/accounting/contractors.provider.ts
  src/domain/providers/accounting/contractors.provider.ts
  src/presentation/accounting/accounting-routing.module.ts
  src/presentation/accounting/accounting.module.ts
  src/presentation/accounting/components/accounting-operations-grid/accounting-operations-grid.component.html
  src/presentation/accounting/services/counterparties-dialog.service.ts
  src/presentation/accounting/services/payment-account-dialog.service.ts
  src/presentation/currency-rates/components/currency-rates-grid/currency-rates-grid.component.ts
  src/presentation/currency-rates/components/currency-rates-line-chart/currency-rates-line-chart.component.ts
  src/presentation/currency-rates/currency-rates.module.ts
  src/presentation/main-dashboard/components/dashboard-item/main-dashboard-cart.component.html
  src/presentation/main-dashboard/main-dashboard.module.ts
  tsconfig.json
Due: prettier --write, eslint --fix, npm run lint

"Updated version 0.125 -> 0.126."
  package-lock.json
  package.json
Due: prettier --write

chore: self review
  .prettierrc
  src/app/modules/app-boostrap/app-bootsrap.module.ts
  src/app/modules/shared/dialogs.shared.module.ts
  src/app/modules/shared/store/states/accounting/accounting-operations.state.ts
Due: prettier --write, eslint --fix, npm run lint

"Updated version 0.126 -> 0.127."
  package-lock.json
  package.json
Due: prettier --write

"Updated version 0.127 -> 0.128."
  package-lock.json
  package.json
Due: prettier --write

"Updated version 0.128 -> 0.129."
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  prettier --write: ((any of: *.css) or (any of: *.{ts, html})) or (any of: *.{js,json,css,scss,less,md,ts,html})
  npm run lint-css: any of: *.css
  eslint --fix: any of: *.{ts, html}
  npm run lint: any of: *.{ts, html}
