Repository Allmantool/h-budget.UI: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint-css, eslint --fix, npm run lint

.lintstagedrc:

{
	"*.css": ["prettier --write", "npm run lint-css"],
	"*.{ts, html}": ["eslint --fix", "prettier --write", "npm run lint"],
	"*.{js,json,css,scss,less,md,ts,html}": ["prettier --write"]
}

fix: place-app-config-in-assets
  package.json
  src/app/modules/app-boostrap/app-bootsrap.module.ts
  src/assets/config.json
Due: prettier --write, eslint --fix, npm run lint

chore: self review
  src/app/modules/app-boostrap/app-bootsrap.module.ts
Due: prettier --write, eslint --fix, npm run lint

"Updated version 0.142 -> 0.143."
  package-lock.json
  package.json
Due: prettier --write

build(deps): upgrade NPM packages (automated)
  package-lock.json
Due: prettier --write

"Updated version 0.143 -> 0.144."
  package-lock.json
  package.json
Due: prettier --write

"Updated version 0.144 -> 0.145."
  package-lock.json
  package.json
Due: prettier --write

build(deps): upgrade NPM packages (automated)
  package-lock.json
  package.json
Due: prettier --write

fix: don't send correlation id header for inter config requests
  src/app/modules/app-boostrap/app-bootsrap.module.ts
  src/app/modules/core/interceptors/correlation-id.interceptor.ts
  src/app/modules/core/interceptors/error-logging.interceptor.ts.ts
  src/app/modules/core/interceptors/http-request-loader.interceptor.ts
  src/app/modules/shared/store/states/core-app-root/actions/core-app.actions.ts
  src/app/modules/shared/store/states/core-app-root/core-app.state.ts
Due: prettier --write, eslint --fix, npm run lint

"Updated version 0.145 -> 0.146."
  package-lock.json
  package.json
Due: prettier --write

"Updated version 0.146 -> 0.147."
  package-lock.json
  package.json
Due: prettier --write

"Updated version 0.147 -> 0.148."
  package-lock.json
  package.json
Due: prettier --write

fix: resolve package conflicte
  package-lock.json
  package.json
Due: prettier --write

"Updated version 0.148 -> 0.149."
  package-lock.json
  package.json
Due: prettier --write

tech: provide base config for nginx cors
  nginx.conf
Due: none

tech: add base config for nginx support for kibana
  nginx.conf
Due: none

chore: self reveiw
  dockerfile
  nginx.conf
Due: none

chore: self review
  dockerfile
  nginx.conf
  package.json
Due: prettier --write

"Updated version 0.149 -> 0.150."
  package-lock.json
  package.json
Due: prettier --write

"Updated version 0.150 -> 0.151."
  package-lock.json
  package.json
Due: prettier --write

"Updated version 0.151 -> 0.152."
  package-lock.json
  package.json
Due: prettier --write

feat(M5): add base UI implementation for categories api
  package-lock.json
  src/app/modules/shared/components/dialog/categories/categories-dialog.component.ts
  src/app/modules/shared/components/dialog/counterparties/counterparties-dialog.component.ts
  src/app/modules/shared/store/states/handbooks/actions/category.actions.ts
  src/app/modules/shared/store/states/handbooks/categories.state.ts
  src/app/modules/shared/store/states/handbooks/counterparties.state.ts
  src/app/modules/shared/store/states/handbooks/models/ICategoriesStateModel.ts
  src/app/modules/shared/store/states/handbooks/selectors/categories.selectors.ts
  src/data/providers/accounting/categories.provider.ts
  src/data/providers/accounting/entities/operation-category.entity.ts
  src/data/providers/accounting/mappers/category.mapping.profile.ts
  src/domain/models/accounting/accounting-operation-types.ts
  src/domain/models/accounting/category.model.ts
  src/domain/models/accounting/operation-category.model.ts
  src/domain/models/accounting/operation-types.ts
  src/domain/models/accounting/requests/category-create.request.ts
  src/domain/providers/accounting/categories.provider.ts
  src/domain/providers/accounting/contractors.provider.ts
  src/presentation/accounting/accounting.module.ts
  src/presentation/accounting/components/accounting-operations-crud/accounting-operations-crud.component.html
  src/presentation/accounting/components/accounting-operations-crud/accounting-operations-crud.component.ts
  src/presentation/accounting/services/categories-dialog.service.ts
  src/presentation/currency-rates/services/line-chart.service.ts
Due: prettier --write, eslint --fix, npm run lint

chore(M5): adjust categories provider
  src/app/modules/shared/components/dialog/categories/categories-dialog.component.html
  src/data/providers/accounting/categories.provider.ts
  src/data/providers/accounting/entities/operation-category.entity.ts
  src/data/providers/accounting/mappers/category.mapping.profile.ts
  src/domain/providers/accounting/categories.provider.ts
  src/presentation/accounting/accounting.module.ts
  src/presentation/accounting/components/accounting-operations-grid/accounting-operations-grid.component.ts
  src/presentation/accounting/services/categories-dialog.service.ts
  src/presentation/accounting/services/counterparties-dialog.service.ts
Due: prettier --write, eslint --fix, npm run lint

chore(M5): self review
  src/app/modules/shared/components/dialog/categories/categories-dialog.component.ts
  src/app/modules/shared/pipes/accouting-currency.pipe.ts
  src/app/modules/shared/store/states/handbooks/categories.state.ts
  src/data/providers/accounting/categories.provider.ts
  src/domain/models/accounting/requests/category-create.request.ts
Due: prettier --write, eslint --fix, npm run lint

"Updated version 0.152 -> 0.153."
  package-lock.json
  package.json
Due: prettier --write

"Updated version 0.153 -> 0.154."
  package-lock.json
  package.json
Due: prettier --write

tech: apply destory ref for unsubscribe logic
  src/app/modules/app-boostrap/components/app-root/app-root.component.ts
  src/app/modules/shared/components/dialog/categories/categories-dialog.component.ts
  src/app/modules/shared/functions/destroy.function.ts
  src/presentation/accounting/components/accounting-operations-crud/accounting-operations-crud.component.ts
  src/presentation/accounting/components/accounting-operations-grid/accounting-operations-grid.component.ts
  src/presentation/accounting/components/payment-account-crud/payment-account-crud.component.ts
  src/presentation/accounting/components/payment-account/payment-account.component.ts
  src/presentation/currency-rates/components/currency-rates-grid/currency-rates-grid.component.ts
  src/presentation/currency-rates/components/currency-rates-line-chart/currency-rates-line-chart.component.ts
Due: prettier --write, eslint --fix, npm run lint

"Updated version 0.154 -> 0.155."
  package-lock.json
  package.json
Due: prettier --write

"Updated version 0.155 -> 0.156."
  package-lock.json
  package.json
Due: prettier --write

"Updated version 0.156 -> 0.157."
  package-lock.json
  package.json
Due: prettier --write
