Repository Allmantool/h-budget.UI: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint-css, eslint --fix, npm run lint

.lintstagedrc:

{
	"*.css": ["prettier --write", "npm run lint-css"],
	"*.{ts, html}": ["eslint --fix", "prettier --write", "npm run lint"],
	"*.{js,json,css,scss,less,md,ts,html}": ["prettier --write"]
}

chore(M7): update packages
  package-lock.json
  package.json
Due: prettier --write

Test/m7/payments history.service.ts (#134)
  package-lock.json
  package.json
  src/tests/accounting/services/payments-history.service.spec.ts
Due: prettier --write, eslint --fix, npm run lint

build(deps): upgrade NPM packages (automated)
  package-lock.json
Due: prettier --write

test(M7): add tests for accounting operations service
  src/presentation/accounting/components/payment-account/payment-account.component.ts
  src/tests/accounting/services/accounting-operations.service.spec.ts
  src/tests/accounting/services/payments-history.service.spec.ts
Due: prettier --write, eslint --fix, npm run lint

test(M7): add tests for accounting operations service (#136)
  src/presentation/accounting/components/payment-account/payment-account.component.ts
  src/tests/accounting/services/accounting-operations.service.spec.ts
  src/tests/accounting/services/payments-history.service.spec.ts
Due: prettier --write, eslint --fix, npm run lint

hotfix: fix for bump version cacluation
  package-lock.json
  package.json
Due: prettier --write

Hotfix/m7/bump version fix (#137)
  package-lock.json
  package.json
Due: prettier --write

"Updated version 0.201 -> 0.202-rc."
  package-lock.json
  package.json
Due: prettier --write

build(deps): upgrade NPM packages (automated)
  package-lock.json
  package.json
Due: prettier --write

"Updated version 0.202-rc -> 0.203-rc."
  package-lock.json
  package.json
Due: prettier --write

"Updated version 0.203-rc -> 0.204-rc."
  package-lock.json
  package.json
Due: prettier --write

fix: reduce amount of request during add / update payment operation
  package-lock.json
  package.json
  src/presentation/accounting/services/accounting-operations.service.ts
Due: prettier --write, eslint --fix, npm run lint

"Updated version 0.204-rc -> 0.204.NaN."
  package-lock.json
  package.json
Due: prettier --write

chore: self review
  .github/workflows/sem-ver-options.json
  package.json
Due: prettier --write

chore: formatting
  .github/workflows/sem-ver-options.json
Due: prettier --write

fix: reduce amount of request during add / update payment operation (#140)
  .github/workflows/sem-ver-options.json
  package-lock.json
  package.json
  src/presentation/accounting/services/accounting-operations.service.ts
Due: prettier --write, eslint --fix, npm run lint

"Updated version 0.204 -> 0.205-rc."
  package-lock.json
  package.json
Due: prettier --write

tech: unify bump version calculation
  .github/workflows/version-bumper.yaml
Due: none

"Updated version 0.205-rc -> 0.206-rc."
  package-lock.json
  package.json
Due: prettier --write

"Updated version 0.206-rc -> 0.207-rc."
  package-lock.json
  package.json
Due: prettier --write

"Updated version 0.207-rc -> 0.207.NaN."
  package-lock.json
  package.json
Due: prettier --write

test(M7): update npm packages
  package-lock.json
  package.json
Due: prettier --write

test(M7): cover the component by tests
  src/presentation/accounting/components/accounting-operations-crud/accounting-operations-crud.component.ts
  src/presentation/accounting/services/accounting-operations.service.ts
  src/tests/accounting/components/accounting-operations-crud.component.spec.ts
  src/tests/accounting/components/payment-account.component.spec.ts
  src/tests/accounting/components/payments-history.component.spec.ts
  src/tests/accounting/services/accounting-operations.service.spec.ts
  src/tests/accounting/services/payments-history.service.spec.ts
  src/tests/currency-rates/components/currency-rates-grid.component.spec.ts
  src/tests/currency-rates/components/currency-rates-line-chart.component.spec.ts
  src/tests/currency-rates/services/currency-rates-grid.service.spec.ts
  src/tests/currency-rates/services/line-chart-title.service.spec.ts
  src/tests/currency-rates/services/line-chart.service.spec.ts
Due: prettier --write, eslint --fix, npm run lint

Test/m7/accounting operations crud.component.ts (#147)
  package-lock.json
  package.json
  src/presentation/accounting/components/accounting-operations-crud/accounting-operations-crud.component.ts
  src/presentation/accounting/services/accounting-operations.service.ts
  src/tests/accounting/components/accounting-operations-crud.component.spec.ts
  src/tests/accounting/components/payment-account.component.spec.ts
  src/tests/accounting/components/payments-history.component.spec.ts
  src/tests/accounting/services/accounting-operations.service.spec.ts
  src/tests/accounting/services/payments-history.service.spec.ts
  src/tests/currency-rates/components/currency-rates-grid.component.spec.ts
  src/tests/currency-rates/components/currency-rates-line-chart.component.spec.ts
  src/tests/currency-rates/services/currency-rates-grid.service.spec.ts
  src/tests/currency-rates/services/line-chart-title.service.spec.ts
  src/tests/currency-rates/services/line-chart.service.spec.ts
Due: prettier --write, eslint --fix, npm run lint

"Updated version 0.207 -> 0.208-rc."
  package-lock.json
  package.json
Due: prettier --write

"Updated version 0.208-rc -> 0.209-rc."
  package-lock.json
  package.json
Due: prettier --write

"Updated version 0.209-rc -> 0.210-rc."
  package-lock.json
  package.json
Due: prettier --write

"Updated version 0.210-rc -> 0.210.NaN."
  package-lock.json
  package.json
Due: prettier --write

"Updated version 0.210-rc -> 0.211-rc."
  package-lock.json
  package.json
Due: prettier --write
