Repository Allmantool/h-budget.UI: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint-css, eslint --fix, npm run lint

tech: update npm packages
  .github/workflows/update_npm_packages.yml
  package.json
  src/app/modules/app-bootstrap/app-bootstrap.module.ts
  src/app/modules/app-bootstrap/components/accounting-layout/accounting-layout.component.ts
  src/app/modules/app-bootstrap/components/base-layout/base-layout.component.ts
  src/app/modules/app-bootstrap/components/dashboard-layout/dashboard-layout.component.ts
  src/app/modules/shared/components/button/app-button.component.ts
  src/app/modules/shared/components/datepicker/app-datepicker.component.ts
  src/app/modules/shared/components/dialog/categories/categories-dialog.component.ts
  src/app/modules/shared/components/dialog/contractors/contractors-dialog.component.ts
  src/app/modules/shared/components/dialog/cross-accounts-transfer/cross-accounts-transfer-dialog.component.ts
  src/app/modules/shared/components/dialog/dates-rage/dates-range-dialog.component.ts
  src/app/modules/shared/components/dialog/payment-account/payment-account-dialog.component.ts
  src/app/modules/shared/components/divider/app-divider.component.ts
  src/app/modules/shared/components/form-field/app-form-field.component.ts
  src/app/modules/shared/components/page-not-found/page-not-found.component.ts
  src/app/modules/shared/components/progress-bar/progress-bar.component.ts
  src/app/modules/shared/components/progress-spinner/progress-spinner.component.ts
  src/app/modules/shared/pipes/accounting-currency.pipe.ts
  src/app/modules/shared/pipes/currency-abbreviation-to-flag.pipe.ts
  src/app/modules/shared/services/loader-service.ts
  src/app/modules/shared/store/states/rates/currency-rates.state.ts
  src/domain/usecases/rates/get-rates-for-period.usecase.ts
  src/main.ts
  src/presentation/accounting/components/accounting-operations-crud/accounting-operations-crud.component.ts
  src/presentation/accounting/components/payment-account-crud/payment-account-crud.component.ts
  src/presentation/accounting/components/payment-account/payment-account.component.ts
  src/presentation/accounting/components/payments-dashboard/payments-dashboard.component.ts
  src/presentation/accounting/components/payments-history/payments-history.component.ts
  src/presentation/currency-rates/components/currency-rates-dashboard/currency-rates-dashboard.component.ts
  src/presentation/currency-rates/components/currency-rates-grid/currency-rates-grid.component.ts
  src/presentation/currency-rates/components/currency-rates-line-chart/currency-rates-line-chart.component.ts
  src/presentation/currency-rates/currency-rates.module.ts
  src/presentation/currency-rates/services/line-chart-title.service.ts
  src/presentation/currency-rates/services/line-chart.service.ts
  src/presentation/main-dashboard/components/dashboard-item/main-dashboard-cart.component.ts
  src/presentation/main-dashboard/components/dashboard/main-dashboard.component.ts
Due: prettier --write, eslint --fix, npm run lint

chore: self review
  package-lock.json
Due: prettier --write

chore(release): v1.1.31 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  fb761e2afb0a7dc8bbb8e98344631129e667a602
Due: none

no message
  package.json
  src/presentation/currency-rates/models/chart-options.ts
Due: prettier --write, eslint --fix, npm run lint

build(deps): patch dependency upgrade
  package-lock.json
Due: prettier --write

build(deps): minor dependency upgrade
  package-lock.json
  package.json
Due: prettier --write

fix: fix package daily update
  .github/workflows/update_npm_packages.yml
  package-lock.json
  package.json
Due: prettier --write

chore(release): v1.1.32 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  e78ddf45abcaee906d97625e6b0edc26e08635d5
Due: none

build(deps): patch dependency upgrade
  package-lock.json
  package.json
Due: prettier --write

chore(release): v1.1.33 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  b6f0d81a8f148b6df542cfd0b549caa7be6dcbeb
Due: none

tech: add sse support
  .github/workflows/sem-release.yml
  src/infrastructure/account-notification.ts
  src/infrastructure/sse-service.ts
  src/presentation/accounting/components/payments-history/payments-history.component.ts
Due: prettier --write, eslint --fix, npm run lint

chore: self review
  src/infrastructure/account-notification.ts
Due: prettier --write, eslint --fix, npm run lint

chore: self review
  src/infrastructure/sse-service.ts
  src/presentation/accounting/components/payments-history/payments-history.component.ts
Due: prettier --write, eslint --fix, npm run lint

fix: fix typos
  .github/workflows/sem-release.yml
  src/presentation/accounting/components/payments-history/payments-history.component.ts
Due: prettier --write, eslint --fix, npm run lint

chore(release): v1.1.34 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  752c553f3651a6fe83d4540b6c3875e4d7f67bb2
Due: none

chore(release): v1.1.35 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  6715b8e6cbb58e0928d5256efcfdf6f9900b7343
Due: none

tech: improve UI / uX
  src/app/modules/app-bootstrap/components/accounting-layout/accounting-layout.component.css
  src/app/modules/app-bootstrap/components/accounting-layout/accounting-layout.component.html
  src/app/modules/app-bootstrap/components/accounting-layout/accounting-layout.component.ts
  src/app/modules/app-bootstrap/components/base-layout/base-layout.component.css
  src/app/modules/app-bootstrap/components/base-layout/base-layout.component.html
  src/app/modules/app-bootstrap/components/base-layout/base-layout.component.ts
  src/app/modules/app-bootstrap/components/dashboard-layout/dashboard-layout.component.css
  src/app/modules/app-bootstrap/components/dashboard-layout/dashboard-layout.component.html
  src/app/modules/app-bootstrap/components/dashboard-layout/dashboard-layout.component.ts
  src/app/modules/core/interceptors/http-request-loader.interceptor.ts
  src/app/modules/shared/store/states/core/core-app.state.ts
  src/presentation/accounting/components/accounting-operations-crud/accounting-operations-crud.component.css
  src/presentation/accounting/components/accounting-operations-crud/accounting-operations-crud.component.html
  src/presentation/accounting/components/accounting-operations-crud/accounting-operations-crud.component.ts
  src/presentation/accounting/components/payment-account/payment-account.component.css
  src/presentation/accounting/components/payment-account/payment-account.component.html
  src/presentation/accounting/components/payment-account/payment-account.component.ts
  src/presentation/accounting/components/payments-dashboard/payments-dashboard.component.css
  src/presentation/accounting/components/payments-dashboard/payments-dashboard.component.html
  src/presentation/accounting/components/payments-dashboard/payments-dashboard.component.ts
  src/presentation/accounting/components/payments-history/payments-history.component.css
  src/presentation/accounting/components/payments-history/payments-history.component.html
  src/presentation/accounting/components/payments-history/payments-history.component.ts
  src/presentation/currency-rates/components/currency-rates-dashboard/currency-rates-dashboard.component.css
  src/presentation/currency-rates/components/currency-rates-dashboard/currency-rates-dashboard.component.html
  src/presentation/currency-rates/components/currency-rates-dashboard/currency-rates-dashboard.component.ts
  src/presentation/currency-rates/components/currency-rates-grid/currency-rates-grid.component.css
  src/presentation/currency-rates/components/currency-rates-grid/currency-rates-grid.component.html
  src/presentation/currency-rates/components/currency-rates-line-chart/currency-rates-line-chart.component.css
  src/presentation/currency-rates/components/currency-rates-line-chart/currency-rates-line-chart.component.html
  src/presentation/currency-rates/components/currency-rates-line-chart/currency-rates-line-chart.component.ts
  src/presentation/currency-rates/services/line-chart.service.ts
  src/presentation/main-dashboard/components/dashboard-item/main-dashboard-cart.component.css
  src/presentation/main-dashboard/components/dashboard-item/main-dashboard-cart.component.html
  src/presentation/main-dashboard/components/dashboard/main-dashboard.component.css
  src/presentation/main-dashboard/components/dashboard/main-dashboard.component.html
Due: prettier --write, npm run lint-css, eslint --fix, npm run lint

test: improve tests
  karma.conf.js
  src/presentation/main-dashboard/main-dashboard.component.spec.ts
  src/tests/currency-rates/services/line-chart-title.service.spec.ts
Due: prettier --write, eslint --fix, npm run lint

chore(release): v1.1.36 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  7f7056e7b1a004035defbab3541c3e2ed9d6ed35
Due: none

fix: increase bundle limits
  project.json
Due: prettier --write

chore(release): v1.1.37 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  e62681aca0bc0f53f563493be8d6fad371e014a4
Due: none

chore(release): v1.1.38 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  da743a7e4f0cb8cd3b33c780c13bcba21a54607e
Due: none

chore(release): v1.1.39 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  3249ce1268a693455d32195bccaeeb318f1bb658
Due: none

tech: tracing v2
  package-lock.json
  package.json
  src/app-settings.ts
  src/app/modules/app-bootstrap/app-bootstrap.module.ts
  src/assets/config.json
  src/domain/models/app-settings.model.ts
  src/infrastructure/browser-telemetry.ts
  src/infrastructure/sse-service.ts
  src/main.ts
  src/presentation/accounting/components/payments-history/payments-history.component.ts
  src/tests/accounting/components/payments-history.component.spec.ts
Due: prettier --write, eslint --fix, npm run lint

chore(release): v1.1.40 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  6476369fde0161996b38787c99b5880931f3b2d4
Due: none

chore: self review
  src/assets/config.json
Due: prettier --write

chore(release): v1.1.41 [skip ci]
  CHANGELOG.md
Due: prettier --write

Path conditions:
  prettier --write: ((any of: *.css) or (any of: *.{ts, html})) or (any of: *.{js,json,css,scss,less,md,ts,html})
  npm run lint-css: any of: *.css
  eslint --fix: any of: *.{ts, html}
  npm run lint: any of: *.{ts, html}
