Repository Allmantool/h-budget.UI: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint-css, eslint --fix, npm run lint

Feature/m7/up to accounting coverage to 80 (#118)
  package-lock.json
  package.json
  src/app/modules/shared/components/dialog/categories/categories-dialog.component.ts
  src/app/modules/shared/components/dialog/contractors/contractors-dialog.component.css
  src/app/modules/shared/components/dialog/contractors/contractors-dialog.component.html
  src/app/modules/shared/components/dialog/contractors/contractors-dialog.component.ts
  src/app/modules/shared/components/dialog/dates-rage/dates-range-dialog.component.ts
  src/app/modules/shared/components/dialog/payment-account/payment-account-dialog.component.ts
  src/app/modules/shared/dialogs.shared.module.ts
  src/app/modules/shared/models/dialog-container.ts
  src/app/modules/shared/store/states/handbooks/actions/contractor.actions.ts
  src/app/modules/shared/store/states/handbooks/contractors.state.ts
  src/app/modules/shared/store/states/handbooks/counterparties.state.ts
  src/app/modules/shared/store/states/handbooks/handbooks.state.ts
  src/app/modules/shared/store/states/handbooks/models/IContractorsStateModel.ts
  src/app/modules/shared/store/states/handbooks/selectors/counterparties.selectors.ts
  src/data/providers/accounting/contractors.provider.ts
  src/data/providers/accounting/mappers/payment-operations.mapping.profile.ts
  src/data/providers/accounting/payment-accounts.provider.ts
  src/presentation/accounting/accounting-routing.module.ts
  src/presentation/accounting/accounting.module.ts
  src/presentation/accounting/components/accounting-operations-crud/accounting-operations-crud.component.ts
  src/presentation/accounting/components/payments-history/payments-history.component.ts
  src/presentation/accounting/services/accounting-operations.service.ts
  src/presentation/accounting/services/categories-dialog.service.ts
  src/presentation/accounting/services/counterparties-dialog.service.ts
  src/presentation/accounting/services/payment-account-dialog.service.ts
  src/presentation/currency-rates/services/rates-dialog.service.ts
  src/tests/accounting/components/payments-history.component.spec.ts
  src/tests/accounting/mappers/payment-accounts.mapping.profile.spec.ts
  src/tests/accounting/mappers/payment-operations-mapping.profile.spec.ts
  src/tests/share/components/dialog/accounting/payment-account-dialog.component.spec.ts
  src/tests/share/components/dialog/categories/categories-dialog.component.spec.ts
  src/tests/share/components/dialog/contractors/contractors-dialog.component.spec.ts
  src/tests/share/components/dialog/rates/date-range-dialog.component.spec.ts
  tsconfig.json
Due: prettier --write, npm run lint-css, eslint --fix, npm run lint

chore(M7): fix some code smells
  src/app/modules/shared/models/dialog-container.ts
  src/app/modules/shared/providers/dialog-provider.ts
  src/app/modules/shared/store/states/rates/currency-chart.state.ts
  src/app/modules/shared/store/states/rates/currency-table.state.ts
  src/presentation/currency-rates/components/currency-rates-grid/currency-rates-grid.component.ts
  src/presentation/currency-rates/models/currency-grid-rate.model.ts
Due: prettier --write, eslint --fix, npm run lint

tech(M7): update npm packages
  package-lock.json
  package.json
Due: prettier --write

chore(M7): add payment representations mapping profile
  src/data/providers/accounting/mappers/payment-representations.mapping.profile.ts
  src/data/providers/accounting/payment-operations.provider.ts
  src/data/providers/accounting/payments-history.provider.ts
  src/presentation/accounting/accounting.module.ts
  src/presentation/accounting/services/payments-history.service.ts
  src/tests/accounting/components/accounting-operations-crud.component.spec.ts
Due: prettier --write, eslint --fix, npm run lint

fix(M7): total sum should be updated after a adjustments has been applied to an active account
  src/presentation/accounting/components/accounting-operations-crud/accounting-operations-crud.component.ts
  src/presentation/accounting/services/payments-history.service.ts
  src/tests/accounting/components/accounting-operations-crud.component.spec.ts
Due: prettier --write, eslint --fix, npm run lint

test(M7): base tests set up for accounting-operations-crud.component.ts
  package-lock.json
  package.json
  src/presentation/accounting/components/accounting-operations-crud/accounting-operations-crud.component.ts
  src/presentation/accounting/services/counterparties-dialog.service.ts
  src/presentation/accounting/services/payments-history.service.ts
  src/tests/accounting/components/accounting-operations-crud.component.spec.ts
  src/tests/share/components/dialog/contractors/contractors-dialog.component.spec.ts
Due: prettier --write, eslint --fix, npm run lint

test(M7): add tests for payment-representations.mapping.profile
  src/data/providers/accounting/mappers/payment-representations.mapping.profile.ts
  src/data/providers/accounting/payments-history.provider.ts
  src/presentation/accounting/accounting.module.ts
  src/presentation/accounting/components/accounting-operations-crud/accounting-operations-crud.component.ts
  src/presentation/accounting/services/contractors-dialog.service.ts
  src/tests/accounting/components/accounting-operations-crud.component.spec.ts
  src/tests/accounting/mappers/payment-representations.mapping.profile.spec.ts
  src/tests/share/components/dialog/contractors/contractors-dialog.component.spec.ts
Due: prettier --write, eslint --fix, npm run lint

Test/m7/accounting operations crud component (#122)
  package-lock.json
  package.json
  src/app/modules/shared/models/dialog-container.ts
  src/app/modules/shared/providers/dialog-provider.ts
  src/app/modules/shared/store/states/rates/currency-chart.state.ts
  src/app/modules/shared/store/states/rates/currency-table.state.ts
  src/data/providers/accounting/mappers/payment-representations.mapping.profile.ts
  src/data/providers/accounting/payment-operations.provider.ts
  src/data/providers/accounting/payments-history.provider.ts
  src/presentation/accounting/accounting.module.ts
  src/presentation/accounting/components/accounting-operations-crud/accounting-operations-crud.component.ts
  src/presentation/accounting/services/contractors-dialog.service.ts
  src/presentation/accounting/services/payments-history.service.ts
  src/presentation/currency-rates/components/currency-rates-grid/currency-rates-grid.component.ts
  src/presentation/currency-rates/models/currency-grid-rate.model.ts
  src/tests/accounting/components/accounting-operations-crud.component.spec.ts
  src/tests/accounting/mappers/payment-representations.mapping.profile.spec.ts
  src/tests/share/components/dialog/contractors/contractors-dialog.component.spec.ts
Due: prettier --write, eslint --fix, npm run lint

fix: update package lock json
  package-lock.json
  src/app/modules/shared/store/states/core-app-root/selectors/core-app.selectores.ts
  src/presentation/accounting/components/payment-account-crud/payment-account-crud.component.ts
  src/presentation/accounting/components/payment-account/payment-account.component.ts
  src/presentation/accounting/services/accounting-operations.service.ts
  src/presentation/accounting/services/categories-dialog.service.ts
Due: prettier --write, eslint --fix, npm run lint

fix: update package lock json (#123)
  package-lock.json
  src/app/modules/shared/store/states/core-app-root/selectors/core-app.selectores.ts
  src/presentation/accounting/components/payment-account-crud/payment-account-crud.component.ts
  src/presentation/accounting/components/payment-account/payment-account.component.ts
  src/presentation/accounting/services/accounting-operations.service.ts
  src/presentation/accounting/services/categories-dialog.service.ts
Due: prettier --write, eslint --fix, npm run lint

build(deps): upgrade NPM packages (automated)
  package-lock.json
  package.json
Due: prettier --write

fix(M7): fix multi request during payment history initialization
  src/app/modules/shared/constants/api-request-options.ts
  src/app/modules/shared/store/states/accounting/selectors/accounting.selectors.ts
  src/data/providers/accounting/payments-history.provider.ts
  src/presentation/accounting/accounting.module.ts
  src/presentation/accounting/components/accounting-operations-crud/accounting-operations-crud.component.ts
  src/presentation/accounting/components/payments-history/payments-history.component.html
  src/presentation/accounting/components/payments-history/payments-history.component.ts
  src/presentation/accounting/services/accounting-operations.service.ts
  src/presentation/accounting/services/handbooks.service.ts
  src/presentation/accounting/services/interfaces/Ipayments-history.service.ts
  src/presentation/accounting/services/payments-history.service.ts
Due: prettier --write, eslint --fix, npm run lint

chore(M7): self review
  src/presentation/accounting/components/payments-history/payments-history.component.css
  src/tests/accounting/components/payments-history.component.spec.ts
Due: prettier --write, npm run lint-css, eslint --fix, npm run lint

test(M7): Payment account component
  package-lock.json
  package.json
  src/tests/accounting/components/payment-account.component.spec.ts
Due: prettier --write, eslint --fix, npm run lint

chore(M7): self review
  src/presentation/accounting/components/payment-account/payment-account.component.ts
Due: prettier --write, eslint --fix, npm run lint

chore(M7): self review
  src/tests/accounting/components/payment-account.component.spec.ts
Due: prettier --write, eslint --fix, npm run lint

fix(M7): fix multi request during payment history initialization (#125)
  package-lock.json
  src/app/modules/shared/constants/api-request-options.ts
  src/app/modules/shared/store/states/accounting/selectors/accounting.selectors.ts
  src/data/providers/accounting/payments-history.provider.ts
  src/presentation/accounting/accounting.module.ts
  src/presentation/accounting/components/accounting-operations-crud/accounting-operations-crud.component.ts
  src/presentation/accounting/components/payment-account/payment-account.component.ts
  src/presentation/accounting/components/payments-history/payments-history.component.css
  src/presentation/accounting/components/payments-history/payments-history.component.html
  src/presentation/accounting/components/payments-history/payments-history.component.ts
  src/presentation/accounting/services/accounting-operations.service.ts
  src/presentation/accounting/services/handbooks.service.ts
  src/presentation/accounting/services/interfaces/Ipayments-history.service.ts
  src/presentation/accounting/services/payments-history.service.ts
  src/tests/accounting/components/payment-account.component.spec.ts
  src/tests/accounting/components/payments-history.component.spec.ts
Due: prettier --write, npm run lint-css, eslint --fix, npm run lint

tech: adjust bump version
  .github/workflows/sem-ver-options.json
Due: prettier --write

chore: apply formatter
  .github/workflows/sem-ver-options.json
Due: prettier --write

Hotfix/adjust bump version (#128)
  .github/workflows/sem-ver-options.json
Due: prettier --write

"Updated version 0.194 -> 0.195-rc."
  package-lock.json
  package.json
Due: prettier --write

build(deps): upgrade NPM packages (automated)
  package-lock.json
Due: prettier --write

"Updated version 0.195-rc -> 0.196-rc."
  package-lock.json
  package.json
Due: prettier --write

fix: update lock json
  package-lock.json
Due: prettier --write

"Updated version 0.196-rc -> 0.196.NaN."
  package-lock.json
  package.json
Due: prettier --write

fix: update lock json (#130)
  package-lock.json
Due: prettier --write

"Updated version 0.196-rc -> 0.197-rc."
  package-lock.json
  package.json
Due: prettier --write

"Updated version 0.197-rc -> 0.198-rc."
  package-lock.json
  package.json
Due: prettier --write

"Updated version 0.198-rc -> 0.199-rc."
  package-lock.json
  package.json
Due: prettier --write

tests(M7): payments history service tests
  src/domain/models/accounting/payment-operation.model.ts
  src/tests/accounting/services/payments-history.service.spec.ts
  src/tests/currency-rates/services/line-chart-title.service.spec.ts
Due: prettier --write, eslint --fix, npm run lint

"Updated version 0.199-rc -> 0.199.NaN."
  package-lock.json
  package.json
Due: prettier --write

test(M7): self review
  src/tests/accounting/services/payments-history.service.spec.ts
Due: prettier --write, eslint --fix, npm run lint

test(M7): self review
  .github/workflows/sem-ver-options.json
Due: prettier --write

Test/m7/payments history.service.ts (#133)
  .github/workflows/sem-ver-options.json
  package-lock.json
  package.json
  src/domain/models/accounting/payment-operation.model.ts
  src/tests/accounting/services/payments-history.service.spec.ts
  src/tests/currency-rates/services/line-chart-title.service.spec.ts
Due: prettier --write, eslint --fix, npm run lint

"Updated version 0.199 -> 0.200-rc."
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  prettier --write: ((any of: *.css) or (any of: *.{ts, html})) or (any of: *.{js,json,css,scss,less,md,ts,html})
  npm run lint-css: any of: *.css
  eslint --fix: any of: *.{ts, html}
  npm run lint: any of: *.{ts, html}
