Repository Allmantool/h-budget.UI: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint-css, eslint --fix, npm run lint

.lintstagedrc:

{
	"*.css": ["prettier --write", "npm run lint-css"],
	"*.{ts, html}": ["eslint --fix", "prettier --write", "npm run lint"],
	"*.{js,json,css,scss,less,md,ts,html}": ["prettier --write"]
}

"Updated version 0.157 -> 0.158."
  package-lock.json
  package.json
Due: prettier --write

"Updated version 0.158 -> 0.159."
  package-lock.json
  package.json
Due: prettier --write

build(deps): upgrade NPM packages (automated)
  package-lock.json
  package.json
Due: prettier --write

"Updated version 0.159 -> 0.160."
  package-lock.json
  package.json
Due: prettier --write

fix: valid package json
  .github/workflows/build.yml
  package-lock.json
  package.json
Due: prettier --write

chore: self review
  .github/workflows/build.yml
  package-lock.json
  package.json
Due: prettier --write

feat: fix for rate value entity to domain mapping
  src/data/providers/rates/mappers/data-rates-mapping.profiler.ts
Due: prettier --write, eslint --fix, npm run lint

fix: apply with for nesting type with mapFromUsing
  src/data/providers/rates/mappers/data-rates-mapping.profiler.ts
Due: prettier --write, eslint --fix, npm run lint

build(deps): upgrade NPM packages (automated)
  package.json
Due: prettier --write

feat: use --target minor to update npm packages without breaking change risks
  .github/workflows/upgrade-packages.yml
  package.json
Due: prettier --write

build(deps): upgrade NPM packages (automated)
  package-lock.json
Due: prettier --write

feat: bump version only on commit to master
  .github/workflows/version-bumper.yaml
Due: none

chore: typo at upgrade npm packages
  .github/workflows/upgrade-packages.yml
Due: none

chore: self review
  .github/workflows/upgrade-packages.yml
Due: none

feat: bump version only on commit to master (#79)
  .github/workflows/upgrade-packages.yml
  .github/workflows/version-bumper.yaml
  package-lock.json
Due: prettier --write

fix: adjust
  .github/workflows/sem-ver-options.json
  .github/workflows/version-bumper.yaml
Due: prettier --write

chore: on push
  .github/workflows/version-bumper.yaml
Due: none

Fix/bug 128 (#81)
  .github/workflows/sem-ver-options.json
  .github/workflows/version-bumper.yaml
Due: prettier --write

"Updated version 0.160 -> 0.161."
  package-lock.json
  package.json
Due: prettier --write

feat(M6): add base payment operation model
  package-lock.json
  package.json
  src/app/modules/shared/components/dialog/payment-account/payment-account-dialog.component.ts
  src/app/modules/shared/store/states/accounting/payment-account.state.ts
  src/app/modules/shared/store/states/accounting/selectors/payment-account.selector.ts
  src/data/providers/accounting/contractors.provider.ts
  src/data/providers/accounting/entities/contractor.entity.ts
  src/data/providers/accounting/entities/payment-account.entity.ts
  src/data/providers/accounting/entities/payment-operation.entity.ts
  src/data/providers/accounting/mappers/contractor.mapping.profile.ts
  src/data/providers/accounting/mappers/payment-accounts.mapping.profile.ts
  src/data/providers/accounting/mappers/payment-operations.mapping.profile.ts
  src/data/providers/accounting/payment-accounts.provider.ts
  src/data/providers/accounting/payment-operations.provider.ts
  src/domain/models/accounting/payment-account.model.ts
  src/domain/models/accounting/payment-operation.model.ts
  src/presentation/accounting/accounting.module.ts
  src/presentation/accounting/components/accounting-operations-grid/accounting-operations-grid.component.ts
  src/presentation/accounting/components/payment-account/payment-account.component.html
Due: prettier --write, eslint --fix, npm run lint

feat(M6): base implementation for payment operations mock api
  .eslintrc.json
  src/app/modules/shared/store/states/accounting/actions/payment-operation.actions.ts
  src/app/modules/shared/store/states/accounting/payment-operations.state.ts
  src/app/modules/shared/store/states/accounting/selectors/accounting.selectors.ts
  src/app/modules/shared/store/states/rates/currency-rates.state.ts
  src/data/providers/accounting/entities/payment-operation.entity.ts
  src/data/providers/accounting/mappers/payment-accounts.mapping.profile.ts
  src/data/providers/accounting/mappers/payment-operations.mapping.profile.ts
  src/data/providers/accounting/payment-accounts.provider.ts
  src/data/providers/accounting/payment-operations.provider.ts
  src/data/providers/rates/national-bank-currency.provider.ts
  src/domain/models/accounting/payment-operation.model.ts
  src/presentation/accounting/accounting.module.ts
  src/presentation/accounting/components/accounting-operations-grid/accounting-operations-grid.component.ts
  src/presentation/accounting/services/accounting-operations.service.ts
Due: prettier --write, eslint --fix, npm run lint

feat(M6): update packages
  package-lock.json
  package.json
Due: prettier --write

feat(M6): add select payment account operations functionality
  .eslintrc.json
  src/app/modules/shared/store/states/handbooks/selectors/categories.selectors.ts
  src/app/modules/shared/store/states/handbooks/selectors/counterparties.selectors.ts
  src/data/providers/accounting/entities/contractor.entity.ts
  src/data/providers/accounting/entities/operation-category.entity.ts
  src/data/providers/accounting/mappers/category.mapping.profile.ts
  src/data/providers/accounting/mappers/contractor.mapping.profile.ts
  src/data/providers/accounting/mappers/payment-operations.mapping.profile.ts
  src/domain/extensions/global.d.ts
  src/domain/extensions/handbookExtensions.ts
  src/domain/models/accounting/category.model.ts
  src/domain/models/accounting/contractor.model..ts
  src/presentation/accounting/accounting.module.ts
  src/presentation/accounting/components/accounting-operations-crud/accounting-operations-crud.component.ts
  src/presentation/accounting/components/accounting-operations-grid/accounting-operations-grid.component.ts
Due: prettier --write, eslint --fix, npm run lint

feat(M6): add payment operation response / request models
  src/data/providers/accounting/mappers/payment-accounts.mapping.profile.ts
  src/data/providers/accounting/mappers/payment-operations.mapping.profile.ts
  src/data/providers/accounting/payment-operations.provider.ts
  src/domain/models/accounting/requests/payment-pperation-create-or-update.request.ts
  src/domain/models/accounting/responses/payment-account-create-or-update.response.ts
Due: prettier --write, eslint --fix, npm run lint

chore(M6): fix several minir misfunctions
  src/presentation/accounting/components/accounting-operations-crud/accounting-operations-crud.component.html
  src/presentation/accounting/components/accounting-operations-crud/accounting-operations-crud.component.ts
  src/presentation/accounting/components/accounting-operations-grid/accounting-operations-grid.component.ts
  src/presentation/accounting/services/accounting-operations.service.ts
Due: prettier --write, eslint --fix, npm run lint

chore(M6): self review
  src/presentation/accounting/components/accounting-operations-crud/accounting-operations-crud.component.html
Due: prettier --write

chore(M6): self review
  src/app/modules/shared/store/states/handbooks/selectors/categories.selectors.ts
  src/app/modules/shared/store/states/handbooks/selectors/counterparties.selectors.ts
  src/presentation/accounting/components/accounting-operations-crud/accounting-operations-crud.component.html
  src/presentation/accounting/components/accounting-operations-crud/accounting-operations-crud.component.ts
  src/presentation/accounting/services/accounting-operations.service.ts
Due: prettier --write, eslint --fix, npm run lint

chore(M6): self review
  package.json
  src/data/providers/accounting/entities/payment-operation.entity.ts
  src/data/providers/accounting/mappers/payment-operations.mapping.profile.ts
  src/domain/models/accounting/requests/payment-pperation-create-or-update.request.ts
  src/presentation/accounting/services/accounting-operations.service.ts
Due: prettier --write, eslint --fix, npm run lint

chore(M6): self review
  src/data/providers/accounting/mappers/payment-operations.mapping.profile.ts
  src/domain/models/accounting/requests/payment-pperation-create-or-update.request.ts
Due: prettier --write, eslint --fix, npm run lint

chore(M6): self review
  src/app/modules/shared/components/dialog/categories/categories-dialog.component.ts
  src/app/modules/shared/components/dialog/counterparties/counterparties-dialog.component.ts
  src/app/modules/shared/store/states/rates/selectors/currency.selectors.ts
  src/data/providers/accounting/contractors.provider.ts
  src/domain/providers/rates/bank-currency.provider.ts
  src/presentation/accounting/components/accounting-operations-grid/accounting-operations-grid.component.ts
  src/presentation/accounting/services/categories-dialog.service.ts
  src/presentation/currency-rates/components/currency-rates-grid/currency-rates-grid.component.ts
  src/presentation/currency-rates/mappers/presentation-rates-mapping.profiler.ts
  src/presentation/currency-rates/services/currency-rates-grid.service.ts
  src/presentation/currency-rates/services/line-chart.service.ts
  src/presentation/currency-rates/services/rates-dialog.service.ts
  src/tests/share/store/states/currency-rates.state.spec.ts
Due: prettier --write, eslint --fix, npm run lint

"Updated version 0.161 -> 0.162."
  package-lock.json
  package.json
Due: prettier --write

test(M6): add several mock tests for national bank currencies provider
  .gitignore
  src/app/modules/shared/store/states/rates/currency-rates.state.ts
  src/core/types/extract-public.type.ts
  src/data/providers/rates/national-bank-currencies.provider.ts
  src/domain/models/dates-range-payload.model.ts
  src/domain/providers/rates/bank-currencies.provider.ts
  src/domain/usecases/rates/get-rates-for-period.usecase.ts
  src/domain/usecases/rates/get-rates.usecase.ts
  src/domain/usecases/rates/get-today-rates.usecase.ts
  src/presentation/accounting/components/accounting-operations-grid/accounting-operations-grid.component.ts
  src/presentation/currency-rates/components/currency-rates-grid/currency-rates-grid.component.ts
  src/presentation/currency-rates/currency-rates.module.ts
  src/presentation/currency-rates/services/rates-dialog.service.spec.ts
  src/presentation/currency-rates/services/rates-dialog.service.ts
  src/tests/currency-rates/providers/national-bank-currency.provider.spec.ts
  src/tests/share/store/states/currency-rates.state.spec.ts
Due: prettier --write, eslint --fix, npm run lint

chore(M6): update npm packages
  package.json
Due: prettier --write

test(M6): self review
  src/tests/currency-rates/providers/national-bank-currency.provider.spec.ts
Due: prettier --write, eslint --fix, npm run lint

test(M6): add several mock tests for national bank currencies provider (#83)
  .gitignore
  package.json
  src/app/modules/shared/store/states/rates/currency-rates.state.ts
  src/core/types/extract-public.type.ts
  src/data/providers/rates/national-bank-currencies.provider.ts
  src/domain/models/dates-range-payload.model.ts
  src/domain/providers/rates/bank-currencies.provider.ts
  src/domain/usecases/rates/get-rates-for-period.usecase.ts
  src/domain/usecases/rates/get-rates.usecase.ts
  src/domain/usecases/rates/get-today-rates.usecase.ts
  src/presentation/accounting/components/accounting-operations-grid/accounting-operations-grid.component.ts
  src/presentation/currency-rates/components/currency-rates-grid/currency-rates-grid.component.ts
  src/presentation/currency-rates/currency-rates.module.ts
  src/presentation/currency-rates/services/rates-dialog.service.spec.ts
  src/presentation/currency-rates/services/rates-dialog.service.ts
  src/tests/currency-rates/providers/national-bank-currency.provider.spec.ts
  src/tests/share/store/states/currency-rates.state.spec.ts
Due: prettier --write, eslint --fix, npm run lint
