Repository Allmantool/h-budget.UI: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint-css, eslint --fix, npm run lint

.lintstagedrc:

{
	"*.css": ["prettier --write", "npm run lint-css"],
	"*.{ts, html}": ["eslint --fix", "prettier --write", "npm run lint"],
	"*.{js,json,css,scss,less,md,ts,html}": ["prettier --write"]
}

Notes added by 'git notes add'
  a2a479e444e87f362681776beaf6b3d67bc02bbc
Due: none

chore: improve ci / cd
  .github/workflows/update_npm_packages.yml
  package.json
  src/presentation/currency-rates/components/currency-rates-dashboard/currency-rates-dashboard.component.css
Due: prettier --write, npm run lint-css

chore(release): v1.1.42 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  c4c1eb66cf4d3f360779dade038d6d7ff4031963
Due: none

build(deps): patch dependency upgrade
  package-lock.json
  package.json
Due: prettier --write

build(deps): minor dependency upgrade
  package-lock.json
  package.json
Due: prettier --write

chore(release): v1.1.43 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  4b8bb32bd679fe43840e536b858675091564e3f2
Due: none

tech: add-cocdex-base-code-standards
  .eslintrc.json
  .github/pull_request_template.md
  AGENTS.md
  docs/angular-code-review-checklist.md
  docs/angular-coding-standards.md
  src/tests/accounting/services/accounting-operations.service.spec.ts
Due: prettier --write, eslint --fix, npm run lint

chore(release): v1.1.44 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  9cf4235f9a89b4e6af11678a9c27c90fe8bbbbe2
Due: none

test:improve coverage
  src/app/modules/app-bootstrap/app-bootstrap-routing.module.ts
  src/app/modules/app-bootstrap/app-bootstrap.module.ts
  src/app/modules/core/interceptors/http-request-loader.interceptor.ts
  src/presentation/accounting/accounting-routing.module.ts
  src/presentation/accounting/accounting.module.ts
  src/presentation/currency-rates/currency-rates-routing.module.ts
  src/presentation/currency-rates/currency-rates.module.ts
  src/presentation/main-dashboard/main-dashboard-routing.module.ts
  src/tests/accounting/components/accounting-operations-crud.component.spec.ts
  src/tests/accounting/components/payment-account.component.spec.ts
  src/tests/accounting/components/payments-history.component.spec.ts
  src/tests/accounting/services/payments-history.service.spec.ts
  src/tests/core/http-interceptors.spec.ts
  src/tests/currency-rates/components/currency-rates-grid.component.spec.ts
  src/tests/routing/spa-routing.spec.ts
  src/tests/share/components/form-field/app-form-field.component.spec.ts
Due: prettier --write, eslint --fix, npm run lint

chore: self review
  package-lock.json
  package.json
Due: prettier --write

chore(release): v1.1.45 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  c55b1a9378e67b198649f19395e9961d4ff9b7a6
Due: none

chore(release): v1.1.46 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  9d2ab4ebfb07354531c0b01c639c2f0b7c7a691f
Due: none

chore(release): v1.1.47 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  59e3e52f6d1db902c89291181107e1784e9b722d
Due: none

chore: add standards
  AGENTS.md
  README.md
  docs/angular-code-review-checklist.md
  docs/angular-coding-standards.md
Due: prettier --write

chore(release): v1.1.48 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  7de704d85165fed53746b272f0338266bb63f058
Due: none

build(deps): safe minor dependency upgrade
  package-lock.json
  package.json
Due: prettier --write

chore(release): v1.1.49 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  41f38f224e3f5b6e2eb93bcd3d9812df3966cd46
Due: none

build(deps): safe patch dependency upgrade
  package-lock.json
  package.json
Due: prettier --write

chore(release): v1.1.50 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  06212a74fa14c5687529db95c0dc6c6f5d7d96e2
Due: none

tech: 1-Implemented the first standalone migration slice
  package-lock.json
  src/app/modules/app-bootstrap/app-bootstrap-routing.module.ts
  src/app/modules/shared/components/button/app-button.component.ts
  src/app/modules/shared/components/divider/app-divider.component.ts
  src/app/modules/shared/components/page-not-found/page-not-found.component.ts
  src/app/modules/shared/components/progress-bar/progress-bar.component.ts
  src/app/modules/shared/components/progress-spinner/progress-spinner.component.ts
  src/app/modules/shared/custom-ui-components.shared.module.ts
  src/app/modules/shared/pipes/accounting-currency.pipe.ts
  src/app/modules/shared/pipes/currency-abbreviation-to-flag.pipe.ts
  src/app/modules/shared/shared.module.ts
  src/presentation/accounting/accounting-routing.module.ts
  src/presentation/currency-rates/currency-rates-routing.module.ts
  src/presentation/main-dashboard/components/dashboard-item/main-dashboard-cart.component.ts
  src/presentation/main-dashboard/main-dashboard-routing.module.ts
  src/presentation/main-dashboard/main-dashboard.component.spec.ts
  src/presentation/main-dashboard/main-dashboard.module.ts
  src/tests/routing/spa-routing.spec.ts
Due: prettier --write, eslint --fix, npm run lint

tech: 2-Converted only the shared CVA controls to standalone and kept CustomUIComponentsSharedModule as a transitional NgModule wrapper
  src/app/modules/shared/components/datepicker/app-datepicker.component.ts
  src/app/modules/shared/components/form-field/app-form-field.component.ts
  src/app/modules/shared/custom-ui-components.shared.module.ts
  src/tests/share/components/form-field/app-form-field.component.spec.ts
Due: prettier --write, eslint --fix, npm run lint

chore: 3-Converted only `DateRangeDialogComponent` to standalone
  src/app/modules/shared/components/dialog/dates-rage/dates-range-dialog.component.ts
  src/app/modules/shared/dialogs.shared.module.ts
  src/tests/share/components/dialog/rates/date-range-dialog.component.spec.ts
Due: prettier --write, eslint --fix, npm run lint

chore: convert only CategoriesDialogComponent to standalone
  src/app/modules/shared/components/dialog/categories/categories-dialog.component.ts
  src/app/modules/shared/dialogs.shared.module.ts
  src/tests/share/components/dialog/categories/categories-dialog.component.spec.ts
Due: prettier --write, eslint --fix, npm run lint

chore: 4-Converted only ContractorsDialogComponent to standalone
  src/app/modules/shared/components/dialog/contractors/contractors-dialog.component.ts
  src/app/modules/shared/dialogs.shared.module.ts
  src/tests/share/components/dialog/contractors/contractors-dialog.component.spec.ts
Due: prettier --write, eslint --fix, npm run lint
