Repository Allmantool/h-budget.UI: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint-css, eslint --fix, npm run lint

.lintstagedrc:

{
	"*.css": ["prettier --write", "npm run lint-css"],
	"*.{ts, html}": ["eslint --fix", "prettier --write", "npm run lint"],
	"*.{js,json,css,scss,less,md,ts,html}": ["prettier --write"]
}

build(deps): upgrade NPM packages (automated)
  package-lock.json
  package.json
Due: prettier --write

build(deps): upgrade NPM packages (automated)
  package-lock.json
Due: prettier --write

feat(M7): adjust transfer dialog
  src/app/modules/shared/components/dialog/cross-accounts-transfer/cross-accounts-transfer-dialog.component.css
  src/app/modules/shared/components/dialog/cross-accounts-transfer/cross-accounts-transfer-dialog.component.html
  src/app/modules/shared/components/dialog/cross-accounts-transfer/cross-accounts-transfer-dialog.component.ts
  src/presentation/accounting/services/cross-accounts-transfer.dialog.service.ts
Due: prettier --write, npm run lint-css, eslint --fix, npm run lint

feat(M7): add base request model for currency exchange
  src/app/modules/shared/components/datepicker/app-datepicker.component.ts
  src/app/modules/shared/components/dialog/cross-accounts-transfer/cross-accounts-transfer-dialog.component.html
  src/app/modules/shared/components/dialog/cross-accounts-transfer/cross-accounts-transfer-dialog.component.ts
  src/data/providers/rates/currency-exchange.service.ts
  src/presentation/accounting/accounting.module.ts
  src/presentation/currency-rates/models/rate-convertion.model.ts
Due: prettier --write, eslint --fix, npm run lint

chore(M7): self review
  src/app/modules/shared/components/dialog/cross-accounts-transfer/cross-accounts-transfer-dialog.component.css
  src/app/modules/shared/components/dialog/cross-accounts-transfer/cross-accounts-transfer-dialog.component.html
  src/app/modules/shared/components/dialog/cross-accounts-transfer/cross-accounts-transfer-dialog.component.ts
  src/app/modules/shared/constants/date-formats.ts
  src/data/providers/accounting/mappers/payment-operations.mapping.profile.ts
  src/data/providers/rates/currency-exchange.service.ts
  src/data/providers/rates/mappers/exchange-rates-mapping.profile.ts
  src/data/providers/rates/national-bank-currencies.provider.ts
  src/domain/models/rates/requests/rates-exchange-multiplier.request.ts
  src/domain/models/rates/requests/rates-exchange.request.ts
  src/presentation/accounting/accounting.module.ts
  src/presentation/currency-rates/models/rate-multiplier.model.ts
Due: prettier --write, npm run lint-css, eslint --fix, npm run lint

feat(M7): update npm packages
  package-lock.json
  package.json
Due: prettier --write

feat(M7): apply select options
  package-lock.json
  package.json
  src/app/modules/shared/components/datepicker/app-datepicker.component.ts
  src/app/modules/shared/components/dialog/cross-accounts-transfer/cross-accounts-transfer-dialog.component.html
  src/app/modules/shared/components/dialog/cross-accounts-transfer/cross-accounts-transfer-dialog.component.ts
  src/app/modules/shared/components/form-field/app-form-field.component.html
  src/app/modules/shared/components/form-field/app-form-field.component.ts
  src/app/modules/shared/models/select-dropdown-options.ts
  src/app/modules/shared/types/form-input.type.ts
Due: prettier --write, eslint --fix, npm run lint

feat(M7): self review
  package-lock.json
  package.json
  src/app/modules/shared/components/dialog/cross-accounts-transfer/cross-accounts-transfer-dialog.component.ts
Due: prettier --write, eslint --fix, npm run lint

feat(M7): self review
  src/app/modules/shared/components/dialog/cross-accounts-transfer/cross-accounts-transfer-dialog.component.ts
  src/app/modules/shared/components/form-field/app-form-field.component.ts
Due: prettier --write, eslint --fix, npm run lint

chore(m7): self review
  src/app/modules/shared/components/dialog/cross-accounts-transfer/cross-accounts-transfer-dialog.component.css
  src/app/modules/shared/components/dialog/cross-accounts-transfer/cross-accounts-transfer-dialog.component.html
  src/app/modules/shared/components/dialog/cross-accounts-transfer/cross-accounts-transfer-dialog.component.ts
  src/app/modules/shared/components/form-field/app-form-field.component.ts
Due: prettier --write, npm run lint-css, eslint --fix, npm run lint

chore(m7): adjust transfer messages
  src/app/modules/shared/components/dialog/cross-accounts-transfer/cross-accounts-transfer-dialog.component.ts
Due: prettier --write, eslint --fix, npm run lint

chore(m7): update packages
  package-lock.json
  package.json
  src/app/modules/shared/components/dialog/cross-accounts-transfer/cross-accounts-transfer-dialog.component.css
  src/app/modules/shared/components/dialog/cross-accounts-transfer/cross-accounts-transfer-dialog.component.ts
Due: prettier --write, npm run lint-css, eslint --fix, npm run lint

chore(m7): self review
  src/tests/share/components/form-field/app-form-field.component.spec.ts
Due: prettier --write, eslint --fix, npm run lint

Feature/m7/cross accounts transfer dialog (#202)
  package-lock.json
  src/app/modules/shared/components/datepicker/app-datepicker.component.ts
  src/app/modules/shared/components/dialog/cross-accounts-transfer/cross-accounts-transfer-dialog.component.css
  src/app/modules/shared/components/dialog/cross-accounts-transfer/cross-accounts-transfer-dialog.component.html
  src/app/modules/shared/components/dialog/cross-accounts-transfer/cross-accounts-transfer-dialog.component.ts
  src/app/modules/shared/components/form-field/app-form-field.component.html
  src/app/modules/shared/components/form-field/app-form-field.component.ts
  src/app/modules/shared/constants/date-formats.ts
  src/app/modules/shared/models/select-dropdown-options.ts
  src/app/modules/shared/types/form-input.type.ts
  src/data/providers/accounting/mappers/payment-operations.mapping.profile.ts
  src/data/providers/rates/currency-exchange.service.ts
  src/data/providers/rates/mappers/exchange-rates-mapping.profile.ts
  src/data/providers/rates/national-bank-currencies.provider.ts
  src/domain/models/rates/requests/rates-exchange-multiplier.request.ts
  src/domain/models/rates/requests/rates-exchange.request.ts
  src/presentation/accounting/accounting.module.ts
  src/presentation/accounting/services/cross-accounts-transfer.dialog.service.ts
  src/presentation/currency-rates/models/rate-convertion.model.ts
  src/presentation/currency-rates/models/rate-multiplier.model.ts
  src/tests/share/components/form-field/app-form-field.component.spec.ts
Due: prettier --write, npm run lint-css, eslint --fix, npm run lint

hotfix: run workflow only when nuget packages have been updated
  .github/workflows/version-bumper.yaml
Due: none

tech: update version to force auto bump
  package.json
Due: prettier --write

"Updated version 0.2.5 -> 0.3.5."
  package.json
Due: prettier --write

tech: update version to force auto bump (#204)
  package.json
Due: prettier --write

"Updated version 0.3.5 -> 0.1.6-rc."
  package-lock.json
  package.json
Due: prettier --write

hotfix: adjust package-lock
  package-lock.json
Due: prettier --write
