Repository Allmantool/h-budget.UI: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint-css, eslint --fix, npm run lint

.lintstagedrc:

{
	"*.css": ["prettier --write", "npm run lint-css"],
	"*.{ts, html}": ["eslint --fix", "prettier --write", "npm run lint"],
	"*.{js,json,css,scss,less,md,ts,html}": ["prettier --write"]
}

"Updated version 0.162 -> 0.163."
  package-lock.json
  package.json
Due: prettier --write

test(M6): base setup for currency rates grid component
  src/tests/currency-rates/components/currency-rates-grid.component.spec.ts
  src/tests/currency-rates/components/currency-rates-grid/currency-rates-grid.component.spec.ts
  src/tests/currency-rates/components/currency-rates-line-chart.component.spec.ts
  src/tests/currency-rates/mappers/presentation-rates-mapping.profiler.spec.ts
  src/tests/currency-rates/services/currency-rates-grid.service.spec.ts
  src/tests/currency-rates/services/line-chart-title.service.spec.ts
  src/tests/currency-rates/services/line-chart.service.spec.ts
  src/tests/currency-rates/services/rates-dialog.service.spec.ts
  src/tests/mock.spec.ts
Due: prettier --write, eslint --fix, npm run lint

chore(M6): self review
  src/presentation/currency-rates/components/currency-rates-grid/currency-rates-grid.component.html
  src/presentation/currency-rates/components/currency-rates-grid/currency-rates-grid.component.ts
  src/presentation/currency-rates/models/currency-grid-rate.model.ts
  src/presentation/currency-rates/services/currency-rates-grid.service.ts
Due: prettier --write, eslint --fix, npm run lint

test(M6): add test for currency rates grid component
  src/presentation/currency-rates/components/currency-rates-grid/currency-rates-grid.component.ts
  src/presentation/currency-rates/services/rates-dialog.service.ts
  src/tests/currency-rates/components/currency-rates-grid.component.spec.ts
Due: prettier --write, eslint --fix, npm run lint

Test/m6/improve coverate for currency rates grid component (#84)
  src/presentation/currency-rates/components/currency-rates-grid/currency-rates-grid.component.html
  src/presentation/currency-rates/components/currency-rates-grid/currency-rates-grid.component.ts
  src/presentation/currency-rates/models/currency-grid-rate.model.ts
  src/presentation/currency-rates/services/currency-rates-grid.service.ts
  src/presentation/currency-rates/services/rates-dialog.service.ts
  src/tests/currency-rates/components/currency-rates-grid.component.spec.ts
  src/tests/currency-rates/components/currency-rates-grid/currency-rates-grid.component.spec.ts
  src/tests/currency-rates/components/currency-rates-line-chart.component.spec.ts
  src/tests/currency-rates/mappers/presentation-rates-mapping.profiler.spec.ts
  src/tests/currency-rates/services/currency-rates-grid.service.spec.ts
  src/tests/currency-rates/services/line-chart-title.service.spec.ts
  src/tests/currency-rates/services/line-chart.service.spec.ts
  src/tests/currency-rates/services/rates-dialog.service.spec.ts
  src/tests/mock.spec.ts
Due: prettier --write, eslint --fix, npm run lint

"Updated version 0.163 -> 0.164."
  package-lock.json
  package.json
Due: prettier --write

test(M6): add tests for currency rates grid service
  src/presentation/currency-rates/mappers/presentation-rates-mapping.profiler.ts
  src/presentation/currency-rates/services/currency-rates-grid.service.ts
  src/tests/currency-rates/components/currency-rates-grid.component.spec.ts
  src/tests/currency-rates/services/currency-rates-grid.service.spec.ts
Due: prettier --write, eslint --fix, npm run lint

chore(M6): update npm packages (minor)
  package.json
Due: prettier --write

Test/m6/currency rates grid service (#85)
  package.json
  src/presentation/currency-rates/mappers/presentation-rates-mapping.profiler.ts
  src/presentation/currency-rates/services/currency-rates-grid.service.ts
  src/tests/currency-rates/components/currency-rates-grid.component.spec.ts
  src/tests/currency-rates/services/currency-rates-grid.service.spec.ts
Due: prettier --write, eslint --fix, npm run lint

"Updated version 0.164 -> 0.165."
  package-lock.json
  package.json
Due: prettier --write

test(M6): refactor line chart service
  package-lock.json
  package.json
  src/app/modules/shared/store/states/rates/actions/currency-table-options.actions.ts
  src/app/modules/shared/store/states/rates/currency-table.state.ts
  src/presentation/currency-rates/components/currency-rates-line-chart/currency-rates-line-chart.component.ts
  src/presentation/currency-rates/services/line-chart.service.ts
  src/tests/currency-rates/services/line-chart.service.spec.ts
Due: prettier --write, eslint --fix, npm run lint

chore(M6): self review
  src/presentation/currency-rates/components/currency-rates-line-chart/currency-rates-line-chart.component.ts
  src/presentation/currency-rates/services/line-chart.service.ts
Due: prettier --write, eslint --fix, npm run lint

chore(M6): self review
  src/presentation/currency-rates/services/line-chart.service.ts
Due: prettier --write, eslint --fix, npm run lint

chore(M6): self review
  src/presentation/currency-rates/components/currency-rates-line-chart/currency-rates-line-chart.component.ts
  src/presentation/currency-rates/services/line-chart.service.ts
  src/tests/currency-rates/services/line-chart.service.spec.ts
Due: prettier --write, eslint --fix, npm run lint

test(M6): self review
  src/tests/currency-rates/services/line-chart.service.spec.ts
Due: prettier --write, eslint --fix, npm run lint

chore(M6): sonar scanner fixes
  src/presentation/currency-rates/components/currency-rates-line-chart/currency-rates-line-chart.component.ts
Due: prettier --write, eslint --fix, npm run lint

chore(M6): add mocks template for rates tests
  src/tests/currency-rates/components/currency-rates-line-chart.component.spec.ts
  src/tests/currency-rates/mappers/presentation-rates-mapping.profiler.spec.ts
  src/tests/currency-rates/services/line-chart-title.service.spec.ts
Due: prettier --write, eslint --fix, npm run lint

test(M6): add currency rates line chart component
  src/tests/currency-rates/components/currency-rates-line-chart.component.spec.ts
Due: prettier --write, eslint --fix, npm run lint

Test/m6/line chart service (#86)
  package-lock.json
  package.json
  src/app/modules/shared/store/states/rates/actions/currency-table-options.actions.ts
  src/app/modules/shared/store/states/rates/currency-table.state.ts
  src/presentation/currency-rates/components/currency-rates-line-chart/currency-rates-line-chart.component.ts
  src/presentation/currency-rates/services/line-chart.service.ts
  src/tests/currency-rates/components/currency-rates-line-chart.component.spec.ts
  src/tests/currency-rates/mappers/presentation-rates-mapping.profiler.spec.ts
  src/tests/currency-rates/services/line-chart-title.service.spec.ts
  src/tests/currency-rates/services/line-chart.service.spec.ts
Due: prettier --write, eslint --fix, npm run lint

"Updated version 0.165 -> 0.166."
  package-lock.json
  package.json
Due: prettier --write

test(M6): lIne chart title service tests
  src/app/modules/shared/constants/hex-colors.ts
  src/tests/currency-rates/services/line-chart-title.service.spec.ts
Due: prettier --write, eslint --fix, npm run lint

test(M6): add tests for line chart title service
  src/domain/models/rates/currency-rate-value.model.ts
  src/domain/models/rates/currency-rates-group.model.ts
  src/presentation/currency-rates/services/rates-dialog.service.ts
  src/tests/currency-rates/components/currency-rates-grid.component.spec.ts
  src/tests/currency-rates/mappers/presentation-rates-mapping.profiler.spec.ts
  src/tests/currency-rates/services/rates-dialog.service.spec.ts
Due: prettier --write, eslint --fix, npm run lint

chore(M6): update npm packages
  package.json
Due: prettier --write

chore(M6): self review
  src/tests/currency-rates/services/rates-dialog.service.spec.ts
Due: prettier --write, eslint --fix, npm run lint

"Updated version 0.166 -> 0.167."
  package-lock.json
  package.json
Due: prettier --write

chore(M6): update minor packages
  package-lock.json
  package.json
Due: prettier --write

feat(M6): update up to angular v17
  package-lock.json
  package.json
  project.json
Due: prettier --write

test(M6): add tests for rates dialog service
  .github/workflows/upgrade-packages.yml
  package.json
  src/presentation/currency-rates/services/rates-dialog.service.ts
  src/tests/currency-rates/components/currency-rates-grid.component.spec.ts
  src/tests/currency-rates/providers/national-bank-currency.provider.spec.ts
  src/tests/currency-rates/services/rates-dialog.service.spec.ts
Due: prettier --write, eslint --fix, npm run lint

Test/m6/rates dialog service (#88)
  .github/workflows/upgrade-packages.yml
  package-lock.json
  package.json
  project.json
  src/presentation/currency-rates/services/rates-dialog.service.ts
  src/tests/currency-rates/components/currency-rates-grid.component.spec.ts
  src/tests/currency-rates/providers/national-bank-currency.provider.spec.ts
  src/tests/currency-rates/services/rates-dialog.service.spec.ts
Due: prettier --write, eslint --fix, npm run lint

"Updated version 0.167 -> 0.168."
  package-lock.json
  package.json
Due: prettier --write

chore: fix for rates dialog service
  src/presentation/currency-rates/services/rates-dialog.service.ts
Due: prettier --write, eslint --fix, npm run lint

chore: fix for rates dialog service (#90)
  src/presentation/currency-rates/services/rates-dialog.service.ts
Due: prettier --write, eslint --fix, npm run lint

"Updated version 0.168 -> 0.169."
  package-lock.json
  package.json
Due: prettier --write

tech: fix npm package update script
  .github/workflows/upgrade-packages.yml
Due: none

chore: self review
  .github/workflows/upgrade-packages.yml
Due: none

chore: update node version up to 21
  .github/workflows/build.yml
  .github/workflows/upgrade-packages.yml
  .github/workflows/version-bumper.yaml
Due: none

chore: self review
  .github/workflows/version-bumper.yaml
Due: none

tech: fix npm package update script (#91)
  .github/workflows/build.yml
  .github/workflows/upgrade-packages.yml
  .github/workflows/version-bumper.yaml
Due: none
