Repository Allmantool/h-budget.UI: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint-css, eslint --fix, npm run lint

.lintstagedrc:

{
	"*.css": ["prettier --write", "npm run lint-css"],
	"*.{ts, html}": ["eslint --fix", "prettier --write", "npm run lint"],
	"*.{js,json,css,scss,less,md,ts,html}": ["prettier --write"]
}

chore: self review
  src/presentation/accounting/components/accounting-operations-crud/accounting-operations-crud.component.ts
Due: prettier --write, eslint --fix, npm run lint

tech: github actions
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/nukeeper.yml
  .github/workflows/sem-ver-options.json
  .github/workflows/upgrade-packages.yml
  .github/workflows/version-bumper.yaml
Due: prettier --write

chore: self review
  .github/workflows/build.yml
  .github/workflows/nukeeper.yml
  .github/workflows/sem-ver-options.json
Due: prettier --write

chore: fix paths
  .github/workflows/build.yml
Due: none

chore: adjust path for Use Node.js step
  .github/workflows/build.yml
Due: none

chore: GITHUB_TOKEN
  .github/workflows/version-bumper.yaml
Due: none

chore: use variable
  .github/workflows/version-bumper.yaml
Due: none

chore: add permissions
  .github/workflows/version-bumper.yaml
Due: none

chore: extend bot permissions
  .github/workflows/version-bumper.yaml
Due: none

chore: fetch-depth: 0
  .github/workflows/version-bumper.yaml
Due: none

"Updated version 0.111 -> 0.112."
  package-lock.json
  package.json
Due: prettier --write

Updated version 0.111 -> 0.112
  .github/workflows/version-bumper.yaml
  package-lock.json
  package.json
Due: prettier --write

build(deps): upgrade NPM packages (automated)
  package-lock.json
Due: prettier --write

"Updated version 0.112 -> 0.113."
  package-lock.json
  package.json
Due: prettier --write

"Updated version 0.113 -> 0.114."
  package-lock.json
  package.json
Due: prettier --write

"Updated version 0.114 -> 0.115."
  package-lock.json
  package.json
Due: prettier --write

chore: update packages
  package.json
Due: prettier --write

"Updated version 0.115 -> 0.116."
  package-lock.json
  package.json
Due: prettier --write

feat(M4): adjust update npm packages script
  .github/workflows/upgrade-packages.yml
Due: none

chore: self review
  .github/workflows/upgrade-packages.yml
Due: none

"Updated version 0.116 -> 0.117."
  package-lock.json
  package.json
Due: prettier --write

chore: update npm updaet script
  .github/workflows/upgrade-packages.yml
Due: none

feat: adjust npm packages auto update
  .github/workflows/upgrade-packages.yml
  package.json
Due: prettier --write

build(deps): upgrade NPM packages (automated)
  package.json
Due: prettier --write

chore(M4): self review
  .github/workflows/upgrade-packages.yml
Due: none

chore(M4): try use signals
  .github/workflows/upgrade-packages.yml
  src/app/modules/shared/components/dialog/dates-rage/dates-range-dialog.component.ts
  src/presentation/accounting/components/accounting-operations-crud/accounting-operations-crud.component.html
  src/presentation/accounting/components/accounting-operations-crud/accounting-operations-crud.component.ts
Due: prettier --write, eslint --fix, npm run lint

chore(M4): apply signals
  src/app/modules/shared/components/datepicker/app-datepicker.component.ts
  src/app/modules/shared/components/dialog/categories/categories-dialog.component.html
  src/app/modules/shared/components/dialog/categories/categories-dialog.component.ts
  src/app/modules/shared/components/dialog/counterparties/counterparties-dialog.component.html
  src/app/modules/shared/components/dialog/counterparties/counterparties-dialog.component.ts
  src/app/modules/shared/components/dialog/dates-rage/dates-range-dialog.component.html
  src/app/modules/shared/components/dialog/dates-rage/dates-range-dialog.component.ts
  src/presentation/accounting/components/accounting-operations-crud/accounting-operations-crud.component.ts
Due: prettier --write, eslint --fix, npm run lint

feat(M4): add mock payment account creation ui components
  src/app/modules/shared/components/dialog/dates-rage/dates-range-dialog.component.ts
  src/app/modules/shared/components/dialog/payment-account/payment-account.component.css
  src/app/modules/shared/components/dialog/payment-account/payment-account.component.html
  src/app/modules/shared/components/dialog/payment-account/payment-account.component.ts
  src/app/modules/shared/components/form-field/app-form-field.component.html
  src/app/modules/shared/models/notification.ts
  src/app/modules/shared/shared.module.ts
  src/domain/models/accounting/payment-account.ts
  src/presentation/accounting/accounting.module.ts
  src/presentation/accounting/components/accounting-operations-crud/accounting-operations-crud.component.ts
  src/presentation/accounting/components/payment-account-crud/payment-account-crud.component.html
  src/presentation/accounting/components/payment-account-crud/payment-account-crud.component.ts
  src/presentation/accounting/components/payment-account/payment-account.component.ts
  src/presentation/accounting/services/categories-dialog.service.ts
  src/presentation/accounting/services/counterparties-dialog.service.ts
  src/presentation/accounting/services/payment-account-dialog.service.ts
Due: prettier --write, npm run lint-css, eslint --fix, npm run lint

build(deps): upgrade NPM packages (automated)
  package-lock.json
  package.json
Due: prettier --write

chore(M4): self review
  src/app/modules/shared/components/dialog/payment-account/payment-account-dialog.component.css
  src/app/modules/shared/components/dialog/payment-account/payment-account-dialog.component.html
  src/app/modules/shared/components/dialog/payment-account/payment-account.-dialog.component.ts
  src/app/modules/shared/shared.module.ts
  src/presentation/accounting/services/payment-account-dialog.service.ts
Due: prettier --write, npm run lint-css, eslint --fix, npm run lint

"Updated version 0.117 -> 0.118."
  package-lock.json
  package.json
Due: prettier --write

"Updated version 0.118 -> 0.119."
  package-lock.json
  package.json
Due: prettier --write

feat(tech): add correlation id for loading
  package-lock.json
  src/app/modules/app-boostrap/app-bootsrap.module.ts
  src/app/modules/app-boostrap/components/app-root/app-root.component.html
  src/app/modules/app-boostrap/components/app-root/app-root.component.ts
  src/app/modules/core/interceptors/correlation-id.interceptor.ts
  src/app/modules/core/interceptors/error-logging.interceptor.ts.ts
  src/app/modules/core/interceptors/http-request-loader.interceptor.ts
  src/app/modules/shared/components/progress-spinner/progress-spinner.component.html
  src/app/modules/shared/store/states/accounting/payment-account.state.ts
  src/app/modules/shared/store/states/core-app-root/actions/core-app.actions.ts
  src/app/modules/shared/store/states/core-app-root/core-app.state.ts
  src/app/modules/shared/store/states/core-app-root/models/core-app-state.model.ts
  src/app/modules/shared/store/states/core-app-root/selectors/core-app.selectores.ts
  src/presentation/accounting/components/accounting-operations-crud/accounting-operations-crud.component.ts
  src/presentation/currency-rates/components/currency-rates-line-chart/currency-rates-line-chart.component.html
  src/presentation/currency-rates/currency-rates.module.ts
  src/presentation/currency-rates/services/currency-rates-grid.service.ts
Due: prettier --write, eslint --fix, npm run lint

chore: clean up code
  src/app/modules/shared/constants/routes-segments.ts
Due: prettier --write, eslint --fix, npm run lint
