Repository Allmantool/h-budget.UI: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint-css, eslint --fix, npm run lint

hotfix: adjust package-lock (#205)
  package-lock.json
Due: prettier --write

"Updated version 0.1.6-rc -> 0.1.6."
  package-lock.json
  package.json
Due: prettier --write

hotfix: add verbose to UI docker build
  dockerfile
Due: none

"Updated version 0.1.6-rc -> 0.2.6."
  package-lock.json
  package.json
Due: prettier --write

Hotfix/resolve merge conflict for lock file (#206)
  dockerfile
  package-lock.json
  package.json
Due: prettier --write

"Updated version 0.2.6 -> 0.1.7-rc."
  package-lock.json
  package.json
Due: prettier --write

build(deps): upgrade NPM packages (automated)
  package-lock.json
  package.json
Due: prettier --write

"Updated version 0.1.7-rc -> 0.1.8-rc."
  package-lock.json
  package.json
Due: prettier --write

tech: simplify docker push
  .github/workflows/build.yml
Due: none

"Updated version 0.1.8-rc -> 0.2.8."
  package-lock.json
  package.json
Due: prettier --write

tech: simplify docker push (#208)
  .github/workflows/build.yml
  package-lock.json
  package.json
Due: prettier --write

"Updated version 0.2.8 -> 0.1.9-rc."
  package-lock.json
  package.json
Due: prettier --write

fix: apply default form input values
  src/app/modules/shared/components/dialog/cross-accounts-transfer/cross-accounts-transfer-dialog.component.css
  src/app/modules/shared/components/dialog/cross-accounts-transfer/cross-accounts-transfer-dialog.component.ts
  src/app/modules/shared/components/form-field/app-form-field.component.ts
  src/app/modules/shared/factories/default-type-values.factory.ts
Due: prettier --write, npm run lint-css, eslint --fix, npm run lint

"Updated version 0.1.9-rc -> 0.2.9."
  package-lock.json
  package.json
Due: prettier --write

fix: adjust tests
  src/tests/share/components/form-field/app-form-field.component.spec.ts
Due: prettier --write, eslint --fix, npm run lint

"Updated version 0.2.9 -> 0.3.9."
  package-lock.json
  package.json
Due: prettier --write

Fix/adjust input default values (#209)
  package-lock.json
  package.json
  src/app/modules/shared/components/dialog/cross-accounts-transfer/cross-accounts-transfer-dialog.component.css
  src/app/modules/shared/components/dialog/cross-accounts-transfer/cross-accounts-transfer-dialog.component.ts
  src/app/modules/shared/components/form-field/app-form-field.component.ts
  src/app/modules/shared/factories/default-type-values.factory.ts
  src/tests/share/components/form-field/app-form-field.component.spec.ts
Due: prettier --write, npm run lint-css, eslint --fix, npm run lint

"Updated version 0.3.9 -> 0.1.10-rc."
  package-lock.json
  package.json
Due: prettier --write

build(deps): upgrade NPM packages (automated)
  package-lock.json
Due: prettier --write

"Updated version 0.1.10-rc -> 0.1.11-rc."
  package-lock.json
  package.json
Due: prettier --write

"Updated version 0.1.11-rc -> 0.1.11."
  package-lock.json
  package.json
Due: prettier --write

"Updated version 0.1.11-rc -> 0.1.12-rc."
  package-lock.json
  package.json
Due: prettier --write

feat(M7): set up api contracts
  package-lock.json
  package.json
  src/app/modules/shared/components/dialog/cross-accounts-transfer/cross-accounts-transfer-dialog.component.css
  src/app/modules/shared/components/dialog/cross-accounts-transfer/cross-accounts-transfer-dialog.component.html
  src/app/modules/shared/components/dialog/cross-accounts-transfer/cross-accounts-transfer-dialog.component.ts
  src/data/providers/accounting/cross-accounts-transfer.provider.ts
  src/domain/models/accounting/cross-accounts-transfer.model.ts
  src/domain/models/accounting/requests/cross-accounts-transfer.request.ts
  src/domain/providers/accounting/cross-accounts-transfer.provider.ts
  src/presentation/accounting/services/cross-accounts-transfer.dialog.service.ts
Due: prettier --write, npm run lint-css, eslint --fix, npm run lint

feat(M7): refresh page after a transfer adding
  src/app/modules/shared/components/dialog/cross-accounts-transfer/cross-accounts-transfer-dialog.component.ts
  src/data/providers/accounting/cross-accounts-transfer.provider.ts
  src/data/providers/accounting/payment-operations.provider.ts
  src/data/providers/accounting/payments-history.provider.ts
  src/domain/models/accounting/requests/cross-accounts-transfer.request.ts
  src/domain/models/accounting/responses/cross-accounts-transfer.response.ts
  src/presentation/accounting/accounting.module.ts
  src/presentation/accounting/components/accounting-operations-crud/accounting-operations-crud.component.ts
  src/presentation/accounting/components/payments-history/payments-history.component.ts
  src/presentation/accounting/services/accounting-operations.service.ts
  src/tests/accounting/components/accounting-operations-crud.component.spec.ts
  src/tests/accounting/services/accounting-operations.service.spec.ts
Due: prettier --write, eslint --fix, npm run lint

feat(M7): create account functionality
  package-lock.json
  package.json
  src/app/modules/shared/components/dialog/categories/categories-dialog.component.ts
  src/app/modules/shared/components/dialog/cross-accounts-transfer/cross-accounts-transfer-dialog.component.ts
  src/app/modules/shared/components/dialog/payment-account/payment-account-dialog.component.html
  src/app/modules/shared/components/dialog/payment-account/payment-account-dialog.component.ts
  src/app/modules/shared/components/form-field/app-form-field.component.ts
  src/data/providers/accounting/entities/payment-account.entity.ts
  src/data/providers/accounting/mappers/payment-accounts.mapping.profile.ts
  src/data/providers/accounting/mappers/payment-representations.mapping.profile.ts
  src/domain/models/accounting/category.model.ts
  src/domain/models/accounting/operation-types.ts
  src/domain/models/accounting/payment-operation.model.ts
  src/domain/models/accounting/requests/payment-account-create-or-update.request.ts
  src/domain/types/operation.types.ts
  src/presentation/accounting/components/accounting-operations-crud/accounting-operations-crud.component.ts
  src/presentation/accounting/services/accounting-operations.service.ts
  src/tests/accounting/mappers/payment-accounts.mapping.profile.spec.ts
  src/tests/accounting/mappers/payment-representations.mapping.profile.spec.ts
  src/tests/share/components/dialog/categories/categories-dialog.component.spec.ts
Due: prettier --write, eslint --fix, npm run lint

feat(M7): adjust dropdown update behavior
  package-lock.json
  package.json
  src/app/modules/shared/components/dialog/cross-accounts-transfer/cross-accounts-transfer-dialog.component.ts
  src/app/modules/shared/components/form-field/app-form-field.component.ts
  src/presentation/accounting/components/accounting-operations-crud/accounting-operations-crud.component.html
  src/presentation/accounting/components/accounting-operations-crud/accounting-operations-crud.component.ts
  src/presentation/accounting/services/handbooks.service.ts
Due: prettier --write, eslint --fix, npm run lint

Path conditions:
  prettier --write: ((any of: *.css) or (any of: *.{ts, html})) or (any of: *.{js,json,css,scss,less,md,ts,html})
  npm run lint-css: any of: *.css
  eslint --fix: any of: *.{ts, html}
  npm run lint: any of: *.{ts, html}
