Repository Allmantool/h-budget.UI: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint-css, eslint --fix, npm run lint

"Updated version 0.185 -> 0.186."
  package-lock.json
  package.json
Due: prettier --write

build(deps): upgrade NPM packages (automated)
  package-lock.json
  package.json
Due: prettier --write

"Updated version 0.186 -> 0.187."
  package-lock.json
  package.json
Due: prettier --write

"Updated version 0.187 -> 0.188."
  package-lock.json
  package.json
Due: prettier --write

"Updated version 0.188 -> 0.189."
  package-lock.json
  package.json
Due: prettier --write

feat(M7): update packages
  package-lock.json
  package.json
Due: prettier --write

chore(M7): fix issue with mongo db connection
  src/data/providers/accounting/mappers/payment-operations.mapping.profile.ts
Due: prettier --write, eslint --fix, npm run lint

"Updated version 0.189 -> 0.190."
  package-lock.json
  package.json
Due: prettier --write

"Updated version 0.190 -> 0.191."
  package-lock.json
  package.json
Due: prettier --write

chore(M7): fix the sissue with duplicaton during contractor adding
  src/app/modules/shared/store/states/handbooks/counterparties.state.ts
Due: prettier --write, eslint --fix, npm run lint

feat(M7): update npm packages
  package-lock.json
  package.json
Due: prettier --write

fix(M7): update ts config
  tsconfig.json
Due: prettier --write

test(M7): add test for payment account dialog service
  src/data/providers/accounting/payment-accounts.provider.ts
  src/presentation/accounting/accounting-routing.module.ts
  src/presentation/accounting/services/accounting-operations.service.ts
  src/presentation/accounting/services/payment-account-dialog.service.ts
  src/tests/accounting/services/payment-account-dialog.component.spec.ts
  src/tests/currency-rates/services/rates-dialog.service.spec.ts
Due: prettier --write, eslint --fix, npm run lint

"Updated version 0.191 -> 0.192."
  package-lock.json
  package.json
Due: prettier --write

build(deps): upgrade NPM packages (automated)
  package-lock.json
Due: prettier --write

chore(M7): update lock files
  package-lock.json
Due: prettier --write

tech(M7): refactoring for dialog container
  src/app/modules/shared/components/dialog/categories/categories-dialog.component.ts
  src/app/modules/shared/components/dialog/counterparties/counterparties-dialog.component.ts
  src/app/modules/shared/components/dialog/dates-rage/dates-range-dialog.component.ts
  src/app/modules/shared/components/dialog/payment-account/payment-account-dialog.component.ts
  src/app/modules/shared/models/dialog-container.ts
  src/presentation/accounting/services/payment-account-dialog.service.ts
  src/presentation/currency-rates/services/rates-dialog.service.ts
  src/tests/share/components/dialog/accounting/payment-account-dialog.component.spec.ts
  src/tests/share/components/dialog/rates/date-range-dialog.component.spec.ts
Due: prettier --write, eslint --fix, npm run lint

test(M7): add tests for categories-dialog.component
  src/presentation/accounting/services/categories-dialog.service.ts
  src/tests/share/components/dialog/categories/categories-dialog.component.ts
Due: prettier --write, eslint --fix, npm run lint

"Updated version 0.192 -> 0.193."
  package-lock.json
  package.json
Due: prettier --write

chore(M7): self review
  src/presentation/accounting/services/counterparties-dialog.service.ts
Due: prettier --write, eslint --fix, npm run lint

"Updated version 0.193 -> 0.194."
  package-lock.json
  package.json
Due: prettier --write

tech(M7): update packages
  package-lock.json
  package.json
Due: prettier --write

chore(M7): self review
  src/app/modules/shared/components/dialog/contractors/contractors-dialog.component.css
  src/app/modules/shared/components/dialog/contractors/contractors-dialog.component.html
  src/app/modules/shared/components/dialog/contractors/contractors-dialog.component.ts
  src/app/modules/shared/dialogs.shared.module.ts
  src/app/modules/shared/store/states/handbooks/actions/contractor.actions.ts
  src/app/modules/shared/store/states/handbooks/contractors.state.ts
  src/app/modules/shared/store/states/handbooks/counterparties.state.ts
  src/app/modules/shared/store/states/handbooks/handbooks.state.ts
  src/app/modules/shared/store/states/handbooks/models/IContractorsStateModel.ts
  src/app/modules/shared/store/states/handbooks/selectors/counterparties.selectors.ts
  src/presentation/accounting/accounting.module.ts
  src/presentation/accounting/components/accounting-operations-crud/accounting-operations-crud.component.ts
  src/presentation/accounting/components/payments-history/payments-history.component.ts
  src/presentation/accounting/services/counterparties-dialog.service.ts
  src/tests/share/components/dialog/categories/categories-dialog.component.ts
  src/tests/share/components/dialog/contractors/counter-parties-dialog.component.ts
Due: prettier --write, npm run lint-css, eslint --fix, npm run lint

test(M7): add base tests for contractors-dialog.component
  src/data/providers/accounting/contractors.provider.ts
  src/tests/share/components/dialog/contractors/counter-parties-dialog.component.ts
Due: prettier --write, eslint --fix, npm run lint

test(M7): add tests for payment-operations.mapping.profile.ts
  src/tests/accounting/mappers/payment-operations-mapping.profile.spec.ts
Due: prettier --write, eslint --fix, npm run lint

test(M7): add tests for payment-accounts-mapping.profile tests
  src/tests/accounting/mappers/payment-accounts.mapping.profile.spec.ts
Due: prettier --write, eslint --fix, npm run lint

test(M7): self review
  src/tests/share/components/dialog/categories/categories-dialog.component.spec.ts
  src/tests/share/components/dialog/contractors/contractors-dialog.component.spec.ts
Due: prettier --write, eslint --fix, npm run lint

test(M7): add base test coverage for payments history component
  src/tests/accounting/components/payments-history.component.spec.ts
Due: prettier --write, eslint --fix, npm run lint

"Updated version 0.194 -> 0.195."
  package-lock.json
  package.json
Due: prettier --write

test(M7): add tests for currency rates line chart component
  src/presentation/accounting/components/payments-history/payments-history.component.ts
  src/tests/accounting/components/payments-history.component.spec.ts
Due: prettier --write, eslint --fix, npm run lint

chore(M7): update npm packages
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  prettier --write: ((any of: *.css) or (any of: *.{ts, html})) or (any of: *.{js,json,css,scss,less,md,ts,html})
  npm run lint-css: any of: *.css
  eslint --fix: any of: *.{ts, html}
  npm run lint: any of: *.{ts, html}
