Repository Allmantool/h-budget.UI: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint-css, eslint --fix, npm run lint

chore(release): v1.1.21 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  ae91bef4ce61f4be996f261976995be8736d3fcc
Due: none

build(deps): upgrade NPM packages (automated)
  package-lock.json
  package.json
Due: prettier --write

chore(release): v1.1.22 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  2310b60e26060b1198e7daeca46cccadb7454f8f
Due: none

chore(release): v1.1.23 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  831bba73d1b823b0ebb7823c15a757abca4654b2
Due: none

chore(release): v1.1.24 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  ea5bf2f6f9fdfaa474f2980e727f40ad41357876
Due: none

build(deps): upgrade NPM packages (automated)
  package-lock.json
Due: prettier --write

chore(release): v1.1.25 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  e83c267d3a00f0d5162920a57533bee9af8cc397
Due: none

tech: update packages
  .husky/pre-commit
  package-lock.json
  package.json
Due: prettier --write

tech: add safe update for pipeline
  .github/workflows/update_npm_packages.yml
  package.json
Due: prettier --write

fix: revert zone.js version
  package-lock.json
  package.json
Due: prettier --write

chore: self review
  .github/workflows/build.yml
Due: none

chore: switch to use npm i
  .github/workflows/sem-release.yml
Due: none

chore: add explicit iso formatting
  .github/workflows/sem-release.yml
Due: none

chore: update configuration
  .github/workflows/build.yml
  .github/workflows/sem-release.yml
  .github/workflows/update_npm_packages.yml
  .github/workflows/update_semver.yml
  .npmrc
  package-lock.json
  package.json
  release.config.js
Due: prettier --write

fix: format commit date
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/github-deployment.yml
  .github/workflows/sem-release.yml
  .github/workflows/update_npm_packages.yml
  .github/workflows/update_semver.yml
  release.config.js
Due: prettier --write

chore(release): v1.1.26 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  c87d7d220d4ff78bdef0584622511beb10f1568c
Due: none

fix: adjust test pipeline
  .github/workflows/build.yml
Due: none

chore(release): v1.1.27 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  d57079bca1cef210cf13a690922f4eb2ae55dcf3
Due: none

fix: adjust sonar
  .github/workflows/build.yml
  src/presentation/currency-rates/components/currency-rates-grid/currency-rates-grid.component.html
Due: prettier --write

Notes added by 'git notes add'
  20f66a0a54d1ed951a5cc62e5533c987feb55ef0
Due: none

chore(release): v1.1.28 [skip ci]
  CHANGELOG.md
Due: prettier --write

fix: update docker file
  dockerfile
Due: none

chore(release): v1.1.29 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  38fefd85751976f646450643d0b625549f108e88
Due: none

fix: typo
  dockerfile
Due: none

chore(release): v1.1.30 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  d4b65f643251b2b205a7c71b037f6dc3ea7982b7
Due: none

build(deps): upgrade npm dependencies
  package-lock.json.bak
  package.json.bak
Due: none

chore: ui / ux
  src/presentation/currency-rates/components/currency-rates-grid/currency-rates-grid.component.css
  src/presentation/currency-rates/components/currency-rates-grid/currency-rates-grid.component.html
Due: prettier --write, npm run lint-css

chore: self review
  package.json
Due: prettier --write

Path conditions:
  prettier --write: ((any of: *.css) or (any of: *.{ts, html})) or (any of: *.{js,json,css,scss,less,md,ts,html})
  npm run lint-css: any of: *.css
  eslint --fix: any of: *.{ts, html}
  npm run lint: any of: *.{ts, html}
