Repository Allmantool/h-budget.UI: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint-css, eslint --fix, npm run lint

"Updated version 0.210.68 -> 0.211.68."
  package-lock.json
  package.json
Due: prettier --write

build(deps): upgrade NPM packages (automated)
  package-lock.json
  package.json
Due: prettier --write

"Updated version 0.211.68 -> 0.212.68."
  package-lock.json
  package.json
Due: prettier --write

"Updated version 0.212.68 -> 0.213.68."
  package-lock.json
  package.json
Due: prettier --write

build(deps): upgrade NPM packages (automated)
  package-lock.json
Due: prettier --write

tech: add change log
  .github/workflows/build.yml
Due: none

"Updated version 0.213.68 -> 0.214.68."
  package-lock.json
  package.json
Due: prettier --write

chore: self review
  .github/workflows/build.yml
Due: none

chore: add force push
  .github/workflows/build.yml
Due: none

"Updated version 0.214.68 -> 0.215.68."
  package-lock.json
  package.json
Due: prettier --write

chore: update changelog [skip ci]
  CHANGELOG.md
Due: prettier --write

chore: switch to use semantic messages + branch naming
  .github/workflows/build.yml
  .github/workflows/sem-release.yml
  .github/workflows/sem-ver-options.json
  .husky/commit-msg
  .husky/pre-commit
  commitlint.config.js
  package-lock.json
  package.json
  release.config.js
  src/app/modules/shared/store/states/rates/currency-rates.state.ts
Due: prettier --write, eslint --fix, npm run lint

chore: self review
  .github/workflows/sem-release.yml
Due: none

ci: add master branch sync during pipeline execution
  .github/workflows/sem-release.yml
Due: none

chore: turn off husky hooks during ci cd run
  .github/workflows/sem-release.yml
Due: none

chore: release [skip ci]
  .husky/pre-commit
Due: none

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  75fb1d6dabd9974aced71a69c9816d2086bf55a2
Due: none

chore: optimize sem versioning
  .github/workflows/build.yml
  .github/workflows/sem-ver-options.json
  release.config.js
Due: prettier --write

chore: code review
  release.config.js
Due: prettier --write

chore: self review
  release.config.js
Due: prettier --write

Notes added by 'git notes add'
  813099c45516a8e7c5bc89f6d22effee8db48196
Due: none

chore(release): 0.215.0 [skip ci]
  CHANGELOG.md
Due: prettier --write

tech: add default patch bump
  release.config.js
Due: prettier --write

Notes added by 'git notes add'
  a1f93091fd0e665888d4f2db218a0925977b3ccd
Due: none

Path conditions:
  prettier --write: ((any of: *.css) or (any of: *.{ts, html})) or (any of: *.{js,json,css,scss,less,md,ts,html})
  npm run lint-css: any of: *.css
  eslint --fix: any of: *.{ts, html}
  npm run lint: any of: *.{ts, html}
