Repository Allmantool/h-budget.UI: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint-css, eslint --fix, npm run lint

.lintstagedrc:

{
	"*.css": ["prettier --write", "npm run lint-css"],
	"*.{ts, html}": ["eslint --fix", "prettier --write", "npm run lint"],
	"*.{js,json,css,scss,less,md,ts,html}": ["prettier --write"]
}

"Updated version 0.10.68 -> 0.11.68."
  package-lock.json
  package.json
Due: prettier --write

fix/add-additional-variable-to-build-ci
  .github/workflows/build.yml
Due: none

fix/add-additional-variable-to-build-ci (#338)
  .github/workflows/build.yml
Due: none

"Updated version 0.11.68 -> 0.12.68."
  package-lock.json
  package.json
Due: prettier --write

chore: adjust variables
  .github/workflows/build.yml
Due: none

Fix/extend ci with variables (#339)
  .github/workflows/build.yml
Due: none

"Updated version 0.12.68 -> 0.13.68."
  package-lock.json
  package.json
Due: prettier --write

chore: add close event
  .github/workflows/build.yml
  .github/workflows/sem-ver-options.json
Due: prettier --write

Fix/extend ci with variables (#340)
  .github/workflows/build.yml
  .github/workflows/sem-ver-options.json
Due: prettier --write

"Updated version 0.13.68 -> 0.14.68."
  package-lock.json
  package.json
Due: prettier --write

chore: self review
  .github/workflows/build.yml
Due: none

Fix/extend ci with variables (#341)
  .github/workflows/build.yml
Due: none

"Updated version 0.14.68 -> 0.15.68."
  package-lock.json
  package.json
Due: prettier --write

chore: adjust sem verison rules
  .github/workflows/sem-ver-options.json
Due: prettier --write

Fix/extend ci with variables (#342)
  .github/workflows/sem-ver-options.json
Due: prettier --write

"Updated version 0.15.68 -> 0.16.68."
  package-lock.json
  package.json
Due: prettier --write

chore: add check for merged to master
  .github/workflows/build.yml
Due: none

chore: add base ref
  .github/workflows/build.yml
Due: none

chore: add check for merged to master (#343)
  .github/workflows/build.yml
Due: none

"Updated version 0.16.68 -> 0.17.68."
  package-lock.json
  package.json
Due: prettier --write

Tech/add branch ref info (#344)
  .github/workflows/build.yml
Due: none

"Updated version 0.17.68 -> 0.18.68."
  package-lock.json
  package.json
Due: prettier --write

tech: extend npm commands
  .github/workflows/build.yml
  package-lock.json
  package.json
  project.json
Due: prettier --write

chore: self review
  project.json
Due: prettier --write

tech: extend npm commands (#345)
  .github/workflows/build.yml
  package-lock.json
  package.json
  project.json
Due: prettier --write

"Updated version 0.18.68 -> 0.19.68."
  package-lock.json
  package.json
Due: prettier --write

fix: simplify merge check
  .github/workflows/build.yml
Due: none

Hotfix/simplify merge check (#346)
  .github/workflows/build.yml
Due: none

"Updated version 0.19.68 -> 0.20.68."
  package-lock.json
  package.json
Due: prettier --write

hotfix: adjust accounting api to go along with gateway
  src/data/providers/accounting/categories.provider.ts
  src/data/providers/accounting/contractors.provider.ts
  src/data/providers/accounting/cross-accounts-transfer.provider.ts
  src/data/providers/accounting/payment-accounts.provider.ts
  src/data/providers/accounting/payment-operations.provider.ts
  src/data/providers/accounting/payments-history.provider.ts
Due: prettier --write, eslint --fix, npm run lint

hotfix: adjust accounting api to go along with gateway (#347)
  src/data/providers/accounting/categories.provider.ts
  src/data/providers/accounting/contractors.provider.ts
  src/data/providers/accounting/cross-accounts-transfer.provider.ts
  src/data/providers/accounting/payment-accounts.provider.ts
  src/data/providers/accounting/payment-operations.provider.ts
  src/data/providers/accounting/payments-history.provider.ts
Due: prettier --write, eslint --fix, npm run lint

"Updated version 0.20.68 -> 0.21.68."
  package-lock.json
  package.json
Due: prettier --write

fix: update package autoupdate
  .github/workflows/update_npm_packages.yml
Due: none

fix: update package autoupdate (#348)
  .github/workflows/update_npm_packages.yml
Due: none

"Updated version 0.21.68 -> 0.22.68."
  package-lock.json
  package.json
Due: prettier --write

tech:update packages
  package-lock.json
  package.json
Due: prettier --write
