Repository Allmantool/h-budget.UI: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint-css, eslint --fix, npm run lint

chore: self review
  src/presentation/accounting/components/payments-history/payments-history.component.ts
Due: prettier --write, eslint --fix, npm run lint

Notes added by 'git notes add'
  dd20c1fdc1c7432632fd117f725107d123570cc2
Due: none

chore: add abilty to set custom carriency muliplier for transfer
  src/app/modules/shared/components/dialog/cross-accounts-transfer/cross-accounts-transfer-dialog.component.css
  src/app/modules/shared/components/dialog/cross-accounts-transfer/cross-accounts-transfer-dialog.component.html
  src/app/modules/shared/components/dialog/cross-accounts-transfer/cross-accounts-transfer-dialog.component.ts
  src/data/providers/accounting/cross-accounts-transfer.provider.ts
  src/domain/models/accounting/cross-accounts-transfer.model.ts
  src/domain/models/accounting/requests/cross-accounts-transfer.request.ts
  src/tests/accounting/cross-accounts-transfer.provider.spec.ts
  src/tests/share/components/dialog/accounting/cross-accounts-transfer-dialog.component.spec.ts
Due: prettier --write, npm run lint-css, eslint --fix, npm run lint

chore: sefl review
  src/app/modules/shared/components/dialog/cross-accounts-transfer/cross-accounts-transfer-dialog.component.html
  src/tests/share/components/dialog/accounting/cross-accounts-transfer-dialog.component.spec.ts
Due: prettier --write, eslint --fix, npm run lint

Notes added by 'git notes add'
  894800b43ba6f8ed2764fd4563f354130a926cf4
Due: none

chore: add SDD TDD support
  .codex/README.md
  .codex/checklists/angular-pre-change-checklist.md
  .codex/checklists/angular-self-review-checklist.md
  .codex/prompts/angular-bug-fix.md
  .codex/prompts/angular-implementation.md
  .codex/prompts/angular-refactoring.md
  .codex/prompts/angular-test-improvement.md
  .codex/skills/angular-spa/SKILL.md
  .codex/skills/angular-spa/review-and-validation.md
  .codex/skills/specification-driven-development/SKILL.md
  .codex/skills/test-driven-development/SKILL.md
  .codex/skills/verification/SKILL.md
  AGENTS.md
  docs/codex/00-codex-governance-audit.md
  docs/codex/03-changes-and-rationale.md
  docs/specs/README.md
  docs/specs/TEMPLATE.md
Due: prettier --write

Notes added by 'git notes add'
  f5064caabe8729cd34506ec8c5ac5e02cdfb2f1e
Due: none

feat: initial implementation
  docs/specs/payment-operations-option-b.md
  src/app/modules/shared/components/dialog/categories/categories-dialog.component.ts
  src/app/modules/shared/components/dialog/contractors/contractors-dialog.component.ts
  src/app/modules/shared/providers/dialog-provider.ts
  src/app/modules/shared/store/states/accounting/payment-operations.state.ts
  src/data/providers/accounting/payment-operations.provider.ts
  src/presentation/accounting/components/accounting-operations-crud/accounting-operations-crud.component.css
  src/presentation/accounting/components/accounting-operations-crud/accounting-operations-crud.component.html
  src/presentation/accounting/components/accounting-operations-crud/accounting-operations-crud.component.ts
  src/presentation/accounting/components/payment-delete-dialog/payment-delete-dialog.component.css
  src/presentation/accounting/components/payment-delete-dialog/payment-delete-dialog.component.html
  src/presentation/accounting/components/payment-delete-dialog/payment-delete-dialog.component.ts
  src/presentation/accounting/components/payments-history/payments-history.component.css
  src/presentation/accounting/components/payments-history/payments-history.component.html
  src/presentation/accounting/components/payments-history/payments-history.component.ts
  src/presentation/accounting/models/payment-submission-state.ts
  src/presentation/accounting/services/accounting-operations.service.ts
  src/presentation/accounting/services/categories-dialog.service.ts
  src/presentation/accounting/services/contractors-dialog.service.ts
  src/tests/accounting/accounting-route-providers.spec.ts
  src/tests/accounting/components/accounting-operations-crud.component.spec.ts
  src/tests/accounting/services/accounting-operations.service.spec.ts
Due: prettier --write, npm run lint-css, eslint --fix, npm run lint

chore: self review
  docs/specs/payment-operations-option-b.md
  src/app/modules/shared/providers/dialog-provider.ts
  src/data/providers/accounting/mappers/payment-operations.mapping.profile.ts
  src/presentation/accounting/components/accounting-operations-crud/accounting-operations-crud.component.html
  src/presentation/accounting/components/accounting-operations-crud/accounting-operations-crud.component.ts
  src/presentation/accounting/models/payment-submission-state.ts
  src/presentation/accounting/services/accounting-operations.service.ts
  src/presentation/accounting/services/categories-dialog.service.ts
  src/presentation/accounting/services/contractors-dialog.service.ts
  src/tests/accounting/components/accounting-operations-crud.component.spec.ts
  src/tests/accounting/mappers/payment-operations-mapping.profile.spec.ts
  src/tests/accounting/services/accounting-operations.service.spec.ts
Due: prettier --write, eslint --fix, npm run lint

chore: self review
  docs/specs/payment-operations-option-b.md
  src/presentation/accounting/accounting.routes.ts
  src/presentation/accounting/components/accounting-operations-crud/accounting-operations-crud.component.ts
  src/presentation/accounting/components/payment-discard-dialog/payment-discard-dialog.component.css
  src/presentation/accounting/components/payment-discard-dialog/payment-discard-dialog.component.html
  src/presentation/accounting/components/payment-discard-dialog/payment-discard-dialog.component.ts
  src/presentation/accounting/components/payments-dashboard/payments-dashboard.component.ts
  src/presentation/accounting/components/payments-history/payments-history.component.ts
  src/presentation/accounting/guards/payment-editor-can-deactivate.guard.ts
  src/presentation/accounting/services/payment-editor-leave.service.ts
  src/tests/accounting/components/accounting-operations-crud.component.spec.ts
  src/tests/accounting/components/payments-dashboard.component.spec.ts
  src/tests/accounting/components/payments-history.component.spec.ts
Due: prettier --write, npm run lint-css, eslint --fix, npm run lint

chore: self review
  docs/specs/payment-operations-option-b.md
  src/presentation/accounting/components/payment-discard-dialog/payment-discard-dialog.component.html
  src/presentation/accounting/components/payments-history/payments-history.component.ts
  src/presentation/accounting/services/payment-editor-leave.service.ts
  src/tests/accounting/components/payments-dashboard.component.spec.ts
  src/tests/accounting/components/payments-history.component.spec.ts
  src/tests/accounting/payment-operations.provider.spec.ts
  src/tests/accounting/services/payment-editor-leave.service.spec.ts
Due: prettier --write, eslint --fix, npm run lint

chore: stabilization
  docs/specs/payment-command-idempotency-spa.md
  src/data/providers/accounting/payment-operations.provider.ts
  src/domain/models/accounting/payment-command-status.ts
  src/domain/models/accounting/responses/payment-account-create-or-update.response.ts
  src/domain/models/accounting/responses/payment-command.response.ts
  src/presentation/accounting/accounting.routes.ts
  src/presentation/accounting/components/accounting-operations-crud/accounting-operations-crud.component.html
  src/presentation/accounting/components/accounting-operations-crud/accounting-operations-crud.component.ts
  src/presentation/accounting/models/payment-command-execution-result.ts
  src/presentation/accounting/models/payment-command-intent.ts
  src/presentation/accounting/models/payment-submission-state.ts
  src/presentation/accounting/services/accounting-operations.service.ts
  src/presentation/accounting/services/payment-command-executor.service.ts
  src/tests/accounting/accounting-route-providers.spec.ts
  src/tests/accounting/components/accounting-operations-crud.component.spec.ts
  src/tests/accounting/payment-operations.provider.spec.ts
  src/tests/accounting/services/accounting-operations.service.spec.ts
  src/tests/accounting/services/payment-command-executor.service.spec.ts
Due: prettier --write, eslint --fix, npm run lint

chore: stabilization
  docs/specs/payment-command-idempotency-spa.md
  src/presentation/accounting/accounting.routes.ts
  src/presentation/accounting/components/payments-dashboard/payments-dashboard.component.ts
  src/presentation/accounting/models/payment-command-intent.ts
  src/presentation/accounting/models/pending-payment-command.ts
  src/presentation/accounting/services/payment-command-executor.service.ts
  src/presentation/accounting/services/pending-payment-command-registry.service.ts
  src/tests/accounting/accounting-route-providers.spec.ts
  src/tests/accounting/components/payments-dashboard.component.spec.ts
  src/tests/accounting/services/payment-command-executor.service.spec.ts
  src/tests/accounting/services/pending-payment-command-registry.service.spec.ts
Due: prettier --write, eslint --fix, npm run lint

chore: update packages
  .husky/commit-msg
  .husky/pre-commit
  docs/specs/husky-local-commitlint.md
  package-lock.json
  package.json
Due: prettier --write

chore: self review
  docs/specs/accounting-dashboard-payment-history-timeline.md
  docs/specs/payment-history-and-runtime-hardening.md
  src/app/modules/shared/store/states/handbooks/selectors/categories.selectors.ts
  src/app/modules/shared/store/states/handbooks/selectors/counterparties.selectors.ts
  src/data/providers/accounting/mappers/payment-representations.mapping.profile.ts
  src/infrastructure/browser-telemetry.ts
  src/infrastructure/sse-service.ts
  src/presentation/accounting/components/payments-history/payments-history.component.html
  src/presentation/accounting/components/payments-history/payments-history.component.ts
  src/tests/accounting/components/payments-history.component.spec.ts
  src/tests/accounting/mappers/payment-representations.mapping.profile.spec.ts
  src/tests/infrastructure/browser-telemetry.spec.ts
Due: prettier --write, eslint --fix, npm run lint

chore: self reivew+
  docs/specs/accounting-transaction-direction-semantics.md
  src/data/providers/accounting/mappers/payment-representations.mapping.profile.ts
  src/domain/models/accounting/calculate-payment-operation-increment.ts
  src/presentation/accounting/components/payments-dashboard/payments-dashboard.component.ts
  src/tests/accounting/components/payments-dashboard.component.spec.ts
  src/tests/accounting/models/calculate-payment-operation-increment.spec.ts
Due: prettier --write, eslint --fix, npm run lint

chore: base stabilization
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/framework-dependency-migration.yml
  .github/workflows/github-deployment.yml
  .github/workflows/merge-pr.yml
  .github/workflows/pr-release-policy.yml
  .github/workflows/update_npm_packages.yml
  docs/specs/accounting-dashboard-payment-history-timeline.md
  docs/specs/accounting-transaction-direction-semantics.md
  docs/specs/github-actions-immutable-pinning.md
  docs/specs/payment-history-crud-ux.md
  src/presentation/accounting/accounting.routes.ts
  src/presentation/accounting/components/accounting-operations-crud/accounting-operations-crud.component.html
  src/presentation/accounting/components/accounting-operations-crud/accounting-operations-crud.component.ts
  src/presentation/accounting/components/payment-account/payment-account.component.ts
  src/presentation/accounting/components/payments-dashboard/payments-dashboard.component.ts
  src/presentation/accounting/components/payments-history/payments-history.component.css
  src/presentation/accounting/components/payments-history/payments-history.component.html
  src/presentation/accounting/components/payments-history/payments-history.component.ts
  src/presentation/accounting/models/payment-submission-state.ts
  src/presentation/accounting/services/handbooks.service.ts
  src/presentation/accounting/services/payment-command-executor.service.ts
  src/presentation/accounting/services/payment-editor-session.service.ts
  src/tests/accounting/accounting-route-providers.spec.ts
  src/tests/accounting/components/accounting-operations-crud.component.spec.ts
  src/tests/accounting/components/payment-account.component.spec.ts
  src/tests/accounting/components/payments-dashboard.component.spec.ts
  src/tests/accounting/components/payments-history.component.spec.ts
  src/tests/accounting/services/payment-editor-session.service.spec.ts
Due: prettier --write, npm run lint-css, eslint --fix, npm run lint

Notes added by 'git notes add'
  de81422cd7c8560979a31abd8396135dd3bd5f50
Due: none

chore: add datepicker support
  docs/specs/payment-history-crud-ux.md
  src/presentation/accounting/components/accounting-operations-crud/accounting-operations-crud.component.html
  src/presentation/accounting/components/accounting-operations-crud/accounting-operations-crud.component.ts
  src/tests/accounting/components/accounting-operations-crud.component.spec.ts
  src/tests/accounting/components/payments-history.component.spec.ts
  src/tests/accounting/mappers/payment-operations-mapping.profile.spec.ts
  src/tests/accounting/services/payment-editor-session.service.spec.ts
Due: prettier --write, eslint --fix, npm run lint

Notes added by 'git notes add'
  5b09218795b86b7fc679ded0e536afa630620d31
Due: none

feat: add ordering, filtering, sorting
  docs/specs/payment-history-paged-timeline-closure.md
  src/data/providers/accounting/entities/payment-history-page.entity.ts
  src/data/providers/accounting/payments-history.provider.ts
  src/domain/models/accounting/payment-history-page.model.ts
  src/domain/models/accounting/payment-history-query.model.ts
  src/presentation/accounting/components/payments-history/payments-history.component.css
  src/presentation/accounting/components/payments-history/payments-history.component.html
  src/presentation/accounting/components/payments-history/payments-history.component.ts
  src/presentation/accounting/services/payments-history.service.ts
  src/tests/accounting/components/payments-history.component.spec.ts
Due: prettier --write, npm run lint-css, eslint --fix, npm run lint

chore: fix payment history
  docs/specs/payment-history-paged-timeline-closure.md
  src/presentation/accounting/components/payments-history/payments-history.component.ts
  src/tests/accounting/components/payments-history.component.spec.ts
  src/tests/accounting/providers/payments-history.provider.spec.ts
Due: prettier --write, eslint --fix, npm run lint

chore: lint fix
  src/data/providers/accounting/payments-history.provider.ts
  src/presentation/accounting/components/payments-dashboard/payments-dashboard.component.ts
  src/presentation/accounting/components/payments-history/payments-history.component.html
  src/presentation/accounting/components/payments-history/payments-history.component.ts
  src/presentation/accounting/services/payments-history.service.ts
  src/tests/accounting/components/accounting-operations-crud.component.spec.ts
Due: prettier --write, eslint --fix, npm run lint

chore: redesign
  docs/runbooks/angular-dev-server-windows.md
  docs/specs/payment-history-material-ux.md
  src/data/providers/accounting/payments-history.provider.ts
  src/presentation/accounting/components/payments-dashboard/payments-dashboard.component.css
  src/presentation/accounting/components/payments-dashboard/payments-dashboard.component.html
  src/presentation/accounting/components/payments-history/payments-history.component.css
  src/presentation/accounting/components/payments-history/payments-history.component.html
  src/presentation/accounting/components/payments-history/payments-history.component.ts
  src/tests/accounting/components/payments-dashboard.component.spec.ts
  src/tests/accounting/components/payments-history.component.spec.ts
Due: prettier --write, npm run lint-css, eslint --fix, npm run lint

chore: self review
  docs/specs/transfer-history-selection.md
  src/presentation/accounting/components/accounting-operations-crud/accounting-operations-crud.component.html
  src/presentation/accounting/components/accounting-operations-crud/accounting-operations-crud.component.ts
  src/presentation/accounting/components/payments-history/payments-history.component.css
  src/presentation/accounting/components/payments-history/payments-history.component.html
  src/presentation/accounting/components/payments-history/payments-history.component.ts
  src/presentation/accounting/components/transfer-delete-dialog/transfer-delete-dialog.component.css
  src/presentation/accounting/components/transfer-delete-dialog/transfer-delete-dialog.component.html
  src/presentation/accounting/components/transfer-delete-dialog/transfer-delete-dialog.component.ts
  src/presentation/accounting/components/transfer-details/transfer-details.component.css
  src/presentation/accounting/components/transfer-details/transfer-details.component.html
  src/presentation/accounting/components/transfer-details/transfer-details.component.ts
  src/tests/accounting/components/accounting-operations-crud.component.spec.ts
  src/tests/accounting/components/payments-history.component.spec.ts
Due: prettier --write, npm run lint-css, eslint --fix, npm run lint

fix: flag rendering issue
  docs/specs/restore-currency-rate-country-flags.md
  src/app/modules/shared/constants/currency-flag-metadata.ts
  src/app/modules/shared/models/currency-flag-details.ts
  src/app/modules/shared/pipes/currency-abbreviation-to-flag.pipe.ts
  src/presentation/currency-rates/components/currency-rates-grid/currency-rates-grid.component.css
  src/presentation/currency-rates/components/currency-rates-grid/currency-rates-grid.component.html
  src/presentation/currency-rates/components/currency-rates-grid/currency-rates-grid.component.ts
  src/presentation/currency-rates/mappers/presentation-rates-mapping.profiler.ts
  src/presentation/currency-rates/models/currency-grid-rate.model.ts
  src/tests/currency-rates/components/currency-rates-grid.component.spec.ts
  src/tests/share/constants/currency-flag-metadata.spec.ts
  tools/build/verify-flag-icons-assets.mjs
Due: prettier --write, npm run lint-css, eslint --fix, npm run lint

chore: self review
  .codex/skills/verification/SKILL.md
  docs/specs/spa-lint-and-quality-gates.md
  package.json
  src/presentation/accounting/components/accounting-operations-crud/accounting-operations-crud.component.html
  src/presentation/accounting/components/payments-history/payments-history.component.ts
  src/presentation/accounting/components/transfer-delete-dialog/transfer-delete-dialog.component.html
  src/presentation/accounting/components/transfer-details/transfer-details.component.html
  src/presentation/accounting/components/transfer-details/transfer-details.component.ts
  src/presentation/accounting/models/operation-record.ts
  src/tests/accounting/components/accounting-operations-crud.component.spec.ts
  src/tests/accounting/components/payments-history.component.spec.ts
  src/tests/accounting/services/related-transfer-navigation.service.spec.ts
Due: prettier --write, eslint --fix, npm run lint

Notes added by 'git notes add'
  64d5bdc338da1f987291dd006939f381d117966d
Due: none

fix: return ability to remove an acccount
  docs/specs/payment-account-deletion.md
  src/app/modules/shared/store/states/accounting/payment-account.state.ts
  src/data/providers/accounting/payment-accounts.provider.ts
  src/domain/providers/accounting/payment-accounts.provider.ts
  src/presentation/accounting/accounting.routes.ts
  src/presentation/accounting/components/payment-account-delete-dialog/payment-account-delete-dialog.component.css
  src/presentation/accounting/components/payment-account-delete-dialog/payment-account-delete-dialog.component.html
  src/presentation/accounting/components/payment-account-delete-dialog/payment-account-delete-dialog.component.ts
  src/presentation/accounting/components/payment-account/payment-account.component.css
  src/presentation/accounting/components/payment-account/payment-account.component.html
  src/presentation/accounting/components/payment-account/payment-account.component.ts
  src/presentation/accounting/models/payment-account-delete-dialog-data.ts
  src/presentation/accounting/services/payment-account-deletion.service.ts
  src/tests/accounting/accounting-route-providers.spec.ts
  src/tests/accounting/components/payment-account-delete-dialog.component.spec.ts
  src/tests/accounting/components/payment-account.component.spec.ts
  src/tests/accounting/payment-account.state.spec.ts
  src/tests/accounting/payment-accounts.provider.spec.ts
  src/tests/accounting/services/payment-account-deletion.service.spec.ts
Due: prettier --write, npm run lint-css, eslint --fix, npm run lint

Notes added by 'git notes add'
  42651d39de66c2486d31b258f6210aaf67c2ada2
Due: none

chore: add open spec
  .agents/skills/angular-spa/SKILL.md
  .agents/skills/angular-spa/architecture.md
  .agents/skills/angular-spa/components-and-templates.md
  .agents/skills/angular-spa/review-and-validation.md
  .agents/skills/angular-spa/security-accessibility-performance.md
  .agents/skills/angular-spa/state-rxjs-and-data-access.md
  .agents/skills/angular-spa/styling-and-ui.md
  .agents/skills/angular-spa/testing.md
  .agents/skills/angular-spa/typescript.md
  .agents/skills/local-https-browser-verification/SKILL.md
  .agents/skills/specification-driven-development/SKILL.md
  .agents/skills/test-driven-development/SKILL.md
  .agents/skills/verification/SKILL.md
  .codex/README.md
  .codex/checklists/angular-pre-change-checklist.md
  .codex/checklists/angular-self-review-checklist.md
  .codex/prompts/angular-architecture-audit.md
  .codex/prompts/angular-bug-fix.md
  .codex/prompts/angular-dependency-or-framework-migration.md
  .codex/prompts/angular-implementation.md
  .codex/prompts/angular-pr-review.md
  .codex/prompts/angular-refactoring.md
  .codex/prompts/angular-test-improvement.md
  AGENTS.md
  docs/angular-code-review-checklist.md
  docs/angular-coding-standards.md
  docs/codex/01-instruction-hierarchy.md
  docs/codex/02-angular-standards-summary.md
  docs/codex/03-changes-and-rationale.md
  docs/runbooks/angular-dev-server-windows.md
  docs/specs/README.md
  docs/specs/local-https-browser-verification.md
Due: prettier --write

Notes added by 'git notes add'
  dee27d96291048a6f079dc229bd64e37557851e8
Due: none

Path conditions:
  prettier --write: ((any of: *.css) or (any of: *.{ts, html})) or (any of: *.{js,json,css,scss,less,md,ts,html})
  npm run lint-css: any of: *.css
  eslint --fix: any of: *.{ts, html}
  npm run lint: any of: *.{ts, html}
