Repository Allmantool/h-budget.UI: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint-css, eslint --fix, npm run lint

build(deps): upgrade NPM packages (automated)
  package-lock.json
  package.json
Due: prettier --write

"Updated version 0.0.46 -> 0.0.47."
  package-lock.json
  package.json
Due: prettier --write

"Updated version 0.0.47 -> 0.0.48."
  package-lock.json
  package.json
Due: prettier --write

"Updated version 0.0.48 -> 0.0.49."
  package-lock.json
  package.json
Due: prettier --write

build(deps): upgrade NPM packages (automated)
  package-lock.json
Due: prettier --write

"Updated version 0.0.49 -> 0.0.50."
  package-lock.json
  package.json
Due: prettier --write

"Updated version 0.0.50 -> 0.0.51."
  package-lock.json
  package.json
Due: prettier --write

"Updated version 0.0.51 -> 0.0.52."
  package-lock.json
  package.json
Due: prettier --write

fix: adjust base layout width and height
  package-lock.json
  package.json
  src/app/modules/app-bootstrap/components/base-layout/base-layout.component.css
  src/app/modules/app-bootstrap/components/dashboard-layout/dashboard-layout.component.css
  src/index.html
Due: prettier --write, npm run lint-css

fix: adjust base layout width and height (#307)
  package-lock.json
  package.json
  src/app/modules/app-bootstrap/components/base-layout/base-layout.component.css
  src/app/modules/app-bootstrap/components/dashboard-layout/dashboard-layout.component.css
  src/index.html
Due: prettier --write, npm run lint-css

"Updated version 0.0.52 -> 0.0.53."
  package.json
Due: prettier --write

"Updated version 0.0.53 -> 0.0.54."
  package-lock.json
  package.json
Due: prettier --write

"Updated version 0.0.54 -> 0.0.55."
  package-lock.json
  package.json
Due: prettier --write

"Updated version 0.0.55 -> 0.0.56."
  package-lock.json
  package.json
Due: prettier --write

tech: improve rates chart performance
  package-lock.json
  package.json
  src/domain/models/rates/currency-rate-value.model.ts
  src/presentation/currency-rates/components/currency-rates-line-chart/currency-rates-line-chart.component.ts
  src/presentation/currency-rates/models/line-chart-options.ts
  src/presentation/currency-rates/services/line-chart.service.ts
  src/presentation/currency-rates/types/data-point.type.ts
Due: prettier --write, eslint --fix, npm run lint

tech: update npm packages
  package-lock.json
  package.json
Due: prettier --write

Tech/improve rates charts performance (#311)
  package-lock.json
  package.json
  src/domain/models/rates/currency-rate-value.model.ts
  src/presentation/currency-rates/components/currency-rates-line-chart/currency-rates-line-chart.component.ts
  src/presentation/currency-rates/models/line-chart-options.ts
  src/presentation/currency-rates/services/line-chart.service.ts
  src/presentation/currency-rates/types/data-point.type.ts
Due: prettier --write, eslint --fix, npm run lint

"Updated version 0.0.56 -> 0.0.57."
  package-lock.json
  package.json
Due: prettier --write

fix: typo (18.10.2024)
  package-lock.json
  src/presentation/currency-rates/services/line-chart.service.ts
  src/tests/currency-rates/components/currency-rates-line-chart.component.spec.ts
  src/tests/share/store/states/currency-rates.state.spec.ts
Due: prettier --write, eslint --fix, npm run lint

fix: typo (18.10.2024) (#312)
  package-lock.json
  src/presentation/currency-rates/services/line-chart.service.ts
  src/tests/currency-rates/components/currency-rates-line-chart.component.spec.ts
  src/tests/share/store/states/currency-rates.state.spec.ts
Due: prettier --write, eslint --fix, npm run lint

"Updated version 0.0.57 -> 0.0.58."
  package-lock.json
  package.json
Due: prettier --write

fix: packages update
  package-lock.json
  package.json
Due: prettier --write

chore: update to 22 npm version
  .github/workflows/build.yml
  .github/workflows/update_npm_packages.yml
  .github/workflows/update_semver.yml
Due: none

fix: packages update (#313)
  .github/workflows/build.yml
  .github/workflows/update_npm_packages.yml
  .github/workflows/update_semver.yml
  package-lock.json
  package.json
Due: prettier --write

"Updated version 0.0.58 -> 0.0.59."
  package-lock.json
  package.json
Due: prettier --write

chore: update packages
  .github/workflows/update_semver.yml
  package-lock.json
  package.json
Due: prettier --write

chore: "target": "ES2022"
  tsconfig.app.json
  tsconfig.json
  tsconfig.spec.json
Due: prettier --write

Fix/package update 22.10 (#314)
  .github/workflows/update_semver.yml
  package-lock.json
  package.json
  tsconfig.app.json
  tsconfig.json
  tsconfig.spec.json
Due: prettier --write

"Updated version 0.0.59 -> 0.0.60."
  package.json
Due: prettier --write

chore: add support fro "apexcharts","ts-simple-nameof","typescript-guid","downsample"
  project.json
Due: prettier --write

Path conditions:
  prettier --write: ((any of: *.css) or (any of: *.{ts, html})) or (any of: *.{js,json,css,scss,less,md,ts,html})
  npm run lint-css: any of: *.css
  eslint --fix: any of: *.{ts, html}
  npm run lint: any of: *.{ts, html}
