Repository Allmantool/h-budget.UI: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint-css, eslint --fix, npm run lint

.lintstagedrc:

{
	"*.css": ["prettier --write", "npm run lint-css"],
	"*.{ts, html}": ["eslint --fix", "prettier --write", "npm run lint"],
	"*.{js,json,css,scss,less,md,ts,html}": ["prettier --write"]
}

chore: update node up to 22
  dockerfile
Due: none

chore: add support fro "apexcharts","ts-simple-nameof","typescript-gu… (#315)
  dockerfile
  project.json
Due: prettier --write

"Updated version 0.0.60 -> 0.0.61."
  package.json
Due: prettier --write

chore: correct tests
  src/tests/currency-rates/components/currency-rates-grid.component.spec.ts
Due: prettier --write, eslint --fix, npm run lint

Fix/allow common js modules (#316)
  src/tests/currency-rates/components/currency-rates-grid.component.spec.ts
Due: prettier --write, eslint --fix, npm run lint

"Updated version 0.0.61 -> 0.0.62."
  package.json
Due: prettier --write

build(deps): upgrade NPM packages (automated)
  package-lock.json
  package.json
Due: prettier --write

"Updated version 0.0.62 -> 0.0.63."
  package-lock.json
  package.json
Due: prettier --write

fix/update package json
  package-lock.json
Due: prettier --write

fix/update package json (#318)
  package-lock.json
Due: prettier --write

"Updated version 0.0.63 -> 0.0.64."
  package-lock.json
  package.json
Due: prettier --write

"Updated version 0.0.64 -> 0.0.65."
  package-lock.json
  package.json
Due: prettier --write

"Updated version 0.0.65 -> 0.0.66."
  package-lock.json
  package.json
Due: prettier --write

build(deps): upgrade NPM packages (automated)
  package-lock.json
Due: prettier --write

chore: disabled husky temprory
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
Due: none

chore: disabled husky temprory (#322)
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
Due: none

"Updated version 0.0.66 -> 0.0.67."
  package-lock.json
  package.json
Due: prettier --write

tech: use gateway api
  package-lock.json
  package.json
  src/assets/config.json
  src/data/providers/accounting/categories.provider.ts
  src/data/providers/accounting/contractors.provider.ts
  src/data/providers/accounting/cross-accounts-transfer.provider.ts
  src/data/providers/accounting/payment-accounts.provider.ts
  src/data/providers/accounting/payment-operations.provider.ts
  src/data/providers/accounting/payments-history.provider.ts
  src/data/providers/rates/currency-exchange.service.ts
  src/data/providers/rates/mappers/exchange-rates-mapping.profile.ts
  src/data/providers/rates/national-bank-currencies.provider.ts
  src/domain/models/app-settings.model.ts
  src/presentation/currency-rates/models/rate-conversion.model.ts
  src/presentation/currency-rates/models/rate-convertion.model.ts
  src/tests/accounting/payment-accounts.provider.spec.ts
  src/tests/currency-rates/providers/national-bank-currency.provider.spec.ts
Due: prettier --write, eslint --fix, npm run lint

tech: use gateway api (#323)
  package-lock.json
  package.json
  src/assets/config.json
  src/data/providers/accounting/categories.provider.ts
  src/data/providers/accounting/contractors.provider.ts
  src/data/providers/accounting/cross-accounts-transfer.provider.ts
  src/data/providers/accounting/payment-accounts.provider.ts
  src/data/providers/accounting/payment-operations.provider.ts
  src/data/providers/accounting/payments-history.provider.ts
  src/data/providers/rates/currency-exchange.service.ts
  src/data/providers/rates/mappers/exchange-rates-mapping.profile.ts
  src/data/providers/rates/national-bank-currencies.provider.ts
  src/domain/models/app-settings.model.ts
  src/presentation/currency-rates/models/rate-conversion.model.ts
  src/presentation/currency-rates/models/rate-convertion.model.ts
  src/tests/accounting/payment-accounts.provider.spec.ts
  src/tests/currency-rates/providers/national-bank-currency.provider.spec.ts
Due: prettier --write, eslint --fix, npm run lint

"Updated version 0.0.67 -> 0.0.68."
  package-lock.json
  package.json
Due: prettier --write

tech: generate tag on commit
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
Due: none

chore: self review
  .github/workflows/build.yml
Due: none

chore: self review
  .github/workflows/build.yml
  .github/workflows/update_semver.yml
Due: none

tech: generate tag on commit (#324)
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/update_semver.yml
Due: none

chore: adjust job name
  .github/workflows/build.yml
Due: none

chore: adjust job name (#325)
  .github/workflows/build.yml
Due: none

"Updated version 0.0.68 -> 0.1.68."
  package-lock.json
  package.json
Due: prettier --write

"Updated version 0.0.68 -> 0.0.69."
  package-lock.json
  package.json
Due: prettier --write

tech: run 'build-ui' & 'git generation' only under specific cases
  .github/workflows/build.yml
Due: none

tech: run 'build-ui' & 'git generation' only under specific cases (#326)
  .github/workflows/build.yml
Due: none

"Updated version 0.1.68 -> 0.2.68."
  package-lock.json
  package.json
Due: prettier --write

tech: not use close event
  .github/workflows/build.yml
Due: none

tech: not use close event (#327)
  .github/workflows/build.yml
Due: none

"Updated version 0.2.68 -> 0.3.68."
  package-lock.json
  package.json
Due: prettier --write
