Repository Allmantool/h-budget.UI: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint-css, eslint --fix, npm run lint

tech: build on a pr open
  .github/workflows/build.yml
Due: none

tech: build on a pr open (#328)
  .github/workflows/build.yml
Due: none

"Updated version 0.3.68 -> 0.4.68."
  package-lock.json
  package.json
Due: prettier --write

build(deps): upgrade NPM packages (automated)
  package-lock.json
  package.json
Due: prettier --write

"Updated version 0.4.68 -> 0.5.68."
  package-lock.json
  package.json
Due: prettier --write

tech: add https support for UI
  dockerfile
  package-lock.json
  package.json
Due: prettier --write

tech: updaet docker setup
  dockerfile
  nx.json
  package-lock.json
  package.json
  project.json
Due: prettier --write

tech: use npm i
  dockerfile
Due: none

tech: use npm i
  .github/workflows/build.yml
Due: none

chore: self review
  package.json
  project.json
Due: prettier --write

tech: setup nx prod build
  .gitignore
  nx.json
  package-lock.json
  package.json
  project.json
Due: prettier --write

"Updated version 0.5.68 -> 0.6.68."
  package-lock.json
  package.json
Due: prettier --write

tech: update packages
  package-lock.json
  package.json
Due: prettier --write

tech: switch to use apk insted of debian wget
  dockerfile
Due: none

tech: add nx tests
  karma.conf.js
  package.json
  project.json
Due: prettier --write

tech: apply test configuration
  package.json
  project.json
Due: prettier --write

"Updated version 0.6.68 -> 0.7.68."
  package-lock.json
  package.json
Due: prettier --write

tech: self review
  dockerfile
  package.json
Due: prettier --write

tech: updae packages
  package-lock.json
  package.json
Due: prettier --write

tech: align dev & prod npm packages
  package.json
Due: prettier --write

"Updated version 0.7.68 -> 0.8.68."
  package-lock.json
  package.json
Due: prettier --write

"Updated version 0.8.68 -> 0.9.68."
  package-lock.json
  package.json
Due: prettier --write

build(deps): upgrade NPM packages (automated)
  package-lock.json
Due: prettier --write

tech: self review
  nx.json
  package-lock.json
  package.json
  project.json
Due: prettier --write

chore: self review
  package-lock.json
  package.json
Due: prettier --write

chore: use angular-devkit/buil-angular-browser
  project.json
Due: prettier --write

chore: verify dependencies
  package-lock.json
  package.json
  src/app/modules/app-bootstrap/app-bootstrap.module.ts
Due: prettier --write, eslint --fix, npm run lint

chore: update docker
  dockerfile
  package-lock.json
  package.json
Due: prettier --write

chore: self review
  dockerfile
Due: none

chore: use CI for production deploy
  dockerfile
Due: none

tech: add https support for UI (#330)
  .github/workflows/build.yml
  .gitignore
  dockerfile
  karma.conf.js
  migrations.json
  nx.json
  package-lock.json
  package.json
  project.json
  src/app/modules/app-bootstrap/app-bootstrap.module.ts
  tslint.json
Due: prettier --write, eslint --fix, npm run lint

"Updated version 0.9.68 -> 0.10.68."
  package-lock.json
  package.json
Due: prettier --write

tech: update packages (#337)
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  prettier --write: ((any of: *.css) or (any of: *.{ts, html})) or (any of: *.{js,json,css,scss,less,md,ts,html})
  npm run lint-css: any of: *.css
  eslint --fix: any of: *.{ts, html}
  npm run lint: any of: *.{ts, html}
