Repository Allmantool/h-budget.UI: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint-css, eslint --fix, npm run lint

.lintstagedrc:

{
	"*.css": ["prettier --write", "npm run lint-css"],
	"*.{ts, html}": ["eslint --fix", "prettier --write", "npm run lint"],
	"*.{js,json,css,scss,less,md,ts,html}": ["prettier --write"]
}

build(deps): upgrade NPM packages (automated)
  package-lock.json
  package.json
Due: prettier --write

chore: remove docker file with capital first letter
  Dockerfile
Due: none

tech: adjust build github action + docker file to deploy on nginx
  .github/workflows/build.yml
  dockerfile
Due: none

"Updated version 0.129 -> 0.130."
  package-lock.json
  package.json
Due: prettier --write

tech: self review
  .github/workflows/build.yml
Due: none

chore: add publish stage
  dockerfile
Due: none

tech: add docker push command
  .github/workflows/build.yml
  dockerfile
Due: none

chore: self review
  .dockerignore
  dockerfile
  nginx.conf
  package.json
  project.json
Due: prettier --write

tech: self review
  config.json
  dockerfile
  package-lock.json
  package.json
  src/app/modules/app-boostrap/app-bootsrap.module.ts
  tsconfig.app.json
Due: prettier --write, eslint --fix, npm run lint

tech: update lock file
  package-lock.json
Due: prettier --write

tech: update package.lock.json
  package-lock.json
Due: prettier --write

tech: use npm install instead of npm ci
  dockerfile
Due: none

tech: adjust package lock
  package-lock.json
Due: prettier --write

tech: add DOCKERHUB_TOKEN
  .github/workflows/build.yml
Due: none

"Updated version 0.130 -> 0.131."
  package-lock.json
  package.json
Due: prettier --write

"Updated version 0.131 -> 0.132."
  package-lock.json
  package.json
Due: prettier --write

build(deps): upgrade NPM packages (automated)
  package-lock.json
Due: prettier --write

"Updated version 0.132 -> 0.133."
  package-lock.json
  package.json
Due: prettier --write

fix: adjust docker hub image name for ui
  .github/workflows/build.yml
Due: none

"Updated version 0.133 -> 0.134."
  package-lock.json
  package.json
Due: prettier --write

"Updated version 0.134 -> 0.135."
  package-lock.json
  package.json
Due: prettier --write

"Updated version 0.135 -> 0.136."
  package-lock.json
  package.json
Due: prettier --write

tech: add support for app config as json file
  config.json
  src/app/modules/app-boostrap/app-bootsrap.module.ts
  src/app/modules/shared/constants/routes-segments.ts
  src/app/modules/shared/services/app-configuration.service.ts
  src/data/providers/accounting/contractors.provider.ts
  src/data/providers/accounting/payment-accounts.provider.ts
  src/data/providers/rates/national-bank-currency.provider.ts
  src/domain/models/app-settings.model.ts
  src/domain/models/rates/currency-rates-group.model.ts
  tsconfig.json
Due: prettier --write, eslint --fix, npm run lint

"Updated version 0.136 -> 0.137."
  package-lock.json
  package.json
Due: prettier --write

"Updated version 0.137 -> 0.138."
  package-lock.json
  package.json
Due: prettier --write

"Updated version 0.138 -> 0.139."
  package-lock.json
  package.json
Due: prettier --write

fix: use dynamic app config loading with require
  src/app/modules/app-boostrap/app-bootsrap.module.ts
Due: prettier --write, eslint --fix, npm run lint

"Updated version 0.139 -> 0.140."
  package-lock.json
  package.json
Due: prettier --write

"Updated version 0.140 -> 0.141."
  package-lock.json
  package.json
Due: prettier --write

chore: typo
  src/app/modules/app-boostrap/app-bootsrap.module.ts
Due: prettier --write, eslint --fix, npm run lint

"Updated version 0.141 -> 0.142."
  package-lock.json
  package.json
Due: prettier --write
