Repository Allmantool/h-budget.UI: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint-css, eslint --fix, npm run lint

chore: self review
  karma.conf.js
  src/app/modules/shared/store/states/rates/currency-rates.state.ts
  src/presentation/currency-rates/components/currency-rates-dashboard/currency-rates-dashboard.component.ts
  src/tests/currency-rates/components/currency-rates-dashboard.component.spec.ts
  src/tests/share/store/states/currency-rates.state.spec.ts
Due: prettier --write, eslint --fix, npm run lint

chore(release): v1.1.56 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  59ebb2acd03abb55baa9a9d824e8e3a5b82db6b7
Due: none

chore: fix the rates load issue
  src/app/modules/shared/store/states/rates/actions/currency.actions.ts
  src/app/modules/shared/store/states/rates/currency-rates.state.ts
  src/app/modules/shared/store/states/rates/models/currency-rates-state.model.ts
  src/presentation/currency-rates/components/currency-rates-dashboard/currency-rates-dashboard.component.ts
  src/presentation/currency-rates/components/currency-rates-grid/currency-rates-grid.component.ts
  src/presentation/currency-rates/components/currency-rates-line-chart/currency-rates-line-chart.component.ts
  src/tests/currency-rates/components/currency-rates-dashboard.component.spec.ts
  src/tests/currency-rates/components/currency-rates-line-chart.component.spec.ts
  src/tests/currency-rates/currency-rates-route-providers.spec.ts
  src/tests/share/store/states/currency-rates.state.spec.ts
Due: prettier --write, eslint --fix, npm run lint

chore: enhance IDE
  .gitignore
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
  README.md
  karma.conf.js
  package.json
Due: prettier --write

chore: self review
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
  README.md
  karma.conf.js
  package.json
Due: prettier --write

chore(release): v1.1.57 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  9b0a258d30c190ae9024226fcf75150b03dfc7f2
Due: none

build(deps): safe patch dependency upgrade
  package-lock.json
  package.json
Due: prettier --write

chore(release): v1.1.58 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  555140407b52966b5fe17308513612089855f833
Due: none

tech: improve npm package auto update
  .github/workflows/build.yml
  .github/workflows/framework-dependency-migration.yml
  .github/workflows/update_npm_packages.yml
  docs/safe-dependency-updater.md
  package.json
  tools/deps/ci-state.mjs
  tools/deps/rules.mjs
  tools/deps/safe-update-fixture.mjs
  tools/deps/safe-update.e2e.mjs
  tools/deps/safe-update.mjs
  tools/deps/semver-policy.mjs
  tools/deps/update-engine.mjs
  tools/deps/update-engine.spec.mjs
Due: prettier --write

chore(release): v1.1.59 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  40846de1b0b1fe4f9033f24076c08ed28275334c
Due: none

chore: improve npm auto update
  .github/workflows/build.yml
  .github/workflows/github-deployment.yml
Due: none

chore(release): v1.1.60 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  e64a0fd4997c1cb190b46119c45d5c04b74aad05
Due: none

chore: update semantic versioning
  .github/workflows/build.yml
  .github/workflows/github-deployment.yml
  .github/workflows/merge-pr.yml
  .github/workflows/pr-release-policy.yml
  .github/workflows/sem-release.yml
  .github/workflows/update_semver.yml
  .husky/commit-msg
  AGENTS.md
  commitlint.config.js
  docs/release/00-current-state-audit.md
  docs/release/01-semantic-versioning-policy.md
  docs/release/02-ci-cd-release-flow.md
  docs/release/03-validation-report.md
  package-lock.json
  package.json
  release.config.js
  release.config.mjs
  src/app/modules/app-bootstrap/components/base-layout/base-layout.component.css
  src/app/modules/app-bootstrap/components/base-layout/base-layout.component.spec.ts
  tools/ci/release-policy.mjs
  tools/ci/release-policy.spec.mjs
  tools/ci/semantic-release-dry-run.mjs
Due: prettier --write, npm run lint-css, eslint --fix, npm run lint

chore: self review
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/github-deployment.yml
  .github/workflows/merge-pr.yml
  .github/workflows/update_npm_packages.yml
  docs/release/02-ci-cd-release-flow.md
  docs/release/04-backward-compatibility-audit.md
  docs/safe-dependency-updater.md
  package.json
  tools/ci/workflow-contract.spec.mjs
Due: prettier --write

feat: sem version review
  AGENTS.md
  docs/release/01-semantic-versioning-policy.md
  release.config.mjs
  tools/ci/release-policy.mjs
  tools/ci/release-policy.spec.mjs
Due: prettier --write

Notes added by 'git notes add'
  7a48c1ddeda9ec0618389d221297438c8989d4e0
Due: none

chore(release): improve semantic release deployment observability
  .github/workflows/github-deployment.yml
  .github/workflows/merge-pr.yml
  tools/ci/workflow-contract.spec.mjs
Due: none

Notes added by 'git notes add'
  c9f4c9b6ed56601cd2a8d8f3d8fb9f8fb93e54ae
Due: none

fix: improve tag generation, create PR merge event
  .github/workflows/merge-pr.yml
  docs/codex/04-release-trigger-audit.md
  tools/ci/workflow-contract.spec.mjs
Due: prettier --write

chore: self review for github action
  .github/workflows/codeql-analysis.yml
  docs/codex/05-ci-quality-gates-and-actions-incident-audit.md
  tools/ci/workflow-contract.spec.mjs
Due: prettier --write

chore: self review (add app_id, app_key in Github developer settings)
  .github/workflows/update_npm_packages.yml
  docs/safe-dependency-updater.md
  tools/ci/workflow-contract.spec.mjs
Due: prettier --write

Notes added by 'git notes add'
  be254e81afd6582a82d6bd4c49333c7adab4deb5
Due: none

feat: initial implmentation
  src/app/modules/shared/components/dialog/payment-account/payment-account-dialog.component.css
  src/app/modules/shared/components/dialog/payment-account/payment-account-dialog.component.html
  src/app/modules/shared/components/dialog/payment-account/payment-account-dialog.component.ts
  src/app/modules/shared/components/form-field/app-form-field.component.html
  src/app/modules/shared/components/form-field/app-form-field.component.ts
  src/presentation/accounting/services/payment-account-dialog.service.ts
  src/tests/accounting/services/payment-account-dialog.service.spec.ts
  src/tests/share/components/dialog/accounting/payment-account-dialog.component.spec.ts
Due: prettier --write, npm run lint-css, eslint --fix, npm run lint

feat: add BEM standards
  .codex/README.md
  .codex/checklists/angular-pre-change-checklist.md
  .codex/checklists/angular-self-review-checklist.md
  .codex/skills/angular-spa/SKILL.md
  .codex/skills/angular-spa/components-and-templates.md
  .codex/skills/angular-spa/review-and-validation.md
  .codex/skills/angular-spa/styling-and-ui.md
  AGENTS.md
  docs/codex/01-instruction-hierarchy.md
  docs/codex/02-angular-standards-summary.md
  docs/codex/03-changes-and-rationale.md
Due: prettier --write

chore: fix ui / ux + update npm package ci / cd
  .github/workflows/update_npm_packages.yml
  src/app/modules/shared/components/dialog/payment-account/payment-account-dialog.component.css
  src/app/modules/shared/components/dialog/payment-account/payment-account-dialog.component.html
  src/app/modules/shared/components/dialog/payment-account/payment-account-dialog.component.ts
  src/app/modules/shared/components/form-field/app-form-field.component.css
  src/app/modules/shared/components/form-field/app-form-field.component.html
  src/tests/share/components/dialog/accounting/payment-account-dialog.component.spec.ts
Due: prettier --write, npm run lint-css, eslint --fix, npm run lint

chore: lint fix
  src/app/modules/shared/components/dialog/cross-accounts-transfer/cross-accounts-transfer-dialog.component.ts
  src/app/modules/shared/components/form-field/app-form-field.component.html
  src/data/providers/rates/national-bank-currencies.provider.ts
  src/domain/usecases/rates/get-today-rates.usecase.ts
  src/presentation/accounting/components/payments-history/payments-history.component.ts
  src/presentation/currency-rates/components/currency-rates-dashboard/currency-rates-dashboard.component.ts
  src/presentation/currency-rates/services/line-chart.service.ts
  src/tests/currency-rates/currency-rates-route-providers.spec.ts
Due: prettier --write, eslint --fix, npm run lint

Notes added by 'git notes add'
  7d1904d88651b2a6ef36a8f560d098d2e3c8e75d
Due: none

chore: improve transfer popup ui ux
  src/app/modules/shared/components/dialog/cross-accounts-transfer/cross-accounts-transfer-dialog.component.css
  src/app/modules/shared/components/dialog/cross-accounts-transfer/cross-accounts-transfer-dialog.component.html
  src/app/modules/shared/components/dialog/cross-accounts-transfer/cross-accounts-transfer-dialog.component.ts
  src/presentation/accounting/components/payments-dashboard/payments-dashboard.component.ts
  src/presentation/accounting/services/cross-accounts-transfer.dialog.service.ts
  src/tests/accounting/components/payments-dashboard.component.spec.ts
  src/tests/share/components/dialog/accounting/cross-accounts-transfer-dialog.component.spec.ts
Due: prettier --write, npm run lint-css, eslint --fix, npm run lint

fix: fix navigation
  src/presentation/accounting/accounting.routes.ts
  src/presentation/accounting/components/accounting-operations-crud/accounting-operations-crud.component.html
  src/presentation/accounting/components/payment-account-crud/payment-account-crud.component.html
  src/presentation/accounting/components/payment-account-crud/payment-account-crud.component.ts
  src/presentation/accounting/components/payment-account/payment-account.component.ts
  src/presentation/accounting/components/payments-dashboard/payments-dashboard.component.ts
  src/tests/accounting/accounting-route-providers.spec.ts
  src/tests/accounting/components/accounting-operations-crud.component.spec.ts
  src/tests/accounting/components/payment-account-crud.component.spec.ts
  src/tests/accounting/components/payment-account.component.spec.ts
  src/tests/accounting/components/payments-dashboard.component.spec.ts
Due: prettier --write, eslint --fix, npm run lint

chore: fix transfer failes
  src/app/modules/shared/components/dialog/cross-accounts-transfer/cross-accounts-transfer-dialog.component.ts
  src/data/providers/accounting/cross-accounts-transfer.provider.ts
  src/domain/providers/accounting/cross-accounts-transfer.provider.ts
  src/presentation/accounting/services/cross-accounts-transfer.dialog.service.ts
  src/tests/accounting/accounting-route-providers.spec.ts
  src/tests/accounting/cross-accounts-transfer.provider.spec.ts
  src/tests/share/components/dialog/accounting/cross-accounts-transfer-dialog.component.spec.ts
Due: prettier --write, eslint --fix, npm run lint

Notes added by 'git notes add'
  45694521184a66c62f6e68301823eecdc713b85a
Due: none

fix: add transfer operation load
  src/presentation/accounting/accounting.routes.ts
  src/presentation/accounting/components/payments-dashboard/payments-dashboard.component.css
  src/presentation/accounting/components/payments-dashboard/payments-dashboard.component.html
  src/presentation/accounting/components/payments-dashboard/payments-dashboard.component.ts
  src/presentation/accounting/components/payments-history/payments-history.component.ts
  src/presentation/accounting/services/accounts.service.ts
  src/presentation/accounting/services/cross-accounts-transfer.dialog.service.ts
  src/presentation/accounting/services/interfaces/iaccounts.service.ts
  src/presentation/accounting/services/transfer-projection-synchronization.service.ts
  src/tests/accounting/components/payments-dashboard.component.spec.ts
  src/tests/accounting/components/payments-history.component.spec.ts
  src/tests/accounting/services/cross-accounts-transfer.dialog.service.spec.ts
  src/tests/accounting/services/transfer-projection-synchronization.service.spec.ts
  src/tests/share/components/dialog/accounting/cross-accounts-transfer-dialog.component.spec.ts
Due: prettier --write, npm run lint-css, eslint --fix, npm run lint

Notes added by 'git notes add'
  83ba8ad30be2e58538929214b58dd3d974d4c56e
Due: none

chore: enhance transfer with addtional context
  src/data/providers/accounting/entities/payment-operation.entity.ts
  src/data/providers/accounting/mappers/payment-operations.mapping.profile.ts
  src/data/providers/accounting/mappers/payment-representations.mapping.profile.ts
  src/domain/models/accounting/payment-operation.model.ts
  src/presentation/accounting/accounting.routes.ts
  src/presentation/accounting/components/payments-history/payments-history.component.css
  src/presentation/accounting/components/payments-history/payments-history.component.html
  src/presentation/accounting/components/payments-history/payments-history.component.ts
  src/presentation/accounting/models/operation-record.ts
  src/presentation/accounting/services/cross-accounts-transfer.dialog.service.ts
  src/presentation/accounting/services/related-transfer-navigation.service.ts
  src/presentation/accounting/services/transfer-projection-synchronization.service.ts
  src/tests/accounting/accounting-route-providers.spec.ts
  src/tests/accounting/components/payments-dashboard.component.spec.ts
  src/tests/accounting/components/payments-history.component.spec.ts
  src/tests/accounting/mappers/payment-operations-mapping.profile.spec.ts
  src/tests/accounting/services/cross-accounts-transfer.dialog.service.spec.ts
  src/tests/accounting/services/related-transfer-navigation.service.spec.ts
  src/tests/accounting/services/transfer-projection-synchronization.service.spec.ts
Due: prettier --write, npm run lint-css, eslint --fix, npm run lint

chore: self review
  src/presentation/accounting/components/payments-history/payments-history.component.ts
  src/presentation/accounting/services/cross-accounts-transfer.dialog.service.ts
  src/presentation/accounting/services/related-transfer-navigation.service.ts
Due: prettier --write, eslint --fix, npm run lint

Path conditions:
  prettier --write: ((any of: *.css) or (any of: *.{ts, html})) or (any of: *.{js,json,css,scss,less,md,ts,html})
  npm run lint-css: any of: *.css
  eslint --fix: any of: *.{ts, html}
  npm run lint: any of: *.{ts, html}
