Repository Allmantool/h-budget.UI: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint-css, eslint --fix, npm run lint

.lintstagedrc:

{
	"*.css": ["prettier --write", "npm run lint-css"],
	"*.{ts, html}": ["eslint --fix", "prettier --write", "npm run lint"],
	"*.{js,json,css,scss,less,md,ts,html}": ["prettier --write"]
}

feat(M7): adjust payment history represantion
  src/app/modules/shared/components/dialog/cross-accounts-transfer/cross-accounts-transfer-dialog.component.ts
  src/app/modules/shared/components/dialog/payment-account/payment-account-dialog.component.html
  src/app/modules/shared/components/dialog/payment-account/payment-account-dialog.component.ts
  src/app/modules/shared/components/form-field/app-form-field.component.html
  src/app/modules/shared/components/form-field/app-form-field.component.ts
  src/app/modules/shared/models/select-dropdown-options.ts
  src/app/modules/shared/store/states/accounting/accounting-operations-table.state.ts
  src/app/modules/shared/store/states/accounting/actions/payment-account.actions.ts
  src/app/modules/shared/store/states/accounting/payment-account.state.ts
  src/data/providers/accounting/entities/payment-operation.entity.ts
  src/data/providers/accounting/mappers/payment-operations.mapping.profile.ts
  src/data/providers/accounting/mappers/payment-representations.mapping.profile.ts
  src/data/providers/accounting/payments-history.provider.ts
  src/domain/models/accounting/payment-operation.model.ts
  src/domain/types/operation.types.ts
  src/presentation/accounting/components/accounting-operations-crud/accounting-operations-crud.component.ts
  src/presentation/accounting/components/payment-account-crud/payment-account-crud.component.ts
  src/presentation/accounting/components/payment-account/payment-account.component.ts
  src/presentation/accounting/models/operation-record.ts
  src/presentation/accounting/services/accounting-operations.service.ts
  src/presentation/accounting/services/accounts.service.ts
  src/tests/accounting/components/payments-history.component.spec.ts
  src/tests/accounting/services/accounting-operations.service.spec.ts
Due: prettier --write, eslint --fix, npm run lint

chore: update lock json
  package-lock.json
Due: prettier --write

build(deps): upgrade NPM packages (automated)
  package-lock.json
  package.json
Due: prettier --write

tests: adjust with tests
  src/app/modules/shared/components/dialog/payment-account/payment-account-dialog.component.ts
  src/app/modules/shared/components/form-field/app-form-field.component.ts
  src/data/providers/accounting/mappers/payment-representations.mapping.profile.ts
  src/tests/accounting/components/accounting-operations-crud.component.spec.ts
  src/tests/accounting/mappers/payment-accounts.mapping.profile.spec.ts
  src/tests/accounting/mappers/payment-representations.mapping.profile.spec.ts
  src/tests/accounting/services/accounting-operations.service.spec.ts
Due: prettier --write, eslint --fix, npm run lint

tech: adjust versioning bump
  .github/workflows/build.yml
  .github/workflows/update_npm_packages.yml
  .github/workflows/update_semver.yml
Due: none

tech: adjust versioning bump (#230)
  .github/workflows/build.yml
  .github/workflows/update_npm_packages.yml
  .github/workflows/update_semver.yml
Due: none

tech: add tag for npm packages auto update
  .github/workflows/sem-ver-options.json
Due: prettier --write

tech: add tag for npm packages auto update (#232)
  .github/workflows/sem-ver-options.json
Due: prettier --write

tech: tech/move-nginx-to-upper-level
  dockerfile
  nginx.conf
Due: none

tech: tech/move-nginx-to-upper-level (#233)
  dockerfile
  nginx.conf
Due: none

build(deps): upgrade NPM packages (automated)
  package-lock.json
Due: prettier --write

fix: dropdown should support string array as source
  src/app/modules/shared/components/form-field/app-form-field.component.html
  src/app/modules/shared/components/form-field/app-form-field.component.ts
Due: prettier --write, eslint --fix, npm run lint

chore: try bump on pull request
  .github/workflows/sem-ver-options.json
Due: prettier --write

fix: dropdown should support string array as source (#237)
  .github/workflows/sem-ver-options.json
  src/app/modules/shared/components/form-field/app-form-field.component.html
  src/app/modules/shared/components/form-field/app-form-field.component.ts
Due: prettier --write, eslint --fix, npm run lint

fix: remove suffix during bump for master branch
  .github/workflows/sem-ver-options.json
Due: prettier --write

fix: remove suffix during bump for master branch (#238)
  .github/workflows/sem-ver-options.json
Due: prettier --write

tech: update angular version up to 18
  package-lock.json
  package.json
Due: prettier --write

tech: update angular version up to 18 (#250)
  package-lock.json
  package.json
Due: prettier --write
