Repository Allmantool/h-budget.UI: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint-css, eslint --fix, npm run lint

.lintstagedrc:

{
	"*.css": ["prettier --write", "npm run lint-css"],
	"*.{ts, html}": ["eslint --fix", "prettier --write", "npm run lint"],
	"*.{js,json,css,scss,less,md,ts,html}": ["prettier --write"]
}

chore: adjust ci / cd
  .github/workflows/build.yml
Due: none

chore: add lint
  .github/workflows/build.yml
  package-lock.json
  package.json
  project.json
Due: prettier --write

chore: self review
  project.json
Due: prettier --write

chore: self review
  .github/workflows/build.yml
  package.json
  src/app/modules/app-bootstrap/app-bootstrap.module.ts
  src/app/modules/core/core.module.ts
  src/app/modules/core/interceptors/http-request-loader.interceptor.ts
  src/app/modules/shared/angular-material.shared.module.ts
  src/app/modules/shared/shared.module.ts
  src/app/modules/shared/store/states/handbooks/selectors/counterparties.selectors.ts
  src/data/providers/accounting/categories.provider.ts
  src/data/providers/accounting/contractors.provider.ts
  src/domain/models/rates/currency-rate-value.model.ts
  src/presentation/accounting/accounting.module.ts
  src/presentation/accounting/services/accounting-operations.service.ts
  src/presentation/currency-rates/currency-rates-routing.module.ts
  src/presentation/currency-rates/services/line-chart.service.ts
  src/presentation/main-dashboard/main-dashboard-routing.module.ts
  src/presentation/main-dashboard/main-dashboard.module.ts
  src/tests/currency-rates/components/currency-rates-grid.component.spec.ts
  src/tests/currency-rates/services/currency-rates-grid.service.spec.ts
Due: prettier --write, eslint --fix, npm run lint

chore: remove reduntant libraries
  nx.json
  package-lock.json
  package.json
  project.json
Due: prettier --write

chore: self review
  .github/workflows/build.yml
Due: none

tech:update npm update package (#364)
  .github/workflows/build.yml
  .github/workflows/update_npm_packages.yml
  nx.json
  package-lock.json
  package.json
  project.json
  src/app/modules/app-bootstrap/app-bootstrap.module.ts
  src/app/modules/core/core.module.ts
  src/app/modules/core/interceptors/http-request-loader.interceptor.ts
  src/app/modules/shared/angular-material.shared.module.ts
  src/app/modules/shared/shared.module.ts
  src/app/modules/shared/store/states/handbooks/selectors/counterparties.selectors.ts
  src/data/providers/accounting/categories.provider.ts
  src/data/providers/accounting/contractors.provider.ts
  src/domain/models/rates/currency-rate-value.model.ts
  src/presentation/accounting/accounting.module.ts
  src/presentation/accounting/services/accounting-operations.service.ts
  src/presentation/currency-rates/currency-rates-routing.module.ts
  src/presentation/currency-rates/services/line-chart.service.ts
  src/presentation/main-dashboard/main-dashboard-routing.module.ts
  src/presentation/main-dashboard/main-dashboard.module.ts
  src/tests/currency-rates/components/currency-rates-grid.component.spec.ts
  src/tests/currency-rates/services/currency-rates-grid.service.spec.ts
Due: prettier --write, eslint --fix, npm run lint

"Updated version 0.35.68 -> 0.36.68."
  package-lock.json
  package.json
Due: prettier --write

fix: add y axis
  src/presentation/currency-rates/models/chart-options.ts
  src/presentation/currency-rates/services/line-chart.service.ts
Due: prettier --write, eslint --fix, npm run lint

fix: add y axis (#365)
  src/presentation/currency-rates/models/chart-options.ts
  src/presentation/currency-rates/services/line-chart.service.ts
Due: prettier --write, eslint --fix, npm run lint

"Updated version 0.36.68 -> 0.37.68."
  package-lock.json
  package.json
Due: prettier --write

build(deps): upgrade NPM packages (automated)
  package-lock.json
  package.json
Due: prettier --write

"Updated version 0.37.68 -> 0.38.68."
  package-lock.json
  package.json
Due: prettier --write

"Updated version 0.38.68 -> 0.39.68."
  package-lock.json
  package.json
Due: prettier --write

build(deps): upgrade NPM packages (automated)
  package-lock.json
Due: prettier --write

"Updated version 0.39.68 -> 0.40.68."
  package-lock.json
  package.json
Due: prettier --write

"Updated version 0.40.68 -> 0.41.68."
  package-lock.json
  package.json
Due: prettier --write

"Updated version 0.41.68 -> 0.42.68."
  package-lock.json
  package.json
Due: prettier --write

"Updated version 0.42.68 -> 0.43.68."
  package-lock.json
  package.json
Due: prettier --write

tech: add log service
  package-lock.json
  package.json
  src/app/modules/shared/components/dialog/cross-accounts-transfer/cross-accounts-transfer-dialog.component.ts
  src/app/modules/shared/constants/rates-grid-default-options.ts
  src/app/modules/shared/services/loader-service.ts
  src/app/modules/shared/store/states/rates/currency-table.state.ts
  src/presentation/accounting/components/payment-account/payment-account.component.ts
  src/presentation/currency-rates/components/currency-rates-grid/currency-rates-grid.component.css
  src/presentation/currency-rates/components/currency-rates-grid/currency-rates-grid.component.html
  src/presentation/currency-rates/components/currency-rates-grid/currency-rates-grid.component.ts
  src/presentation/currency-rates/currency-rates.module.ts
  src/presentation/currency-rates/services/line-chart-title.service.ts
  src/presentation/currency-rates/services/line-chart.service.ts
Due: prettier --write, npm run lint-css, eslint --fix, npm run lint

chore: self review
  src/tests/currency-rates/services/currency-rates-grid.service.spec.ts
Due: prettier --write, eslint --fix, npm run lint

tech: add log service (#379)
  package-lock.json
  package.json
  src/app/modules/shared/components/dialog/cross-accounts-transfer/cross-accounts-transfer-dialog.component.ts
  src/app/modules/shared/constants/rates-grid-default-options.ts
  src/app/modules/shared/services/loader-service.ts
  src/app/modules/shared/store/states/rates/currency-table.state.ts
  src/presentation/accounting/components/payment-account/payment-account.component.ts
  src/presentation/currency-rates/components/currency-rates-grid/currency-rates-grid.component.css
  src/presentation/currency-rates/components/currency-rates-grid/currency-rates-grid.component.html
  src/presentation/currency-rates/components/currency-rates-grid/currency-rates-grid.component.ts
  src/presentation/currency-rates/currency-rates.module.ts
  src/presentation/currency-rates/services/line-chart-title.service.ts
  src/presentation/currency-rates/services/line-chart.service.ts
  src/tests/currency-rates/services/currency-rates-grid.service.spec.ts
Due: prettier --write, npm run lint-css, eslint --fix, npm run lint

"Updated version 0.43.68 -> 0.44.68."
  package-lock.json
  package.json
Due: prettier --write

"Updated version 0.44.68 -> 0.45.68."
  package-lock.json
  package.json
Due: prettier --write

"Updated version 0.45.68 -> 0.46.68."
  package-lock.json
  package.json
Due: prettier --write

"Updated version 0.46.68 -> 0.47.68."
  package-lock.json
  package.json
Due: prettier --write
