Repository Allmantool/h-budget.UI: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint-css, eslint --fix, npm run lint

test(M7): cover with initial test 'categories-dialog.component'
  package-lock.json
  package.json
  src/app/modules/shared/components/dialog/categories/categories-dialog.component.ts
  src/tests/share/components/dialog/categories/categories-dialog.component.spec.ts
Due: prettier --write, eslint --fix, npm run lint

build(deps): upgrade NPM packages (automated)
  package-lock.json
  package.json
Due: prettier --write

build(deps): upgrade NPM packages (automated)
  package-lock.json
Due: prettier --write

feat(M7): update npm packages
  package-lock.json
  package.json
Due: prettier --write

feat(M7): update ts config
  tsconfig.json
Due: prettier --write

test(M7): adjust tests
  src/data/providers/accounting/payment-accounts.provider.ts
  src/data/providers/rates/national-bank-currencies.provider.ts
  src/domain/providers/accounting/payment-accounts.provider.ts
  src/presentation/accounting/accounting.module.ts
  src/presentation/accounting/components/accounting-operations-crud/accounting-operations-crud.component.ts
  src/presentation/accounting/components/payments-history/payments-history.component.ts
  src/presentation/accounting/services/accounting-operations.service.ts
  src/presentation/accounting/services/accounts.service.ts
  src/presentation/accounting/services/interfaces/iaccounts.service.ts
  src/presentation/accounting/services/payment-account-dialog.service.ts
  src/tests/accounting/components/accounting-operations-crud.component.spec.ts
  src/tests/accounting/components/payments-history.component.spec.ts
  src/tests/accounting/services/accounting-operations.service.spec.ts
  src/tests/currency-rates/components/currency-rates-line-chart.component.spec.ts
Due: prettier --write, eslint --fix, npm run lint

chore(M7): self review
  src/data/providers/accounting/payments-history.provider.ts
  src/presentation/accounting/components/payments-history/payments-history.component.ts
  src/presentation/accounting/services/interfaces/Ipayments-history.service.ts
  src/presentation/accounting/services/payments-history.service.ts
Due: prettier --write, eslint --fix, npm run lint

chore(M7): formatting
  tsconfig.json
Due: prettier --write

Test/m7/categories dialog.component.ts (#154)
  package-lock.json
  package.json
  src/app/modules/shared/components/dialog/categories/categories-dialog.component.ts
  src/data/providers/accounting/payment-accounts.provider.ts
  src/data/providers/accounting/payments-history.provider.ts
  src/data/providers/rates/national-bank-currencies.provider.ts
  src/domain/providers/accounting/payment-accounts.provider.ts
  src/presentation/accounting/accounting.module.ts
  src/presentation/accounting/components/accounting-operations-crud/accounting-operations-crud.component.ts
  src/presentation/accounting/components/payments-history/payments-history.component.ts
  src/presentation/accounting/services/accounting-operations.service.ts
  src/presentation/accounting/services/accounts.service.ts
  src/presentation/accounting/services/interfaces/Ipayments-history.service.ts
  src/presentation/accounting/services/interfaces/iaccounts.service.ts
  src/presentation/accounting/services/payment-account-dialog.service.ts
  src/presentation/accounting/services/payments-history.service.ts
  src/tests/accounting/components/accounting-operations-crud.component.spec.ts
  src/tests/accounting/components/payments-history.component.spec.ts
  src/tests/accounting/services/accounting-operations.service.spec.ts
  src/tests/currency-rates/components/currency-rates-line-chart.component.spec.ts
  src/tests/share/components/dialog/categories/categories-dialog.component.spec.ts
  tsconfig.json
Due: prettier --write, eslint --fix, npm run lint

"Updated version 0.211 -> 0.212-rc."
  package-lock.json
  package.json
Due: prettier --write

test(M7): update npm packages
  package-lock.json
  package.json
Due: prettier --write

"Updated version 0.212-rc -> 0.212.NaN."
  package-lock.json
  package.json
Due: prettier --write

"Updated version 0.212-rc -> 0.213-rc."
  package-lock.json
  package.json
Due: prettier --write

tech(M7): update npm packages
  package-lock.json
  package.json
Due: prettier --write

test(M7): add tests for form field
  src/app/modules/shared/components/form-field/app-form-field.component.ts
  src/presentation/accounting/components/payments-history/payments-history.component.css
  src/presentation/accounting/components/payments-history/payments-history.component.html
  src/presentation/accounting/components/payments-history/payments-history.component.ts
  src/tests/share/components/form-field/app-form-field.component.spec.ts
Due: prettier --write, npm run lint-css, eslint --fix, npm run lint

Test/m7/app form field.component (#157)
  package-lock.json
  package.json
  src/app/modules/shared/components/form-field/app-form-field.component.ts
  src/presentation/accounting/components/payments-history/payments-history.component.css
  src/presentation/accounting/components/payments-history/payments-history.component.html
  src/presentation/accounting/components/payments-history/payments-history.component.ts
  src/tests/share/components/form-field/app-form-field.component.spec.ts
Due: prettier --write, npm run lint-css, eslint --fix, npm run lint

fix: add tag
  package.json
Due: prettier --write

fix: add tag (#158)
  package.json
Due: prettier --write

"Updated version 0.214 -> 0.215-rc."
  package.json
Due: prettier --write

"Updated version 0.215-rc -> 0.216-rc."
  package-lock.json
  package.json
Due: prettier --write

test(M7): add tests for contractors dialog
  package-lock.json
  package.json
  src/tests/share/components/dialog/categories/categories-dialog.component.spec.ts
  src/tests/share/components/dialog/contractors/contractors-dialog.component.spec.ts
Due: prettier --write, eslint --fix, npm run lint

test(M7): add tests for contractors dialog (#160)
  package-lock.json
  package.json
  src/tests/share/components/dialog/categories/categories-dialog.component.spec.ts
  src/tests/share/components/dialog/contractors/contractors-dialog.component.spec.ts
Due: prettier --write, eslint --fix, npm run lint

"Updated version 0.216-rc -> 0.216.NaN."
  package-lock.json
  package.json
Due: prettier --write

"Updated version 0.216-rc -> 0.217-rc."
  package-lock.json
  package.json
Due: prettier --write

test(M7): add base tests for payments account dialog service
  .github/workflows/sem-ver-options.json
  .github/workflows/version-bumper.yaml
  src/domain/providers/accounting/payment-accounts.provider.ts
  src/tests/accounting/services/payment-account-dialog.service.spec.ts
  src/tests/share/components/dialog/accounting/payment-account-dialog.component.spec.ts
Due: prettier --write, eslint --fix, npm run lint

test(M7): add base tests for payments account dialog service (#161)
  .github/workflows/sem-ver-options.json
  .github/workflows/version-bumper.yaml
  src/domain/providers/accounting/payment-accounts.provider.ts
  src/tests/accounting/services/payment-account-dialog.service.spec.ts
  src/tests/share/components/dialog/accounting/payment-account-dialog.component.spec.ts
Due: prettier --write, eslint --fix, npm run lint

"Updated version 0.216 -> 0.217.1-rc."
  package-lock.json
  package.json
Due: prettier --write

"Updated version 0.217.1-rc -> 0.217.1."
  package-lock.json
  package.json
Due: prettier --write

test(M7): add tests for payment accounts provider
  src/data/providers/accounting/payment-accounts.provider.ts
  src/presentation/main-dashboard/main-dashboard.component.spec.ts
  src/tests/accounting/components/accounting-operations-crud.component.spec.ts
  src/tests/accounting/components/payment-account.component.spec.ts
  src/tests/accounting/payment-accounts.provider.spec.ts
  src/tests/accounting/services/payments-history.service.spec.ts
  src/tests/currency-rates/components/currency-rates-grid.component.spec.ts
  src/tests/currency-rates/components/currency-rates-line-chart.component.spec.ts
  src/tests/currency-rates/mappers/presentation-rates-mapping.profiler.spec.ts
  src/tests/currency-rates/providers/national-bank-currency.provider.spec.ts
  src/tests/currency-rates/services/currency-rates-grid.service.spec.ts
  src/tests/currency-rates/services/line-chart-title.service.spec.ts
  src/tests/currency-rates/services/line-chart.service.spec.ts
  src/tests/share/components/dialog/accounting/payment-account-dialog.component.spec.ts
  src/tests/share/components/dialog/contractors/contractors-dialog.component.spec.ts
  src/tests/share/components/dialog/rates/date-range-dialog.component.spec.ts
  src/tests/share/store/states/currency-rates.state.spec.ts
Due: prettier --write, eslint --fix, npm run lint

Test/m7/payment accounts.provider.ts (#163)
  package-lock.json
  package.json
  src/data/providers/accounting/payment-accounts.provider.ts
  src/presentation/main-dashboard/main-dashboard.component.spec.ts
  src/tests/accounting/components/accounting-operations-crud.component.spec.ts
  src/tests/accounting/components/payment-account.component.spec.ts
  src/tests/accounting/payment-accounts.provider.spec.ts
  src/tests/accounting/services/payments-history.service.spec.ts
  src/tests/currency-rates/components/currency-rates-grid.component.spec.ts
  src/tests/currency-rates/components/currency-rates-line-chart.component.spec.ts
  src/tests/currency-rates/mappers/presentation-rates-mapping.profiler.spec.ts
  src/tests/currency-rates/providers/national-bank-currency.provider.spec.ts
  src/tests/currency-rates/services/currency-rates-grid.service.spec.ts
  src/tests/currency-rates/services/line-chart-title.service.spec.ts
  src/tests/currency-rates/services/line-chart.service.spec.ts
  src/tests/share/components/dialog/accounting/payment-account-dialog.component.spec.ts
  src/tests/share/components/dialog/contractors/contractors-dialog.component.spec.ts
  src/tests/share/components/dialog/rates/date-range-dialog.component.spec.ts
  src/tests/share/store/states/currency-rates.state.spec.ts
Due: prettier --write, eslint --fix, npm run lint

"Updated version 0.217.1 -> 0.218.1-rc."
  package-lock.json
  package.json
Due: prettier --write

tech: tweak sonnar settings
  sonar-project.properties
Due: none

"Updated version 0.218.1-rc -> 0.218.2."
  package-lock.json
  package.json
Due: prettier --write

Tech/twik sonar project settings (#164)
  package-lock.json
  package.json
  sonar-project.properties
Due: prettier --write

Path conditions:
  prettier --write: ((any of: *.css) or (any of: *.{ts, html})) or (any of: *.{js,json,css,scss,less,md,ts,html})
  npm run lint-css: any of: *.css
  eslint --fix: any of: *.{ts, html}
  npm run lint: any of: *.{ts, html}
